<template>
  <div class="text-center">
    <div class="vector404 m-4">
      <div v-if="error.statusCode === 404">
        <svg
          viewBox="0 0 1440 705"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          width="522"
        >
          <rect fill="#E5E5E5"></rect>
          <rect fill="white"></rect>
          <path
            d="M724.621 705C1115.09 705 1431.63 686.133 1431.63 662.86C1431.63 639.586 1115.09 620.719 724.621 620.719C334.153 620.719 17.6161 639.586 17.6161 662.86C17.6161 686.133 334.153 705 724.621 705Z"
            fill="#F2F2F2"
          ></path>
          <path
            d="M697.523 201.533C582.333 201.533 499.627 268.071 499.627 423.325C499.627 599.279 582.333 645.856 697.523 645.856C812.713 645.856 900.345 594.843 900.345 423.325C900.345 239.977 812.713 201.533 697.523 201.533ZM698.28 587.45C618.497 587.45 576.815 545.308 576.815 423.438C576.815 315.906 620.203 259.199 699.986 259.199C779.77 259.199 823.158 296.447 823.158 423.438C823.158 542.236 778.064 587.45 698.28 587.45Z"
            fill="#CB3030"
          ></path>
          <path
            d="M430.651 523.131H383.025V396.861C383.025 390.154 380.066 383.722 374.798 378.98C369.531 374.238 362.387 371.573 354.938 371.573H343.778C340.09 371.573 336.437 372.227 333.03 373.498C329.622 374.769 326.526 376.632 323.918 378.98C321.31 381.328 319.241 384.116 317.829 387.184C316.418 390.252 315.691 393.54 315.691 396.861V523.131H181.354C178.59 523.131 175.873 522.488 173.467 521.264C171.061 520.04 169.047 518.277 167.62 516.146C166.194 514.015 165.403 511.588 165.326 509.101C165.248 506.614 165.885 504.151 167.176 501.951L309.358 259.666C311.13 256.645 312.205 253.333 312.516 249.928C312.828 246.523 312.369 243.097 311.169 239.856C309.969 236.615 308.052 233.626 305.534 231.071C303.016 228.515 299.949 226.445 296.517 224.986L288.124 221.418C281.607 218.647 274.156 218.238 267.313 220.275C260.47 222.312 254.759 226.64 251.361 232.363L77.9517 524.427C74.9987 529.401 73.4539 534.953 73.4539 540.592V540.592C73.4539 545.095 74.439 549.554 76.3529 553.715C78.2669 557.875 81.0723 561.655 84.6089 564.839C88.1454 568.023 92.3439 570.549 96.9647 572.272C101.585 573.995 106.538 574.882 111.539 574.882H315.691V654.727C315.691 658.708 316.562 662.649 318.254 666.327C319.946 670.004 322.426 673.346 325.552 676.161C328.678 678.975 332.39 681.208 336.474 682.731C340.559 684.255 344.937 685.039 349.358 685.039H349.358C353.779 685.039 358.157 684.255 362.242 682.731C366.326 681.208 370.038 678.975 373.164 676.161C376.29 673.346 378.77 670.004 380.462 666.327C382.154 662.649 383.025 658.708 383.025 654.727V574.882H430.651C438.274 574.882 445.584 572.156 450.973 567.303C456.363 562.451 459.391 555.869 459.391 549.007V549.007C459.391 542.144 456.363 535.562 450.974 530.71C445.584 525.857 438.274 523.131 430.651 523.131V523.131Z"
            fill="#51C48A"
          ></path>
          <path
            d="M1312.56 523.131H1264.93V396.861C1264.93 390.154 1261.97 383.722 1256.71 378.98C1251.44 374.238 1244.3 371.573 1236.85 371.573H1225.69C1222 371.573 1218.35 372.227 1214.94 373.498C1211.53 374.769 1208.43 376.632 1205.83 378.98C1203.22 381.328 1201.15 384.116 1199.74 387.184C1198.33 390.252 1197.6 393.54 1197.6 396.861V523.131H1063.26C1060.5 523.131 1057.78 522.488 1055.38 521.264C1052.97 520.04 1050.95 518.277 1049.53 516.146C1048.1 514.015 1047.31 511.588 1047.23 509.101C1047.16 506.614 1047.79 504.151 1049.08 501.951L1191.27 259.666C1193.04 256.645 1194.11 253.333 1194.42 249.928C1194.74 246.523 1194.28 243.097 1193.08 239.856C1191.88 236.615 1189.96 233.626 1187.44 231.071C1184.92 228.515 1181.86 226.445 1178.43 224.986L1170.03 221.418C1163.51 218.647 1156.06 218.238 1149.22 220.275C1142.38 222.312 1136.67 226.64 1133.27 232.363L959.86 524.427C956.907 529.401 955.362 534.953 955.362 540.592V540.592C955.362 549.687 959.375 558.408 966.517 564.839C973.659 571.27 983.347 574.882 993.448 574.882H1197.6V654.727C1197.6 662.766 1201.15 670.476 1207.46 676.161C1213.77 681.845 1222.34 685.039 1231.27 685.039V685.039C1240.2 685.039 1248.76 681.845 1255.07 676.161C1261.39 670.476 1264.93 662.766 1264.93 654.727V574.882H1312.56C1320.18 574.882 1327.49 572.156 1332.88 567.303C1338.27 562.451 1341.3 555.869 1341.3 549.007V549.007C1341.3 542.144 1338.27 535.562 1332.88 530.71C1327.49 525.857 1320.18 523.131 1312.56 523.131Z"
            fill="#51C48A"
          ></path>
          <path
            d="M443.79 508.345H396.163V382.075C396.163 378.754 395.437 375.466 394.025 372.398C392.614 369.33 390.545 366.542 387.937 364.194C385.329 361.846 382.232 359.983 378.825 358.712C375.417 357.441 371.765 356.787 368.076 356.787H356.917C349.467 356.787 342.323 359.451 337.056 364.194C331.789 368.936 328.829 375.368 328.829 382.075V508.345H194.492C191.728 508.345 189.012 507.702 186.605 506.478C184.199 505.254 182.185 503.491 180.759 501.36C179.332 499.229 178.542 496.802 178.464 494.315C178.386 491.827 179.024 489.364 180.315 487.164L322.496 244.88C324.269 241.859 325.343 238.547 325.655 235.142C325.966 231.737 325.508 228.311 324.308 225.07C323.108 221.828 321.191 218.84 318.673 216.284C316.154 213.729 313.087 211.659 309.656 210.2L301.262 206.632C294.745 203.861 287.294 203.452 280.451 205.489C273.608 207.526 267.897 211.854 264.499 217.577L91.09 509.641C88.1371 514.614 86.5922 520.167 86.5922 525.806V525.806C86.5922 534.9 90.6047 543.622 97.7472 550.053C104.89 556.483 114.577 560.096 124.678 560.096H328.829V639.941C328.829 643.922 329.7 647.863 331.392 651.541C333.084 655.218 335.564 658.56 338.69 661.374C341.817 664.189 345.528 666.422 349.613 667.945C353.697 669.468 358.075 670.252 362.496 670.252H362.496C371.425 670.252 379.989 667.059 386.302 661.374C392.616 655.69 396.163 647.98 396.163 639.941V560.096H443.79C447.564 560.096 451.301 559.427 454.788 558.126C458.275 556.826 461.443 554.92 464.112 552.517C466.781 550.114 468.898 547.262 470.342 544.123C471.786 540.983 472.53 537.618 472.53 534.22V534.22C472.53 530.822 471.786 527.458 470.342 524.318C468.898 521.179 466.781 518.326 464.112 515.924C461.443 513.521 458.275 511.615 454.788 510.314C451.301 509.014 447.564 508.345 443.79 508.345V508.345Z"
            stroke="#3F3D56"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M1337.19 508.345H1289.57V382.075C1289.57 375.368 1286.61 368.936 1281.34 364.194C1276.07 359.451 1268.93 356.787 1261.48 356.787H1250.32C1246.63 356.787 1242.98 357.441 1239.57 358.712C1236.16 359.983 1233.07 361.846 1230.46 364.194C1227.85 366.542 1225.78 369.33 1224.37 372.398C1222.96 375.466 1222.23 378.754 1222.23 382.075V508.345H1087.9C1085.13 508.345 1082.42 507.702 1080.01 506.478C1077.6 505.254 1075.59 503.491 1074.16 501.36C1072.74 499.229 1071.95 496.802 1071.87 494.315C1071.79 491.827 1072.43 489.364 1073.72 487.164L1215.9 244.88C1217.67 241.859 1218.75 238.547 1219.06 235.142C1219.37 231.737 1218.91 228.311 1217.71 225.07C1216.51 221.828 1214.59 218.84 1212.08 216.284C1209.56 213.729 1206.49 211.659 1203.06 210.2L1194.67 206.632C1188.15 203.861 1180.7 203.452 1173.86 205.489C1167.01 207.526 1161.3 211.854 1157.9 217.577L984.494 509.641C981.541 514.614 979.996 520.167 979.996 525.806C979.996 534.9 984.009 543.622 991.151 550.053C998.294 556.483 1007.98 560.096 1018.08 560.096H1222.23V639.941C1222.23 647.98 1225.78 655.69 1232.09 661.374C1238.41 667.059 1246.97 670.252 1255.9 670.252V670.252C1264.83 670.252 1273.39 667.059 1279.71 661.374C1286.02 655.69 1289.57 647.98 1289.57 639.941V560.096H1337.19C1340.97 560.096 1344.7 559.427 1348.19 558.126C1351.68 556.826 1354.85 554.92 1357.52 552.517C1360.18 550.114 1362.3 547.262 1363.75 544.123C1365.19 540.983 1365.93 537.618 1365.93 534.22V534.22C1365.93 527.358 1362.91 520.776 1357.52 515.924C1352.13 511.071 1344.82 508.345 1337.19 508.345V508.345Z"
            stroke="#3F3D56"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M723.799 188.226C608.609 188.226 525.904 254.763 525.904 410.017C525.904 585.972 608.609 632.548 723.799 632.548C838.99 632.548 926.622 581.536 926.622 410.017C926.622 226.669 838.99 188.226 723.799 188.226ZM724.557 574.143C644.773 574.143 603.091 532.001 603.091 410.131C603.091 302.598 646.48 245.891 726.263 245.891C806.047 245.891 849.435 283.14 849.435 410.131C849.435 528.929 804.34 574.143 724.557 574.143V574.143Z"
            stroke="#3F3D56"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M1349.49 506.277C1353.55 507.606 1357.9 508.067 1362.19 507.625C1366.48 507.183 1370.6 505.85 1374.23 503.73C1377.85 501.61 1380.87 498.762 1383.06 495.41C1385.26 492.058 1386.55 488.293 1386.85 484.413C1387.15 480.533 1386.44 476.643 1384.79 473.05C1383.13 469.458 1380.57 466.26 1377.31 463.71C1374.05 461.16 1370.18 459.327 1365.99 458.355C1361.81 457.383 1357.43 457.299 1353.21 458.11L1353.91 471.037L1347.11 459.959C1340.45 462.779 1335.3 467.867 1332.79 474.105C1331.9 476.289 1331.36 478.577 1331.19 480.898C1330.76 486.345 1332.32 491.769 1335.62 496.348C1338.92 500.928 1343.79 504.413 1349.49 506.277V506.277Z"
            fill="#57B894"
          ></path>
          <path
            d="M1383.1 656.203C1380.71 645.21 1391.1 635.463 1401.36 629.129C1411.62 622.794 1423.61 616.569 1427.12 605.819C1432.15 590.368 1417.16 576.218 1405.49 564.016C1396.83 554.96 1389.4 545.013 1383.34 534.382C1380.92 530.119 1378.69 525.663 1378.05 520.908C1377.13 514.059 1379.57 507.244 1382.03 500.711C1390.23 478.949 1399 457.369 1408.34 435.971"
            stroke="#3F3D56"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M1350.64 502.949C1354.7 504.277 1359.05 504.739 1363.34 504.297C1367.63 503.855 1371.75 502.522 1375.37 500.402C1379 498.282 1382.02 495.434 1384.21 492.082C1386.4 488.73 1387.7 484.965 1388 481.085C1388.3 477.205 1387.59 473.315 1385.94 469.722C1384.28 466.129 1381.72 462.932 1378.46 460.382C1375.2 457.832 1371.32 455.998 1367.14 455.027C1362.96 454.055 1358.58 453.971 1354.36 454.782L1355.05 467.709L1348.26 456.631C1341.59 459.451 1336.44 464.539 1333.94 470.776C1333.05 472.961 1332.51 475.249 1332.34 477.57C1331.91 483.017 1333.46 488.441 1336.77 493.02C1340.07 497.6 1344.94 501.085 1350.64 502.949V502.949Z"
            stroke="#3F3D56"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M1379.69 431.507C1381.29 427.549 1383.96 424.015 1387.47 421.232C1390.98 418.449 1395.21 416.505 1399.77 415.581L1402.07 427.87L1406.33 414.963C1412.24 415.042 1417.97 416.811 1422.69 420.014C1427.42 423.216 1430.89 427.688 1432.6 432.782C1434.32 437.876 1434.19 443.33 1432.24 448.356C1430.29 453.381 1426.62 457.719 1421.75 460.742C1416.89 463.765 1411.08 465.318 1405.17 465.175C1399.26 465.033 1393.55 463.203 1388.87 459.949C1384.19 456.696 1380.78 452.188 1379.13 447.075C1377.48 441.963 1377.68 436.511 1379.69 431.507H1379.69Z"
            fill="#57B894"
          ></path>
          <path
            d="M1381.23 427.069C1382.82 423.111 1385.49 419.578 1389 416.795C1392.51 414.011 1396.74 412.068 1401.3 411.144L1403.6 423.433L1407.86 410.526C1413.77 410.605 1419.5 412.373 1424.22 415.576C1428.95 418.779 1432.42 423.25 1434.13 428.345C1435.85 433.439 1435.73 438.892 1433.78 443.918C1431.82 448.944 1428.15 453.281 1423.28 456.304C1418.42 459.328 1412.61 460.88 1406.7 460.738C1400.79 460.595 1395.08 458.765 1390.4 455.512C1385.72 452.259 1382.31 447.75 1380.66 442.638C1379.01 437.526 1379.21 432.074 1381.23 427.069H1381.23Z"
            stroke="#3F3D56"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M1400.59 564.265C1407.03 566.368 1414.11 566.264 1420.47 563.973C1426.82 561.682 1432.03 557.365 1435.08 551.844C1438.13 546.322 1438.82 539.983 1437.01 534.035C1435.2 528.086 1431.03 522.945 1425.28 519.589L1422.01 529.507L1419.69 517.074C1419.67 517.064 1419.64 517.056 1419.62 517.049C1416.17 515.922 1412.52 515.418 1408.86 515.564C1405.2 515.709 1401.6 516.503 1398.28 517.9C1394.96 519.297 1391.98 521.269 1389.51 523.703C1387.03 526.137 1385.12 528.987 1383.87 532.088C1382.62 535.189 1382.06 538.482 1382.23 541.778C1382.39 545.074 1383.27 548.308 1384.83 551.296C1386.38 554.285 1388.57 556.968 1391.28 559.193C1393.98 561.418 1397.15 563.142 1400.59 564.265H1400.59Z"
            fill="#57B894"
          ></path>
          <path
            d="M1401.92 559.77C1408.36 561.873 1415.43 561.769 1421.79 559.479C1428.15 557.188 1433.35 552.87 1436.4 547.349C1439.45 541.828 1440.14 535.489 1438.34 529.54C1436.53 523.592 1432.35 518.45 1426.61 515.095L1423.34 525.013L1421.02 512.579C1420.99 512.569 1420.97 512.561 1420.94 512.555C1417.5 511.428 1413.84 510.923 1410.18 511.069C1406.52 511.215 1402.93 512.009 1399.61 513.405C1396.29 514.802 1393.31 516.774 1390.84 519.208C1388.36 521.643 1386.45 524.492 1385.2 527.593C1383.95 530.695 1383.39 533.988 1383.55 537.283C1383.72 540.579 1384.6 543.814 1386.15 546.802C1387.71 549.79 1389.9 552.473 1392.6 554.698C1395.31 556.924 1398.48 558.647 1401.92 559.77H1401.92Z"
            stroke="#3F3D56"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M1371.55 605.972C1372.66 611.644 1375.9 616.801 1380.73 620.577C1385.56 624.354 1391.68 626.521 1398.07 626.714C1404.47 626.908 1410.74 625.117 1415.84 621.642C1420.94 618.166 1424.56 613.217 1426.08 607.626C1427.61 602.034 1426.96 596.139 1424.23 590.929C1421.51 585.72 1416.87 581.513 1411.11 579.013C1405.35 576.514 1398.81 575.875 1392.58 577.202C1386.36 578.53 1380.83 581.744 1376.93 586.306L1389.36 603.147L1372.38 594.209C1371.06 598.014 1370.78 602.048 1371.55 605.972V605.972Z"
            fill="#57B894"
          ></path>
          <path
            d="M1372.7 602.644C1373.81 608.316 1377.05 613.472 1381.88 617.249C1386.71 621.026 1392.83 623.193 1399.22 623.386C1405.62 623.58 1411.89 621.789 1416.99 618.314C1422.09 614.838 1425.71 609.889 1427.23 604.297C1428.76 598.706 1428.11 592.811 1425.38 587.601C1422.66 582.392 1418.02 578.184 1412.26 575.685C1406.5 573.186 1399.96 572.547 1393.73 573.874C1387.51 575.202 1381.98 578.416 1378.08 582.978L1390.51 599.819L1373.52 590.88C1372.21 594.686 1371.93 598.72 1372.7 602.644V602.644Z"
            stroke="#3F3D56"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M12.0726 567.456C14.7402 568.329 17.5966 568.632 20.4166 568.342C23.2366 568.052 25.9432 567.176 28.323 565.783C30.7028 564.39 32.6908 562.519 34.1302 560.316C35.5697 558.114 36.4213 555.641 36.6179 553.091C36.8145 550.542 36.3508 547.986 35.2633 545.626C34.1757 543.265 32.4941 541.164 30.3509 539.489C28.2077 537.813 25.6616 536.609 22.9132 535.97C20.1648 535.332 17.2893 535.277 14.5133 535.81L14.972 544.303L10.509 537.024C6.12885 538.877 2.74498 542.22 1.10104 546.318C0.517203 547.754 0.162275 549.257 0.0468422 550.782C-0.234865 554.36 0.786718 557.924 2.95678 560.933C5.12684 563.942 8.3271 566.232 12.0726 567.456V567.456Z"
            fill="#57B894"
          ></path>
          <path
            d="M34.1557 665.96C32.5802 658.737 39.407 652.334 46.1502 648.172C52.8934 644.01 60.7725 639.92 63.0733 632.857C66.3799 622.706 56.5304 613.409 48.8643 605.392C43.1767 599.442 38.2924 592.907 34.3137 585.922C32.5839 583.178 31.4057 580.181 30.8333 577.069C30.2289 572.569 31.8345 568.092 33.4522 563.799C38.841 549.501 44.6025 535.323 50.7369 521.264"
            stroke="#3F3D56"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M12.8274 565.269C15.495 566.142 18.3513 566.446 21.1713 566.155C23.9914 565.865 26.6979 564.989 29.0777 563.596C31.4575 562.204 33.4455 560.332 34.885 558.13C36.3244 555.927 37.176 553.454 37.3726 550.904C37.5693 548.355 37.1055 545.799 36.018 543.439C34.9304 541.079 33.2488 538.978 31.1056 537.302C28.9625 535.627 26.4164 534.422 23.668 533.784C20.9196 533.145 18.0441 533.09 15.2681 533.623L15.7268 542.116L11.2638 534.838C6.88362 536.691 3.49974 540.034 1.8558 544.132C1.27197 545.567 0.917048 547.07 0.801609 548.595C0.519883 552.174 1.54146 555.738 3.71152 558.746C5.88159 561.755 9.08186 564.045 12.8274 565.269V565.269Z"
            stroke="#3F3D56"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M31.9156 518.331C32.9625 515.73 34.7195 513.409 37.0248 511.58C39.3301 509.751 42.1095 508.475 45.1069 507.867L46.6159 515.941L49.4136 507.461C53.298 507.513 57.0636 508.675 60.1667 510.78C63.2699 512.884 65.5499 515.822 66.6778 519.169C67.8056 522.516 67.7228 526.099 66.4414 529.401C65.16 532.703 62.7462 535.552 59.5486 537.539C56.3509 539.525 52.5349 540.545 48.6515 540.451C44.768 540.358 41.0181 539.155 37.9431 537.018C34.868 534.881 32.6271 531.919 31.5437 528.56C30.4603 525.201 30.5905 521.619 31.9156 518.331V518.331Z"
            fill="#57B894"
          ></path>
          <path
            d="M32.922 515.415C33.9688 512.815 35.7259 510.493 38.0312 508.665C40.3365 506.836 43.1159 505.559 46.1133 504.952L47.6223 513.026L50.4199 504.546C54.3044 504.598 58.07 505.76 61.1731 507.864C64.2762 509.968 66.5563 512.906 67.6841 516.253C68.8119 519.6 68.7292 523.183 67.4477 526.485C66.1663 529.787 63.7525 532.637 60.5549 534.623C57.3573 536.61 53.5413 537.63 49.6578 537.536C45.7744 537.442 42.0244 536.24 38.9494 534.103C35.8744 531.965 33.6334 529.003 32.55 525.644C31.4666 522.285 31.5969 518.703 32.922 515.415V515.415Z"
            stroke="#3F3D56"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M45.6471 605.555C49.8776 606.937 54.5249 606.869 58.7031 605.364C62.8813 603.859 66.2984 601.022 68.3029 597.394C70.3074 593.767 70.7593 589.602 69.5723 585.694C68.3854 581.785 65.6426 578.407 61.8668 576.202L59.7171 582.719L58.1927 574.55C58.1777 574.543 58.1621 574.538 58.1461 574.534C55.8832 573.793 53.4804 573.461 51.0749 573.557C48.6694 573.652 46.3084 574.174 44.1269 575.091C41.9454 576.009 39.986 577.304 38.3609 578.904C36.7357 580.503 35.4766 582.376 34.6555 584.414C33.8344 586.451 33.4674 588.615 33.5755 590.781C33.6835 592.946 34.2646 595.072 35.2853 597.035C36.3061 598.998 37.7466 600.762 39.5245 602.224C41.3025 603.685 43.3829 604.818 45.6471 605.555V605.555Z"
            fill="#57B894"
          ></path>
          <path
            d="M46.5191 602.602C50.7496 603.984 55.3969 603.916 59.5751 602.411C63.7533 600.906 67.1704 598.069 69.1749 594.441C71.1794 590.814 71.6313 586.649 70.4443 582.741C69.2574 578.832 66.5146 575.454 62.7388 573.249L60.5891 579.766L59.0648 571.597C59.0497 571.59 59.0341 571.585 59.0181 571.581C56.7557 570.842 54.3539 570.511 51.9496 570.608C49.5454 570.705 47.1859 571.227 45.0059 572.145C40.603 573.999 37.1984 577.351 35.5409 581.465C33.8834 585.579 34.1089 590.117 36.1677 594.081C38.2265 598.045 41.95 601.11 46.5191 602.602V602.602Z"
            stroke="#3F3D56"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M26.5673 632.958C27.2947 636.684 29.4232 640.072 32.5957 642.554C35.7682 645.035 39.7919 646.458 43.9919 646.586C48.1919 646.713 52.3129 645.536 55.6636 643.253C59.0143 640.969 61.3911 637.718 62.3953 634.044C63.3995 630.37 62.97 626.497 61.179 623.074C59.3879 619.651 56.3441 616.887 52.5581 615.245C48.7721 613.603 44.4741 613.183 40.3849 614.056C36.2957 614.928 32.6641 617.04 30.099 620.037L38.2645 631.102L27.1074 625.229C26.2423 627.729 26.0571 630.38 26.5673 632.958V632.958Z"
            fill="#57B894"
          ></path>
          <path
            d="M27.322 630.771C28.0494 634.498 30.1778 637.886 33.3504 640.367C36.5229 642.848 40.5466 644.272 44.7466 644.399C48.9466 644.526 53.0676 643.35 56.4183 641.066C59.7691 638.783 62.1458 635.531 63.15 631.857C64.1542 628.183 63.7247 624.31 61.9337 620.888C60.1426 617.465 57.0988 614.701 53.3128 613.059C49.5268 611.417 45.2288 610.997 41.1396 611.869C37.0504 612.741 33.4188 614.853 30.8537 617.85L39.0192 628.915L27.862 623.042C26.997 625.542 26.8118 628.193 27.322 630.771V630.771Z"
            stroke="#3F3D56"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M644.609 411.629C657.192 411.629 667.394 399.743 667.394 385.081C667.394 370.419 657.192 358.534 644.609 358.534C632.025 358.534 621.824 370.419 621.824 385.081C621.824 399.743 632.025 411.629 644.609 411.629Z"
            fill="#2F2E41"
          ></path>
          <path
            d="M768.586 412.232C781.169 412.232 791.371 400.347 791.371 385.685C791.371 371.023 781.169 359.137 768.586 359.137C756.002 359.137 745.801 371.023 745.801 385.685C745.801 400.347 756.002 412.232 768.586 412.232Z"
            fill="#2F2E41"
          ></path>
          <path
            d="M751.162 464.121C751.162 476.116 732.559 485.842 709.613 485.842C686.667 485.842 668.064 476.116 668.064 464.121C668.064 453.731 682.016 445.043 700.66 442.919C703.628 442.567 706.619 442.393 709.613 442.4C714.629 442.386 719.632 442.871 724.53 443.848C740.104 446.974 751.162 454.878 751.162 464.121Z"
            fill="#2F2E41"
          ></path>
          <path
            d="M649.97 405.595C662.554 405.595 672.755 393.71 672.755 379.048C672.755 364.386 662.554 352.5 649.97 352.5C637.386 352.5 627.185 364.386 627.185 379.048C627.185 393.71 637.386 405.595 649.97 405.595Z"
            stroke="#3F3D56"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M773.947 406.199C786.531 406.199 796.732 394.313 796.732 379.651C796.732 364.989 786.531 353.103 773.947 353.103C761.363 353.103 751.162 364.989 751.162 379.651C751.162 394.313 761.363 406.199 773.947 406.199Z"
            stroke="#3F3D56"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M714.974 479.808C737.921 479.808 756.523 470.084 756.523 458.088C756.523 446.091 737.921 436.367 714.974 436.367C692.027 436.367 673.425 446.091 673.425 458.088C673.425 470.084 692.027 479.808 714.974 479.808Z"
            stroke="#3F3D56"
            stroke-miterlimit="10"
          ></path>
          <path
            d="M725.026 445.658C725.037 447.176 724.404 448.64 723.257 449.751C722.715 450.284 722.057 450.71 721.323 451.002C720.59 451.295 719.797 451.447 718.995 451.451H705.592C703.94 451.399 702.379 450.76 701.249 449.675C700.118 448.59 699.511 447.146 699.56 445.658C699.554 444.482 699.936 443.33 700.66 442.35C703.626 441.975 706.617 441.79 709.613 441.797C714.635 441.782 719.642 442.3 724.53 443.342C724.861 444.077 725.029 444.864 725.026 445.658V445.658Z"
            fill="white"
          ></path>
          <path
            d="M649.97 377.841C653.671 377.841 656.671 375.14 656.671 371.807C656.671 368.475 653.671 365.774 649.97 365.774C646.269 365.774 643.268 368.475 643.268 371.807C643.268 375.14 646.269 377.841 649.97 377.841Z"
            fill="white"
          ></path>
          <path
            d="M774.617 377.841C778.318 377.841 781.318 375.14 781.318 371.807C781.318 368.475 778.318 365.774 774.617 365.774C770.916 365.774 767.916 368.475 767.916 371.807C767.916 375.14 770.916 377.841 774.617 377.841Z"
            fill="white"
          ></path>
          <path
            opacity="0.3"
            d="M781.318 434.557C785.02 434.557 788.02 431.855 788.02 428.523C788.02 425.191 785.02 422.489 781.318 422.489C777.617 422.489 774.617 425.191 774.617 428.523C774.617 431.855 777.617 434.557 781.318 434.557Z"
            fill="#51C48A"
          ></path>
          <path
            opacity="0.3"
            d="M617.803 434.557C621.504 434.557 624.504 431.855 624.504 428.523C624.504 425.191 621.504 422.489 617.803 422.489C614.102 422.489 611.101 425.191 611.101 428.523C611.101 431.855 614.102 434.557 617.803 434.557Z"
            fill="#51C48A"
          ></path>
        </svg>
        <h3 class="str">Halaman tidak ditemukan</h3>
      </div>
      <div v-else>
        <svg
          data-name="Layer 1"
          iewBox="0 0 1440 705"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="522"
          viewBox="0 0 1022.7 785.81"
        >
          <defs>
            <linearGradient
              id="af83dc26-9572-4816-b7a1-1af4f72ff554"
              x1="678.2"
              y1="821.79"
              x2="678.2"
              y2="493.4"
              gradientTransform="translate(-20.24 29.65) rotate(-2.31)"
              gradientUnits="userSpaceOnUse"
            >
              <stop offset="0" stop-color="gray" stop-opacity="0.25" />
              <stop offset="0.54" stop-color="gray" stop-opacity="0.12" />
              <stop offset="1" stop-color="gray" stop-opacity="0.1" />
            </linearGradient>
          </defs>
          <title>bug fixing</title>
          <ellipse
            cx="468.63"
            cy="660.88"
            rx="425"
            ry="33"
            fill="#00ab6b"
            opacity="0.1"
          />
          <g opacity="0.1">
            <path
              d="M933.7,529.93c-2.54-7.71-12.84-11.26-23-7.92a24.76,24.76,0,0,0-4.23,1.83c-.65-.18-1.32-.34-2-.46a22.42,22.42,0,0,0,.63-6.79A24.6,24.6,0,0,0,916,495.12a24.63,24.63,0,0,0,10.86-21.47,23.76,23.76,0,0,0,8.23-9.32c4.9-9.7,2.87-20.6-4.54-24.35s-17.4,1.08-22.3,10.78a23.69,23.69,0,0,0-2.63,12.15,24.63,24.63,0,0,0-10.86,21.47,24.63,24.63,0,0,0-10.86,21.47A24.64,24.64,0,0,0,873,527.33a23.76,23.76,0,0,0-8.23,9.32,25.46,25.46,0,0,0-2.08,5.74,21.18,21.18,0,0,0-4.44-4.73,25.38,25.38,0,0,0-1-4.5c-3.34-10.17-12.3-16.37-20-13.83s-11.26,12.83-7.92,23a23.07,23.07,0,0,0,7.56,11.08,25.38,25.38,0,0,0,1,4.5c1.94,5.9,5.77,10.46,10.15,12.75a23.23,23.23,0,0,0-.83,3.9,25.29,25.29,0,0,0-7.54,14.91,25.27,25.27,0,0,0-7.54,14.92,24.63,24.63,0,0,0-5,6.81c-4.91,9.7-2.88,20.61,4.53,24.35s17.4-1.07,22.31-10.78a24.62,24.62,0,0,0,2.5-8.09,25.29,25.29,0,0,0,7.54-14.91,25.27,25.27,0,0,0,7.54-14.92A25.21,25.21,0,0,0,879,571.94,25.21,25.21,0,0,0,886.56,557a24.11,24.11,0,0,0,3.39-4,23.46,23.46,0,0,0,12.27-.77,24.76,24.76,0,0,0,4.23-1.83,23.2,23.2,0,0,0,13.42-.48C930,546.61,936.23,537.65,933.7,529.93Z"
              transform="translate(-88.65 -57.09)"
              fill="#3f3d56"
            />
            <g opacity="0.1">
              <path
                d="M915.77,499.53a21.5,21.5,0,0,1-3.44,2.75,23,23,0,0,1-1.11,8.43,26.18,26.18,0,0,0,2.1-3.43A24.64,24.64,0,0,0,915.77,499.53Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M926.63,478.06a21.5,21.5,0,0,1-3.44,2.75,23,23,0,0,1-1.11,8.43,25.65,25.65,0,0,0,2.1-3.44A24.85,24.85,0,0,0,926.63,478.06Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M902,470.07a21.91,21.91,0,0,1,.17-4.41,24.93,24.93,0,0,0-4.78,6.57,25.63,25.63,0,0,0-1.52,3.73A22.75,22.75,0,0,1,902,470.07Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M833.07,600a23.59,23.59,0,0,1,2.95-3.38,22.92,22.92,0,0,1,.87-4,25.09,25.09,0,0,0-2.29,3.71A25.59,25.59,0,0,0,833.07,600Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M840.61,585.1a23.59,23.59,0,0,1,2.95-3.38,23,23,0,0,1,.83-3.9l0,0a25.68,25.68,0,0,0-2.2,3.59A26.76,26.76,0,0,0,840.61,585.1Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M904.9,521a20.82,20.82,0,0,1-3.43,2.74,22.45,22.45,0,0,1-.63,6.79,18.75,18.75,0,0,1,2,.46,24.76,24.76,0,0,1,4.23-1.83c10.18-3.34,20.47.21,23,7.92a11.68,11.68,0,0,1,.32,6c3.35-3.94,4.74-8.74,3.3-13.14-2.54-7.71-12.84-11.26-23-7.92a24.76,24.76,0,0,0-4.23,1.83c-.65-.18-1.32-.34-2-.46C904.65,522.59,904.79,521.8,904.9,521Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M829.35,607.49a25.09,25.09,0,0,0-2.29,3.71,26.56,26.56,0,0,0-1.54,3.74,24.48,24.48,0,0,1,3-3.4A22.92,22.92,0,0,1,829.35,607.49Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M891.09,491.54a22,22,0,0,1,.17-4.41,24.93,24.93,0,0,0-4.78,6.57,25.63,25.63,0,0,0-1.52,3.73A22.75,22.75,0,0,1,891.09,491.54Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M875.4,579.1a24.29,24.29,0,0,1-1,4.38,26.67,26.67,0,0,0,2.09-3.44,25.49,25.49,0,0,0,1.63-4A24.23,24.23,0,0,1,875.4,579.1Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M860.32,608.92a24.15,24.15,0,0,1-1,4.38,25.65,25.65,0,0,0,2.1-3.44,26.47,26.47,0,0,0,1.63-4A23.57,23.57,0,0,1,860.32,608.92Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M867.86,594a24.11,24.11,0,0,1-1,4.38A26.67,26.67,0,0,0,869,595a25.49,25.49,0,0,0,1.63-4A24.23,24.23,0,0,1,867.86,594Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M882.94,564.19a24,24,0,0,1-1,4.37,25.89,25.89,0,0,0,2.09-3.43,25.48,25.48,0,0,0,1.64-4.07A23.22,23.22,0,0,1,882.94,564.19Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M833.57,526.48c7.72-2.53,16.68,3.66,20,13.83a25.68,25.68,0,0,1,1,4.51,21.18,21.18,0,0,1,4.44,4.73,25.53,25.53,0,0,1,2.08-5.75c.35-.68.73-1.33,1.12-2a21.07,21.07,0,0,0-4-4.18,25.38,25.38,0,0,0-1-4.5c-3.34-10.17-12.3-16.37-20-13.83-4.4,1.44-7.44,5.41-8.62,10.43A11.69,11.69,0,0,1,833.57,526.48Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M869.37,534.48a21.85,21.85,0,0,1,.18-4.4,24.73,24.73,0,0,0-4.79,6.57,25.07,25.07,0,0,0-1.52,3.72A23,23,0,0,1,869.37,534.48Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M880.23,513a21.85,21.85,0,0,1,.18-4.4,24.52,24.52,0,0,0-4.79,6.56,25.63,25.63,0,0,0-1.52,3.73A22.75,22.75,0,0,1,880.23,513Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M852.78,623.83a24.25,24.25,0,0,1-1,4.39,25.73,25.73,0,0,0,3.73-7.49A23.57,23.57,0,0,1,852.78,623.83Z"
                transform="translate(-88.65 -57.09)"
              />
            </g>
            <path
              d="M948.52,430.71a23.68,23.68,0,0,0,8.23-9.32c4.91-9.7,2.88-20.61-4.53-24.36s-17.4,1.08-22.31,10.79A23.68,23.68,0,0,0,927.29,420a24.63,24.63,0,0,0-10.86,21.47,23.61,23.61,0,0,0-8.23,9.32,24.69,24.69,0,0,0-1.51,3.69,20.85,20.85,0,0,1,10.77-8A12.24,12.24,0,0,0,933,454.32a20.85,20.85,0,0,1,0,13.41,25.48,25.48,0,0,0,2.08-3.4,23.68,23.68,0,0,0,2.62-12.15,24.57,24.57,0,0,0,10.86-21.47Z"
              transform="translate(-88.65 -57.09)"
              fill="#3f3d56"
            />
            <path
              d="M1067.88,293.07a72,72,0,0,0,8.72-4.83l-32.33-23.62,38,19.57a72.13,72.13,0,0,0,27-50.31l-64.58.66,64.72-10.82A72,72,0,1,0,966.83,242a72.09,72.09,0,0,0-13.26,8l33.75,46.93L946.8,255.85a72.08,72.08,0,0,0-20.17,65.61,72,72,0,1,0,101.05,51.1,72,72,0,0,0,40.2-79.49Z"
              transform="translate(-88.65 -57.09)"
              fill="#00ab6b"
            />
            <path
              d="M933,274.75a71.77,71.77,0,0,0-6.35,46.71,72,72,0,1,0,101.05,51.1C1041.83,366,936.62,267.54,933,274.75Z"
              transform="translate(-88.65 -57.09)"
              opacity="0.1"
            />
            <circle cx="925.49" cy="102.72" r="10.69" fill="#00ab6b" />
            <circle cx="987.93" cy="109.58" r="10.69" fill="#00ab6b" />
            <circle cx="1012.01" cy="205.64" r="10.69" fill="#00ab6b" />
            <circle cx="979.51" cy="253.61" r="10.69" fill="#00ab6b" />
            <circle cx="935.11" cy="353.24" r="10.69" fill="#00ab6b" />
            <circle cx="935.11" cy="353.24" r="10.69" opacity="0.1" />
            <circle cx="836.39" cy="240.4" r="10.69" fill="#00ab6b" />
            <circle cx="836.39" cy="240.4" r="10.69" opacity="0.1" />
            <path
              d="M913.64,473.32c-7.11-3.59-9.26-13.76-5.11-23.14-.22.38-.43.77-.63,1.18-4.91,9.7-2.88,20.6,4.53,24.35s17.4-1.08,22.3-10.78c.21-.4.39-.81.57-1.21C930.21,472.63,920.74,476.92,913.64,473.32Z"
              transform="translate(-88.65 -57.09)"
              opacity="0.1"
            />
            <path
              d="M903.08,494.2c-7.1-3.59-9.26-13.76-5.1-23.15-.22.39-.44.78-.64,1.18-4.91,9.7-2.88,20.61,4.53,24.35s17.4-1.07,22.31-10.78c.2-.4.39-.8.57-1.21C919.65,493.5,910.19,497.79,903.08,494.2Z"
              transform="translate(-88.65 -57.09)"
              opacity="0.1"
            />
            <path
              d="M892.52,515.07c-7.1-3.59-9.26-13.76-5.1-23.14-.22.38-.44.77-.64,1.18-4.91,9.7-2.87,20.6,4.54,24.35s17.39-1.08,22.3-10.78c.2-.4.39-.81.57-1.21C909.1,514.38,899.63,518.67,892.52,515.07Z"
              transform="translate(-88.65 -57.09)"
              opacity="0.1"
            />
            <path
              d="M882,536c-7.11-3.59-9.26-13.76-5.11-23.14-.22.38-.43.77-.64,1.17-4.9,9.7-2.87,20.61,4.54,24.36s17.4-1.08,22.3-10.79c.21-.4.39-.8.57-1.21C898.54,535.25,889.07,539.54,882,536Z"
              transform="translate(-88.65 -57.09)"
              opacity="0.1"
            />
            <path
              d="M871.41,556.82c-7.11-3.59-9.26-13.76-5.11-23.14-.22.38-.43.77-.63,1.18-4.91,9.7-2.88,20.6,4.53,24.35s17.4-1.08,22.31-10.78c.2-.4.39-.81.57-1.21C888,556.13,878.51,560.42,871.41,556.82Z"
              transform="translate(-88.65 -57.09)"
              opacity="0.1"
            />
            <path
              d="M860.85,577.7c-7.1-3.59-9.26-13.76-5.1-23.14-.22.38-.44.77-.64,1.17-4.91,9.7-2.88,20.61,4.54,24.36S877,579,882,569.3c.2-.4.39-.8.57-1.21C877.42,577,868,581.29,860.85,577.7Z"
              transform="translate(-88.65 -57.09)"
              opacity="0.1"
            />
            <path
              d="M850.29,598.57c-7.1-3.59-9.26-13.76-5.1-23.14-.22.39-.43.77-.64,1.18-4.9,9.7-2.87,20.6,4.54,24.35s17.4-1.08,22.3-10.78c.21-.4.39-.81.57-1.21C866.87,597.88,857.4,602.17,850.29,598.57Z"
              transform="translate(-88.65 -57.09)"
              opacity="0.1"
            />
            <path
              d="M839.74,619.45c-7.11-3.59-9.26-13.76-5.11-23.14q-.33.57-.63,1.17c-4.91,9.7-2.88,20.61,4.53,24.36s17.4-1.08,22.31-10.79c.2-.4.38-.8.56-1.21C856.31,618.75,846.84,623,839.74,619.45Z"
              transform="translate(-88.65 -57.09)"
              opacity="0.1"
            />
            <path
              d="M832.8,633.17c-7.1-3.6-9.26-13.76-5.1-23.15-.22.39-.44.78-.64,1.18-4.91,9.7-2.88,20.61,4.53,24.35s17.4-1.07,22.31-10.78c.2-.4.39-.8.57-1.21C849.37,632.47,839.9,636.76,832.8,633.17Z"
              transform="translate(-88.65 -57.09)"
              opacity="0.1"
            />
            <path
              d="M1023.59,540.26a37.4,37.4,0,0,0,2-9.79,5.34,5.34,0,1,0-.81-10.62,37.31,37.31,0,0,0-19.64-25.31,5.34,5.34,0,1,0-9.54-4.82,5,5,0,0,0-.48,1.43A37.49,37.49,0,0,0,962.25,501a37.64,37.64,0,0,0-9.82-.29l-4.33,19.71-.26-19a37.42,37.42,0,1,0,20,72,5.28,5.28,0,0,0,2.25,2.16,5.34,5.34,0,0,0,7.32-6.88,37.35,37.35,0,0,0,4.8-3.92,37.45,37.45,0,0,0,39.31-19.83l-20.15-3.39Z"
              transform="translate(-88.65 -57.09)"
              fill="#00ab6b"
            />
            <g opacity="0.1">
              <path
                d="M992.46,549.83c-7.44-9.82-12-21.45-17.25-32.61a136.38,136.38,0,0,0-7.07-13.36l-3.94-4.59c-.66.56-1.32,1.14-2,1.75a37.64,37.64,0,0,0-9.82-.29l-4.33,19.71-.26-19a37.42,37.42,0,1,0,20,72,5.28,5.28,0,0,0,2.25,2.16,5.34,5.34,0,0,0,7.32-6.88,37.35,37.35,0,0,0,4.8-3.92,37.49,37.49,0,0,0,22.44-3.32A52.71,52.71,0,0,1,992.46,549.83Z"
                transform="translate(-88.65 -57.09)"
              />
            </g>
            <path
              d="M860.71,507.63a5.34,5.34,0,0,0-4.78-7.75,37.37,37.37,0,0,0-11.7-20.83,37.52,37.52,0,0,0,1.1-11.7L825.68,464l19.08-1.2a38,38,0,0,0-1.41-5.28,5.46,5.46,0,0,0,1.76-2,5.35,5.35,0,0,0-6.59-7.44A37.42,37.42,0,0,0,771.73,479a5.25,5.25,0,0,0-2.66,2.5,5.34,5.34,0,0,0,6.75,7.37,37.53,37.53,0,0,0,7.09,8.65,37.4,37.4,0,0,0,1.74,23.76L811,514.44,787.5,526.8a37.42,37.42,0,0,0,68.91-16.26A5.33,5.33,0,0,0,860.71,507.63Z"
              transform="translate(-88.65 -57.09)"
              fill="#00ab6b"
            />
            <path
              d="M860.71,507.63a5.34,5.34,0,0,0-4.78-7.75,37.37,37.37,0,0,0-11.7-20.83c.16-.63.3-1.25.42-1.88a13.18,13.18,0,0,0-1.93,1.71c-3.55,3.89-5.37,9.12-8.88,13.05-4.14,4.64-10.34,7.06-16.53,7.71s-12.42-.3-18.53-1.49c-5.06-1-10.19-2.16-15.32-1.67-.5,0-1,.11-1.46.19.3.29.6.58.91.86a37.4,37.4,0,0,0,1.74,23.76L811,514.44,787.5,526.8a37.42,37.42,0,0,0,68.91-16.26A5.33,5.33,0,0,0,860.71,507.63Z"
              transform="translate(-88.65 -57.09)"
              opacity="0.1"
            />
          </g>
          <g opacity="0.1">
            <path
              d="M178.14,568.33c1.28-3.89,6.47-5.68,11.59-4a12.78,12.78,0,0,1,2.13.92c.33-.09.67-.17,1-.23a11.26,11.26,0,0,1-.32-3.42,12.46,12.46,0,0,1-5.47-10.82,11.92,11.92,0,0,1-4.14-4.69,12,12,0,0,1-1.33-6.12,12,12,0,0,1-4.14-4.7C175,530.39,176,524.9,179.75,523s8.77.55,11.24,5.43a12,12,0,0,1,1.32,6.13,12.37,12.37,0,0,1,5.47,10.81,12.4,12.4,0,0,1,5.47,10.82A12.37,12.37,0,0,1,208.72,567a12,12,0,0,1,4.15,4.7,12.66,12.66,0,0,1,1,2.9,10.66,10.66,0,0,1,2.23-2.39,12.58,12.58,0,0,1,.52-2.27c1.69-5.12,6.2-8.24,10.09-7s5.67,6.47,4,11.59a11.67,11.67,0,0,1-3.81,5.59,12.67,12.67,0,0,1-.52,2.26,11.1,11.1,0,0,1-5.11,6.42,12.84,12.84,0,0,1,.42,2,12.57,12.57,0,0,1,2.53,3.43,12.32,12.32,0,0,1,1.26,4.08,12.55,12.55,0,0,1,2.54,3.43,12.39,12.39,0,0,1,1.26,4.08,12.45,12.45,0,0,1,2.54,3.44c2.47,4.88,1.45,10.38-2.28,12.26s-8.77-.54-11.24-5.43a12.48,12.48,0,0,1-1.26-4.08,12.7,12.7,0,0,1-3.8-7.51,12.7,12.7,0,0,1-3.8-7.51,12.6,12.6,0,0,1-2.54-3.43,12.73,12.73,0,0,1-1.26-4.08,12.57,12.57,0,0,1-2.53-3.43,12.32,12.32,0,0,1-1.26-4.08,11.63,11.63,0,0,1-1.71-2,11.9,11.9,0,0,1-6.18-.38,13.29,13.29,0,0,1-2.14-.93,11.61,11.61,0,0,1-6.75-.24C180,576.73,176.87,572.22,178.14,568.33Z"
              transform="translate(-88.65 -57.09)"
              fill="#3f3d56"
            />
            <g opacity="0.1">
              <path
                d="M187.17,553a10.72,10.72,0,0,0,1.74,1.39,11.31,11.31,0,0,0,.56,4.24,11.93,11.93,0,0,1-1.06-1.73A12.46,12.46,0,0,1,187.17,553Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M181.7,542.2a11.21,11.21,0,0,0,1.74,1.38,11.39,11.39,0,0,0,.56,4.25,12.7,12.7,0,0,1-2.3-5.63Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M194.13,538.17a11.11,11.11,0,0,0-.08-2.22,12.66,12.66,0,0,1,2.41,3.31,13,13,0,0,1,.76,1.88A11.42,11.42,0,0,0,194.13,538.17Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M228.83,603.63a11.65,11.65,0,0,0-1.48-1.7,12.4,12.4,0,0,0-.44-2,13.23,13.23,0,0,1,1.15,1.86A13,13,0,0,1,228.83,603.63Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M225,596.12a11.65,11.65,0,0,0-1.48-1.7,11.75,11.75,0,0,0-.42-2h0a12.67,12.67,0,0,1,1.88,3.68Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M192.65,563.84a10.11,10.11,0,0,0,1.73,1.37,10.9,10.9,0,0,0,.32,3.42,10,10,0,0,0-1,.23,13.26,13.26,0,0,0-2.14-.92c-5.12-1.68-10.31.11-11.58,4a5.82,5.82,0,0,0-.17,3,6.93,6.93,0,0,1-1.66-6.61c1.28-3.89,6.47-5.68,11.59-4a12.78,12.78,0,0,1,2.13.92c.33-.09.67-.17,1-.23A10.32,10.32,0,0,1,192.65,563.84Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M230.71,607.4a12.79,12.79,0,0,1,1.15,1.87,13,13,0,0,1,.77,1.88,11.74,11.74,0,0,0-1.48-1.71A12.4,12.4,0,0,0,230.71,607.4Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M199.6,549a11.08,11.08,0,0,0-.08-2.22,12.49,12.49,0,0,1,2.41,3.31,12.87,12.87,0,0,1,.76,1.87A11.38,11.38,0,0,0,199.6,549Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M207.51,593.1a11.94,11.94,0,0,0,.49,2.2,12.63,12.63,0,0,1-1.88-3.77A11.72,11.72,0,0,0,207.51,593.1Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M215.1,608.12a12.66,12.66,0,0,0,.5,2.2,11.93,11.93,0,0,1-1.06-1.73,12.88,12.88,0,0,1-.82-2A13,13,0,0,0,215.1,608.12Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M211.31,600.61a11.94,11.94,0,0,0,.49,2.2,12.88,12.88,0,0,1-1.06-1.73,12.6,12.6,0,0,1-.82-2A11.72,11.72,0,0,0,211.31,600.61Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M203.71,585.58a11.86,11.86,0,0,0,.49,2.21,12.44,12.44,0,0,1-1-1.73,12.23,12.23,0,0,1-.83-2A11.13,11.13,0,0,0,203.71,585.58Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M228.58,566.59c-3.89-1.28-8.4,1.84-10.08,7a12.58,12.58,0,0,0-.52,2.27,10.63,10.63,0,0,0-2.24,2.38,12.83,12.83,0,0,0-1.05-2.9c-.17-.34-.36-.67-.56-1a10.63,10.63,0,0,1,2-2.1,12.58,12.58,0,0,1,.52-2.27c1.69-5.12,6.2-8.24,10.09-7a6.93,6.93,0,0,1,4.34,5.26A5.93,5.93,0,0,0,228.58,566.59Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M210.54,570.62a11.11,11.11,0,0,0-.08-2.22,12.49,12.49,0,0,1,2.41,3.31,13,13,0,0,1,.76,1.88A11.28,11.28,0,0,0,210.54,570.62Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M205.07,559.8a11.13,11.13,0,0,0-.08-2.22,12.83,12.83,0,0,1,2.41,3.31,13,13,0,0,1,.76,1.88A11.42,11.42,0,0,0,205.07,559.8Z"
                transform="translate(-88.65 -57.09)"
              />
              <path
                d="M218.9,615.63a11.9,11.9,0,0,0,.5,2.21,12.61,12.61,0,0,1-1.06-1.74,12.88,12.88,0,0,1-.82-2A13,13,0,0,0,218.9,615.63Z"
                transform="translate(-88.65 -57.09)"
              />
            </g>
            <path
              d="M170.67,518.34a11.92,11.92,0,0,1-4.14-4.69c-2.47-4.89-1.45-10.38,2.28-12.27s8.77.54,11.24,5.43a11.93,11.93,0,0,1,1.32,6.12,12.4,12.4,0,0,1,5.47,10.82,12,12,0,0,1,4.15,4.69,13.23,13.23,0,0,1,.76,1.86,10.57,10.57,0,0,0-5.43-4,6.16,6.16,0,0,1-7.83,4,10.52,10.52,0,0,0,0,6.75,13.19,13.19,0,0,1-1-1.71,12,12,0,0,1-1.33-6.12,12.43,12.43,0,0,1-5.47-10.82Z"
              transform="translate(-88.65 -57.09)"
              fill="#3f3d56"
            />
            <path
              d="M110.55,449a36.81,36.81,0,0,1-4.39-2.43l16.28-11.9-19.14,9.85a36.34,36.34,0,0,1-13.59-25.34l32.54.34-32.61-5.46a36.29,36.29,0,1,1,71.81,9.2,36.73,36.73,0,0,1,6.68,4l-17,23.64,20.41-20.68a36.32,36.32,0,0,1,10.16,33.05,36.29,36.29,0,1,1-50.9,25.74,36.28,36.28,0,0,1-20.25-40Z"
              transform="translate(-88.65 -57.09)"
              fill="#00ab6b"
            />
            <path
              d="M178.5,439.78a36.12,36.12,0,0,1,3.2,23.53,36.29,36.29,0,1,1-50.9,25.74C123.67,485.74,176.67,436.15,178.5,439.78Z"
              transform="translate(-88.65 -57.09)"
              opacity="0.1"
            />
            <circle cx="48.97" cy="324.78" r="5.39" fill="#00ab6b" />
            <circle cx="17.51" cy="328.24" r="5.39" fill="#00ab6b" />
            <circle cx="5.39" cy="376.63" r="5.39" fill="#00ab6b" />
            <circle cx="21.76" cy="400.8" r="5.39" fill="#00ab6b" />
            <circle cx="44.12" cy="450.99" r="5.39" fill="#00ab6b" />
            <circle cx="44.12" cy="450.99" r="5.39" opacity="0.1" />
            <circle cx="93.85" cy="394.14" r="5.39" fill="#00ab6b" />
            <circle cx="93.85" cy="394.14" r="5.39" opacity="0.1" />
            <path
              d="M188.25,539.81c3.58-1.81,4.66-6.93,2.57-11.66.11.2.22.39.32.59,2.47,4.89,1.45,10.38-2.29,12.27s-8.76-.54-11.23-5.43c-.1-.2-.2-.4-.29-.61C179.9,539.46,184.67,541.62,188.25,539.81Z"
              transform="translate(-88.65 -57.09)"
              opacity="0.1"
            />
            <path
              d="M193.56,550.33c3.58-1.81,4.67-6.94,2.58-11.66.11.19.22.39.32.59,2.47,4.89,1.45,10.38-2.29,12.27s-8.76-.54-11.23-5.43c-.11-.2-.2-.41-.29-.61C185.22,550,190,552.14,193.56,550.33Z"
              transform="translate(-88.65 -57.09)"
              opacity="0.1"
            />
            <path
              d="M198.88,560.84c3.58-1.81,4.67-6.93,2.57-11.66.12.2.22.39.33.6,2.47,4.88,1.44,10.38-2.29,12.26s-8.76-.54-11.23-5.43c-.11-.2-.2-.4-.29-.61C190.53,560.49,195.3,562.65,198.88,560.84Z"
              transform="translate(-88.65 -57.09)"
              opacity="0.1"
            />
            <path
              d="M204.2,571.36c3.58-1.81,4.67-6.93,2.57-11.66.11.19.22.39.32.59,2.48,4.89,1.45,10.38-2.28,12.27s-8.77-.54-11.24-5.43c-.1-.2-.19-.41-.28-.61C195.85,571,200.62,573.17,204.2,571.36Z"
              transform="translate(-88.65 -57.09)"
              opacity="0.1"
            />
            <path
              d="M209.52,581.87c3.58-1.81,4.66-6.93,2.57-11.65.11.19.22.39.32.59,2.47,4.89,1.45,10.38-2.28,12.27s-8.77-.55-11.24-5.43c-.1-.21-.19-.41-.29-.61C201.17,581.52,205.94,583.68,209.52,581.87Z"
              transform="translate(-88.65 -57.09)"
              opacity="0.1"
            />
            <path
              d="M214.84,592.39c3.58-1.81,4.66-6.93,2.57-11.66.11.2.22.39.32.59,2.47,4.89,1.45,10.38-2.28,12.27s-8.77-.54-11.24-5.43c-.1-.2-.2-.4-.29-.61C206.49,592,211.26,594.2,214.84,592.39Z"
              transform="translate(-88.65 -57.09)"
              opacity="0.1"
            />
            <path
              d="M220.16,602.91c3.57-1.81,4.66-6.94,2.57-11.66.11.19.22.39.32.59,2.47,4.89,1.45,10.38-2.29,12.27s-8.76-.55-11.23-5.43c-.1-.21-.2-.41-.29-.61C211.81,602.55,216.58,604.72,220.16,602.91Z"
              transform="translate(-88.65 -57.09)"
              opacity="0.1"
            />
            <path
              d="M225.47,613.42c3.58-1.81,4.67-6.93,2.57-11.66.12.2.22.39.33.6,2.47,4.88,1.44,10.38-2.29,12.26s-8.76-.54-11.23-5.43c-.11-.2-.2-.4-.29-.61C217.13,613.07,221.89,615.23,225.47,613.42Z"
              transform="translate(-88.65 -57.09)"
              opacity="0.1"
            />
            <path
              d="M229,620.33c3.58-1.81,4.66-6.93,2.57-11.66.11.2.22.39.32.6,2.47,4.88,1.45,10.38-2.28,12.26s-8.77-.54-11.24-5.43c-.1-.2-.2-.4-.29-.61C220.62,620,225.39,622.14,229,620.33Z"
              transform="translate(-88.65 -57.09)"
              opacity="0.1"
            />
            <path
              d="M132.86,573.53a18.57,18.57,0,0,1-1-4.93,2.69,2.69,0,1,1,.41-5.35,18.82,18.82,0,0,1,9.89-12.75,2.69,2.69,0,1,1,4.81-2.43,2.44,2.44,0,0,1,.24.72,18.92,18.92,0,0,1,16.56,5,18.68,18.68,0,0,1,5-.14l2.18,9.92L171,554a18.85,18.85,0,1,1-10.08,36.29,2.76,2.76,0,0,1-1.13,1.09,2.7,2.7,0,0,1-3.7-3.47,18.84,18.84,0,0,1-2.41-2,18.87,18.87,0,0,1-19.8-10l10.15-1.71Z"
              transform="translate(-88.65 -57.09)"
              fill="#00ab6b"
            />
            <g opacity="0.1">
              <path
                d="M148.54,578.35c3.75-5,6.05-10.8,8.69-16.42a66.7,66.7,0,0,1,3.56-6.74l2-2.31c.34.29.67.58,1,.88a18.68,18.68,0,0,1,5-.14l2.18,9.92L171,554a18.85,18.85,0,1,1-10.08,36.29,2.76,2.76,0,0,1-1.13,1.09,2.7,2.7,0,0,1-3.7-3.47,18.84,18.84,0,0,1-2.41-2,19,19,0,0,1-11.31-1.67A26.59,26.59,0,0,0,148.54,578.35Z"
                transform="translate(-88.65 -57.09)"
              />
            </g>
            <path
              d="M214.91,557.09a2.68,2.68,0,0,1,1.19-3.61,2.64,2.64,0,0,1,1.22-.29,18.85,18.85,0,0,1,5.89-10.5,18.71,18.71,0,0,1-.55-5.89l9.89-1.66-9.61-.61a18.65,18.65,0,0,1,.72-2.66,2.64,2.64,0,0,1-.89-1,2.7,2.7,0,0,1,3.32-3.75,18.63,18.63,0,0,1,6.87-5.93,18.84,18.84,0,0,1,26.77,21.5,2.69,2.69,0,0,1,.16,4.87,2.7,2.7,0,0,1-2.22.1A18.74,18.74,0,0,1,254.1,552a18.9,18.9,0,0,1-.87,12L240,560.52l11.83,6.23A18.86,18.86,0,0,1,219,565.21a19.11,19.11,0,0,1-1.94-6.65A2.67,2.67,0,0,1,214.91,557.09Z"
              transform="translate(-88.65 -57.09)"
              fill="#00ab6b"
            />
            <path
              d="M214.91,557.09a2.68,2.68,0,0,1,1.19-3.61,2.64,2.64,0,0,1,1.22-.29,18.85,18.85,0,0,1,5.89-10.5c-.08-.31-.15-.63-.21-.94a7.27,7.27,0,0,1,1,.86c1.79,2,2.71,4.59,4.47,6.57a12.91,12.91,0,0,0,8.33,3.89,31.54,31.54,0,0,0,9.33-.75,27.35,27.35,0,0,1,7.72-.85l.74.1-.46.43a18.9,18.9,0,0,1-.87,12L240,560.52l11.83,6.23A18.86,18.86,0,0,1,219,565.21a19.11,19.11,0,0,1-1.94-6.65A2.67,2.67,0,0,1,214.91,557.09Z"
              transform="translate(-88.65 -57.09)"
              opacity="0.1"
            />
          </g>
          <path
            d="M435,109a20.23,20.23,0,0,0-11.74,1.28,17.32,17.32,0,0,1-14.1,0,19.76,19.76,0,0,0-16.58.33,10.28,10.28,0,0,1-4.77,1.19c-6.72,0-12.31-6.77-13.47-15.7a13.07,13.07,0,0,0,3.36-3.62c3.94-6.35,10-10.43,16.89-10.43s12.89,4,16.83,10.31a13,13,0,0,0,11.16,6.14h.18C428.06,98.47,432.69,102.76,435,109Z"
            transform="translate(-88.65 -57.09)"
            fill="#00ab6b"
            opacity="0.1"
          />
          <path
            d="M455.42,81l-10.86,6.89,6.59-12a10.74,10.74,0,0,0-6.57-2.34h-.17a12.89,12.89,0,0,1-2.25-.17l-3.69,2.34,1.58-2.87A13.19,13.19,0,0,1,433.61,68L427,72.13l4.16-7.57c-3.85-4.63-9.05-7.47-14.76-7.47-6.85,0-13,4.08-16.9,10.43a12.62,12.62,0,0,1-11.17,6H388c-7.56,0-13.7,8.57-13.7,19.16s6.14,19.15,13.7,19.15a10.28,10.28,0,0,0,4.77-1.19,19.72,19.72,0,0,1,16.58-.32,17.37,17.37,0,0,0,14.1,0,19.75,19.75,0,0,1,16.43.32,10.35,10.35,0,0,0,4.72,1.16c7.57,0,13.7-8.57,13.7-19.15A24.36,24.36,0,0,0,455.42,81Z"
            transform="translate(-88.65 -57.09)"
            fill="#00ab6b"
            opacity="0.1"
          />
          <path
            d="M209,247.54a29,29,0,0,0-16.77,1.82,24.71,24.71,0,0,1-20.14-.05,28.22,28.22,0,0,0-23.68.47,14.75,14.75,0,0,1-6.82,1.7c-9.6,0-17.59-9.67-19.25-22.43a18.41,18.41,0,0,0,4.8-5.17c5.63-9.07,14.35-14.9,24.14-14.9s18.4,5.76,24,14.73a18.52,18.52,0,0,0,16,8.77h.25C199.11,232.47,205.73,238.6,209,247.54Z"
            transform="translate(-88.65 -57.09)"
            fill="#00ab6b"
            opacity="0.1"
          />
          <path
            d="M238.2,207.49l-15.52,9.84,9.42-17.13a15.34,15.34,0,0,0-9.39-3.35h-.25a18.16,18.16,0,0,1-3.22-.24L214,200l2.26-4.1a18.7,18.7,0,0,1-9.2-7l-9.42,6L203.57,184c-5.51-6.61-12.93-10.66-21.09-10.66-9.79,0-18.51,5.82-24.14,14.89a18.05,18.05,0,0,1-16,8.61h-.53c-10.81,0-19.57,12.25-19.57,27.37s8.76,27.37,19.57,27.37a14.61,14.61,0,0,0,6.82-1.71,28.22,28.22,0,0,1,23.68-.46,24.71,24.71,0,0,0,20.14.05,28.25,28.25,0,0,1,23.48.45,14.65,14.65,0,0,0,6.74,1.67c10.81,0,19.57-12.26,19.57-27.37A34.76,34.76,0,0,0,238.2,207.49Z"
            transform="translate(-88.65 -57.09)"
            fill="#00ab6b"
            opacity="0.1"
          />
          <path
            d="M836.62,148a20.24,20.24,0,0,1,11.74,1.28,17.29,17.29,0,0,0,14.09,0,19.76,19.76,0,0,1,16.58.33,10.31,10.31,0,0,0,4.77,1.19c6.72,0,12.32-6.77,13.48-15.7a12.93,12.93,0,0,1-3.36-3.62C890,125.11,883.87,121,877,121s-12.88,4-16.82,10.31A13,13,0,0,1,849,137.48h-.17C843.51,137.47,838.87,141.76,836.62,148Z"
            transform="translate(-88.65 -57.09)"
            fill="#00ab6b"
            opacity="0.1"
          />
          <path
            d="M816.14,120,827,126.87l-6.6-12a10.76,10.76,0,0,1,6.57-2.34h.18a13,13,0,0,0,2.25-.17l3.68,2.34-1.58-2.87A13.21,13.21,0,0,0,838,107l6.59,4.18-4.17-7.57c3.86-4.63,9-7.47,14.77-7.47,6.85,0,13,4.08,16.9,10.43a12.61,12.61,0,0,0,11.17,6h.36c7.57,0,13.7,8.57,13.7,19.16s-6.13,19.15-13.7,19.15a10.34,10.34,0,0,1-4.77-1.19,19.72,19.72,0,0,0-16.58-.32,17.35,17.35,0,0,1-14.09,0,19.77,19.77,0,0,0-16.44.32,10.32,10.32,0,0,1-4.72,1.16c-7.56,0-13.7-8.57-13.7-19.15A24.36,24.36,0,0,1,816.14,120Z"
            transform="translate(-88.65 -57.09)"
            fill="#00ab6b"
            opacity="0.1"
          />
          <ellipse
            cx="615.63"
            cy="756.88"
            rx="115"
            ry="20"
            fill="#00ab6b"
            opacity="0.1"
          />
          <polygon
            points="555.44 661.88 377.25 659.59 377.78 655.02 386.39 579.63 542.88 579.63 554.39 655.02 555.27 660.74 555.44 661.88"
            fill="#d0d2d5"
          />
          <polygon
            points="555.27 660.74 466.35 660.74 377.25 659.59 377.78 655.02 554.39 655.02 555.27 660.74"
            opacity="0.1"
          />
          <rect
            x="347.55"
            y="656.17"
            width="236.45"
            height="5.71"
            fill="#d0d2d5"
          />
          <path
            d="M898.24,183.92A14.87,14.87,0,0,0,883.44,169H223.12a14.87,14.87,0,0,0-14.8,14.94V584.19H898.24Z"
            transform="translate(-88.65 -57.09)"
            fill="#3f3d56"
          />
          <path
            d="M208.32,580.19v46.88a14.8,14.8,0,0,0,14.8,14.8H883.44a14.8,14.8,0,0,0,14.8-14.8V580.19Z"
            transform="translate(-88.65 -57.09)"
            fill="#d0d2d5"
          />
          <rect
            x="148.23"
            y="137.01"
            width="636.23"
            height="359.81"
            fill="#fff"
          />
          <path
            d="M556.71,624.08a15.4,15.4,0,0,0,12.13-5.89h0a16.06,16.06,0,0,0,1.2-1.76L561.57,615l9.15.06a15.42,15.42,0,0,0,.29-12.21l-12.27,6.36,11.32-8.32a15.42,15.42,0,1,0-25.47,17.26h0A15.4,15.4,0,0,0,556.71,624.08Z"
            transform="translate(-88.65 -57.09)"
            fill="#00ab6b"
          />
          <polygon
            points="483.48 584.77 554.57 656.17 543.66 584.77 483.48 584.77"
            opacity="0.1"
          />
          <rect
            x="147.73"
            y="137.05"
            width="636.92"
            height="21.02"
            fill="#444053"
            opacity="0.1"
          />
          <rect
            x="368.87"
            y="140.71"
            width="191.9"
            height="12.79"
            rx="0.58"
            fill="#00ab6b"
            opacity="0.3"
          />
          <path
            d="M643.72,205.52h-.47l-.17-.15a3.89,3.89,0,0,0,.9-2.49,3.78,3.78,0,1,0-3.77,3.81,3.9,3.9,0,0,0,2.49-.91l.17.15v.47l2.93,2.93.87-.88Zm-3.51,0a2.64,2.64,0,1,1,2.63-2.64A2.62,2.62,0,0,1,640.21,205.52Z"
            transform="translate(-88.65 -57.09)"
            fill="#3f3d56"
          />
          <circle
            cx="159.18"
            cy="147.56"
            r="3.85"
            fill="#fa5959"
            opacity="0.8"
          />
          <circle
            cx="169.77"
            cy="147.56"
            r="3.85"
            fill="#fed253"
            opacity="0.8"
          />
          <circle
            cx="180.37"
            cy="147.56"
            r="3.85"
            fill="#8ccf4d"
            opacity="0.8"
          />
          <path
            d="M588.7,348.49c-8.73-11.6-21.38-18.92-35.46-18.92s-26.73,7.32-35.46,18.92a38.39,38.39,0,0,0,8.4,12.65,38.28,38.28,0,0,0,62.52-12.65Z"
            transform="translate(-88.65 -57.09)"
            fill="#00ab6b"
          />
          <path
            d="M513.17,355.28a9.17,9.17,0,0,1-1.76-1,7.06,7.06,0,0,1-1.94-2.51,7.18,7.18,0,1,0-11.72,1.74,8,8,0,0,0,1.7,1.37,4.94,4.94,0,0,1,1.91,2,14.44,14.44,0,0,0,3.32,4.36,29,29,0,0,0,4.55,3.2A66.31,66.31,0,0,0,505.49,384a27.05,27.05,0,0,0-7.62,1.23,12.29,12.29,0,0,0-3.53,1.76,8.48,8.48,0,0,0-.87-.06,7.19,7.19,0,1,0,6.73,9.72,4.59,4.59,0,0,1,3.71-3,16.75,16.75,0,0,1,1.85-.12,64.4,64.4,0,0,0,8.55,26.67c-4.24,3.29-6.85,6.88-7.95,10.86a3,3,0,0,0-.57.41,6.81,6.81,0,0,0-.84.78A7.18,7.18,0,1,0,517,434.6a4.71,4.71,0,0,1,1.17-5.08c.48-.45,1-.93,1.7-1.46,8.11,9.47,17.76,15.54,29.81,16.26V380.07C533.75,379.2,519.87,368.83,513.17,355.28ZM613,387a7.93,7.93,0,0,0-.87.06,13.56,13.56,0,0,0-3.53-1.76,26.86,26.86,0,0,0-7.62-1.23,67.76,67.76,0,0,0-3.74-19.55,29,29,0,0,0,4.55-3.2,15.58,15.58,0,0,0,3.44-4.57A4.22,4.22,0,0,1,607,355a0,0,0,0,0,0,0,7.18,7.18,0,1,0-10-3.17,6.82,6.82,0,0,1-1.94,2.51,18.85,18.85,0,0,1-1.76,1.29c-6.7,13.54-20.57,23.62-36.48,24.49v64.31c12-.72,21.71-6.82,29.81-16.26.63.5,1.16.95,1.61,1.37a4.86,4.86,0,0,1,1.26,5.23,7.18,7.18,0,1,0,12.08-2.33,6.81,6.81,0,0,0-.84-.78c-.33-.26-.57-.41-.57-.41-1.1-4-3.7-7.57-8-10.86a64.4,64.4,0,0,0,8.55-26.67,15.9,15.9,0,0,1,1.77.12,4.8,4.8,0,0,1,3.85,3,7.18,7.18,0,0,0,13.85-2.18A7.29,7.29,0,0,0,613,387Z"
            transform="translate(-88.65 -57.09)"
            fill="#00ab6b"
          />
          <path
            d="M769.65,802.31a9.56,9.56,0,0,0-2.17-2.41c-4.37-4.13-6.4-10.19-7.48-16.13s-1.39-12-3.12-17.81a58.74,58.74,0,0,0-3.52-8.67c-1-2.14-2.26-6.33-4.09-7.83a2.7,2.7,0,0,0-1.26-.61,14.85,14.85,0,0,0-3.62-4.82c-2.86-2.59-6.35-4.65-8.26-8a18,18,0,0,0-1.93-3.29c-1.29-1.42-3.33-2-4.52-3.5-1.55-1.94-1.2-4.72-1-7.19s0-5.43-2.14-6.73c-1.28-.79-2.93-.71-4.26-1.41-2-1-2.79-3.52-2.75-5.77s.74-4.44.92-6.69c.56-7.16-4.16-14.28-2.34-21.22.69-2.63,2.27-4.91,3.44-7.36a15.37,15.37,0,0,0,1-2.54,35.73,35.73,0,0,0,9.74,2.35c-5.51-12.36-4.11-26.72-6.68-40l.33-.45a20.84,20.84,0,0,0,4.22-11.86c0-4.94-2.31-9.56-3.35-14.4-.89-4.11-.85-8.41-2-12.45a37.65,37.65,0,0,0-3.16-7.22q-1.87-3.47-3.93-6.83-1.92-6.36-3.85-12.72c-1.8-5.95-3.65-12-7.15-17.14-1.28-1.88-1.67-5.7-3.64-6.84a8.81,8.81,0,0,0-5.2-.91c-2.78-1.56-5.22-3.81-5.57-6.89a6.68,6.68,0,0,1,.2-2l.34,0c4.4-.4,6.63-4.28,8.92-7.68,3.7-5.5,2.29-12.94,0-19.2a13,13,0,0,0-3-5.29c-3.21-3-8.29-2.34-12.43-3.79-1.39-.48-2.69-1.21-4.11-1.55-2.75-.64-5.63.26-8.15,1.53s-4.87,2.91-7.51,3.91-5.9,1.79-6.55,4.5a5,5,0,0,0,.22,2.73,10.18,10.18,0,0,0,3.09,4.46,17.81,17.81,0,0,0,10.87,24.82c.76,1.22,1.47,2.46,2.12,3.73,1.16,2.24,2.14,4.88,1.74,7.28a22.45,22.45,0,0,0-2,2.45c-2.87,4-4.5,8.69-6,13.37a141.65,141.65,0,0,0-4.83,18.27c-2.44,5.19-5.42,10.15-7.19,15.6a35.21,35.21,0,0,1-9.38-1.26l-8.44-1.91c-2.94-.67-6-1.39-8.3-3.33-1.22-1-2.17-2.33-3.41-3.32s-3.73-2.15-5.09-1.33a4,4,0,0,0-.69.53c-1.24-2.51-2.42-5-3.86-7.43-2.07-3.4-5.15-6.51-9.05-7.16a9.21,9.21,0,0,0-6.79,1.58c-2.28,1.62-3.71,5-2,7.28a13.29,13.29,0,0,0,1.39,1.42,29.2,29.2,0,0,1,3.09,4.29A21.91,21.91,0,0,0,619,596.23l-.35,1c-.71,2.08-2.22,4.59-1.84,6.75l37.54,12.85a23.13,23.13,0,0,0,7.56,1.67,12.21,12.21,0,0,0,3-.4l0,1.92v.08c.1,13.19-2,26.29-2.39,39.47-.07,2.41,0,5,1.52,6.88,1.7,2.06,4.72,2.47,7.35,2q.95-.16,1.86-.42a69.33,69.33,0,0,1,1.92,10.11L677.65,696a27.14,27.14,0,0,1,.39,5.54c-.29,4.19-2.5,7.94-4.1,11.81s-2.55,8.5-.45,12.12c.66,1.12,1.57,2.07,2.16,3.23a13.14,13.14,0,0,1,1,5.68q.23,8.08.44,16.18a1.83,1.83,0,0,0-1.26.25c-2.08,1.62-1.85,9.33-2,11.72-.16,4,0,8.08-.22,12.12A72.22,72.22,0,0,1,671,790.74a10.29,10.29,0,0,1-2.29,4.61,9.74,9.74,0,0,1-4.07,2.11,46.49,46.49,0,0,1-15.41,2.1c-2.11-.07-4.31-.27-6.27.53s-3.54,3-2.83,5c.61,1.68,2.46,2.48,4.13,3.11a65.53,65.53,0,0,1,11,5.06,29.74,29.74,0,0,0,4.25,2.41,21.91,21.91,0,0,0,4.38,1.08l17.73,3.06c3.63.62,8,1,10.31-2,1.25-1.62,1.43-3.82,1.37-5.88-.1-4-.9-8.07-.38-12.07a37.14,37.14,0,0,1,1.86-6.93q2.65-7.87,5.32-15.73c1.78-5.26,3.58-10.57,4.27-16.09.25-2,.23-4.28-1.3-5.53a3.54,3.54,0,0,0-1.32-.68c-.06-4.82-.69-9.65-.42-14.47.07-1.2.19-2.4.29-3.61a17.61,17.61,0,0,1,2.47,2.92c1.71,2.68,2.34,6.22,4.95,8,2.22,1.52,5.51,1.44,7.07,3.64a10.26,10.26,0,0,1,1.12,2.71,19.32,19.32,0,0,0,4,6.35,32,32,0,0,0,2.47,6.34q2.21,4.67,4.4,9.31a108.59,108.59,0,0,0,5,9.77,27.55,27.55,0,0,1,3.35,6.46c1.41,4.94-.89,10.36-4.53,14s-8.44,5.73-13.17,7.68a3.71,3.71,0,0,0-1.34.8,2.59,2.59,0,0,0-.61,1.74c0,2.31,1.9,4.29,4.08,5a15.26,15.26,0,0,0,6.83.25c12.78-1.55,25.52-4.67,36.82-10.88a13,13,0,0,0,4.39-3.39A5.13,5.13,0,0,0,769.65,802.31Z"
            transform="translate(-88.65 -57.09)"
            fill="url(#af83dc26-9572-4816-b7a1-1af4f72ff554)"
          />
          <path
            d="M715.64,578.06q3.2,4.91,6,10.06a37,37,0,0,1,3.17,7.17c1.16,4,1.13,8.27,2,12.35,1,4.8,3.34,9.38,3.34,14.3a20.56,20.56,0,0,1-4.22,11.76,55.82,55.82,0,0,1-8.82,9.1,187.62,187.62,0,0,1-12.48-61.21c-.1-2.9-.12-5.89.94-8.6.65-1.7,3.77-6.36,5.78-4.53.73.67.92,3.69,1.37,4.7A36.13,36.13,0,0,0,715.64,578.06Z"
            transform="translate(-88.65 -57.09)"
            fill="#2f2e41"
          />
          <path
            d="M715.64,578.06q3.2,4.91,6,10.06a37,37,0,0,1,3.17,7.17c1.16,4,1.13,8.27,2,12.35,1,4.8,3.34,9.38,3.34,14.3a20.56,20.56,0,0,1-4.22,11.76,55.82,55.82,0,0,1-8.82,9.1,187.62,187.62,0,0,1-12.48-61.21c-.1-2.9-.12-5.89.94-8.6.65-1.7,3.77-6.36,5.78-4.53.73.67.92,3.69,1.37,4.7A36.13,36.13,0,0,0,715.64,578.06Z"
            transform="translate(-88.65 -57.09)"
            opacity="0.1"
          />
          <path
            d="M452,441.63c-7.91,7.9-8.86,11.38-13.61,12.95S416.55,465,421.92,474.81l14.44,9.54.42.28,2.21,6.64-21.84,38.88s-36-16.46-39.53,7.89-1.29,31-2.24,44,.31,16.76-2.86,16.76-4.42-8.54-4.42-8.54-.2-.39-.55-1.12c-4.71-9.79-36.68-81.66,14.53-131.06,0,0,23.72-1.56,29.43-28.76,3.94-18.8,17.72-17.18,26.88-13.35a30.38,30.38,0,0,1,8.22,4.83,40.48,40.48,0,0,1,5.89,7C455.11,431.92,456.53,437.09,452,441.63Z"
            transform="translate(-88.65 -57.09)"
            fill="#d0d2d5"
          />
          <path
            d="M436.78,484.63l2.21,6.64-21.84,38.88s-36-16.46-39.53,7.89-1.29,31-2.24,44,.31,16.76-2.86,16.76-4.42-8.54-4.42-8.54-.2-.39-.55-1.12c-1.59-12.16-9.65-83.29,19.57-79.51,0,0,23.71,11.08,27.5,6.66,3-3.5,16.32-23.63,21.74-31.89Z"
            transform="translate(-88.65 -57.09)"
            opacity="0.1"
          />
          <path
            d="M452.5,427.74l-14.44,16.41s-16.77,22.44-20.25,21.49a16.23,16.23,0,0,0-3.17-.37,6.16,6.16,0,0,1-4-10.38c5.72-6,16.26-17.39,16.95-19.92s7.4-13.62,10.76-19.05a30.38,30.38,0,0,1,8.22,4.83A40.48,40.48,0,0,1,452.5,427.74Z"
            transform="translate(-88.65 -57.09)"
            opacity="0.1"
          />
          <path
            d="M861.06,663.83c-2.45,4.9-15,23.28-20.49,31.31L838,698.92s-1,6.64-17.39-1.59S419.13,526.61,419.13,526.61l-2.61-7.84,19-28.45L857.59,653.39S864.23,657.5,861.06,663.83Z"
            transform="translate(-88.65 -57.09)"
            fill="#454b69"
          />
          <path
            d="M840.57,695.14,838,698.92s-1,6.64-17.39-1.59S419.13,526.61,419.13,526.61l-2.61-7.84Z"
            transform="translate(-88.65 -57.09)"
            opacity="0.1"
          />
          <path
            d="M608.29,589c-3.91-.64-8.25-.33-11.29,2.21a9.29,9.29,0,0,0-3.24,6.16c-.26,2.77,1.35,6.06,4.13,6.27a13.17,13.17,0,0,0,2-.13,29.89,29.89,0,0,1,5.24.44,21.39,21.39,0,0,0,18.23-7.36c2.39-3-.76-4.3-3.58-4.9C615.92,590.87,612.15,589.62,608.29,589Z"
            transform="translate(-88.65 -57.09)"
            fill="#fbbebe"
          />
          <path
            d="M675.17,679.31l2.48,17.62a26.84,26.84,0,0,1,.38,5.51c-.29,4.15-2.5,7.87-4.09,11.71s-2.56,8.44-.45,12c.65,1.11,1.56,2.06,2.15,3.21a12.92,12.92,0,0,1,1,5.63l.68,25a157.33,157.33,0,0,0,23.18-.13,1.29,1.29,0,0,0,.84-.26,1.36,1.36,0,0,0,.29-.91c.34-5.85-.68-11.71-.35-17.56.12-2.14.42-4.27.46-6.42.12-8.71-4.18-17.24-2.88-25.85a57,57,0,0,1,1.6-6.43c4.11-15,3.24-30.76,2.33-46.25a1.09,1.09,0,0,0-.2-.7,1.06,1.06,0,0,0-.54-.29,28.45,28.45,0,0,0-25.78,4.9c-1.09.88-3.84,1.73-4.56,2.78-1,1.46.31,2.92.89,4.47A56.89,56.89,0,0,1,675.17,679.31Z"
            transform="translate(-88.65 -57.09)"
            fill="#3f3d56"
          />
          <path
            d="M675.17,679.31l2.48,17.62a26.84,26.84,0,0,1,.38,5.51c-.29,4.15-2.5,7.87-4.09,11.71s-2.56,8.44-.45,12c.65,1.11,1.56,2.06,2.15,3.21a12.92,12.92,0,0,1,1,5.63l.68,25a157.33,157.33,0,0,0,23.18-.13,1.29,1.29,0,0,0,.84-.26,1.36,1.36,0,0,0,.29-.91c.34-5.85-.68-11.71-.35-17.56.12-2.14.42-4.27.46-6.42.12-8.71-4.18-17.24-2.88-25.85a57,57,0,0,1,1.6-6.43c4.11-15,3.24-30.76,2.33-46.25a1.09,1.09,0,0,0-.2-.7,1.06,1.06,0,0,0-.54-.29,28.45,28.45,0,0,0-25.78,4.9c-1.09.88-3.84,1.73-4.56,2.78-1,1.46.31,2.92.89,4.47A56.89,56.89,0,0,1,675.17,679.31Z"
            transform="translate(-88.65 -57.09)"
            opacity="0.1"
          />
          <path
            d="M721.54,674c-1.17,2.43-2.74,4.69-3.44,7.3-1.82,6.89,2.89,14,2.33,21.06-.18,2.23-.87,4.4-.92,6.63s.77,4.71,2.75,5.74c1.33.68,3,.61,4.25,1.39,2.11,1.29,2.35,4.22,2.14,6.68s-.56,5.21,1,7.13c1.19,1.49,3.23,2.07,4.51,3.48a17.17,17.17,0,0,1,1.93,3.26c1.91,3.34,5.4,5.38,8.26,8s5.28,6.46,4,10.09c-.94,2.66-3.58,4.3-6.12,5.55a64.93,64.93,0,0,1-14.57,5.15,3.52,3.52,0,0,1-1.67.09,3.57,3.57,0,0,1-1.46-1c-2.95-2.89-6-5.92-7.36-9.81a10.07,10.07,0,0,0-1.12-2.68c-1.56-2.19-4.85-2.11-7.07-3.62-2.6-1.77-3.23-5.28-4.93-7.93s-4.19-4.23-6-6.56c-3.06-3.88-3.81-9.06-6-13.49-.93-1.88-2.12-3.64-2.86-5.6a30.58,30.58,0,0,1-1.37-7.24c-1.41-11.68-5-23.44-2.74-35,.5-2.54,1.27-5,1.59-7.62.55-4.53-.32-9.17.35-13.69a3.77,3.77,0,0,1,1.51-2.91,4,4,0,0,1,1.72-.35,117.28,117.28,0,0,1,17.78.4c3,.29,6.36.9,8.16,3.35,1.53,2.1,1.45,4.91,1.94,7.46.61,3.14,2.2,4.85,3.87,7.31S722.77,671.46,721.54,674Z"
            transform="translate(-88.65 -57.09)"
            fill="#3f3d56"
          />
          <path
            d="M698.47,755.26c1.58,0,3.33-.1,4.55.9,1.52,1.25,1.54,3.54,1.3,5.49-.7,5.48-2.49,10.75-4.28,16l-5.32,15.61a36.65,36.65,0,0,0-1.86,6.88c-.52,4,.28,8,.38,12,0,2-.13,4.22-1.38,5.83-2.26,2.91-6.67,2.57-10.3,2l-17.71-3a21.07,21.07,0,0,1-4.38-1.07,30.61,30.61,0,0,1-4.25-2.39,65.42,65.42,0,0,0-11-5c-1.66-.62-3.52-1.41-4.12-3.08-.71-2,.87-4.2,2.83-5s4.15-.6,6.27-.54a47,47,0,0,0,15.4-2.08,9.74,9.74,0,0,0,4.06-2.1A10,10,0,0,0,671,791a70.17,70.17,0,0,0,2.68-16c.21-4,.07-8,.23-12,.1-2.37-.13-10,1.95-11.63,1.59-1.22,8.13,2.15,10.28,2.64A50,50,0,0,0,698.47,755.26Z"
            transform="translate(-88.65 -57.09)"
            fill="#2f2e41"
          />
          <path
            d="M756.81,766.38c1.73,5.73,2,11.79,3.12,17.68s3.1,11.9,7.47,16a9.87,9.87,0,0,1,2.17,2.4,5.06,5.06,0,0,1-.75,5.23,13.13,13.13,0,0,1-4.39,3.37c-11.29,6.16-24,9.27-36.81,10.81a15.51,15.51,0,0,1-6.82-.25c-2.18-.74-4.11-2.7-4.07-5a2.55,2.55,0,0,1,.6-1.73,3.73,3.73,0,0,1,1.35-.79c4.72-1.94,9.51-4.05,13.16-7.63s5.94-9,4.53-13.86A27.42,27.42,0,0,0,733,786.2a108.35,108.35,0,0,1-5-9.69l-4.4-9.23c-1.29-2.7-2.59-5.48-2.81-8.46a40.6,40.6,0,0,0,16.22-2.6,25.51,25.51,0,0,0,6.67-4c1.7-1.42,3.25-4.07,5.54-2.22,1.84,1.48,3,5.65,4.08,7.76A57,57,0,0,1,756.81,766.38Z"
            transform="translate(-88.65 -57.09)"
            fill="#2f2e41"
          />
          <path
            d="M692.33,537.19c.44,3.84,4.16,6.37,7.71,7.89l-22.47,7.17c1.45-2.78.28-6.18-1.16-9a50.93,50.93,0,0,0-4-6.41c-.22-.31-.47-.7-.31-1.06a1.12,1.12,0,0,1,.63-.49c4.62-2.06,9.38-4.19,14.43-4.94,1.46-.21,4.22-.79,5.31.69S692.12,535.42,692.33,537.19Z"
            transform="translate(-88.65 -57.09)"
            fill="#fbbebe"
          />
          <path
            d="M692.33,537.19c.44,3.84,4.16,6.37,7.71,7.89l-22.47,7.17c1.45-2.78.28-6.18-1.16-9a50.93,50.93,0,0,0-4-6.41c-.22-.31-.47-.7-.31-1.06a1.12,1.12,0,0,1,.63-.49c4.62-2.06,9.38-4.19,14.43-4.94,1.46-.21,4.22-.79,5.31.69S692.12,535.42,692.33,537.19Z"
            transform="translate(-88.65 -57.09)"
            opacity="0.1"
          />
          <circle cx="590.62" cy="465.59" r="17.62" fill="#fbbebe" />
          <path
            d="M664,667.68c1.71,2.05,4.72,2.45,7.35,2,6.15-1,11.18-5.53,17.2-7.16,7.38-2,15.19.57,22.16,3.72s13.9,7,21.52,7.54c-6.89-15.36-2.95-33.84-9.54-49.33-1.61-3.79-3.86-7.44-4.22-11.54-.45-5.09,2.09-10,2.48-15.06.36-4.51-1-9-2.3-13.3q-2.41-7.92-4.82-15.84c-1.8-5.91-3.65-11.92-7.14-17-1.29-1.87-1.68-5.66-3.64-6.79-4.28-2.47-10.77.64-15.41.81s-8.87,3.47-11.58,7.2c-2.87,3.94-4.5,8.63-6,13.27a126.15,126.15,0,0,0-5.33,21.23c-.15,1.08-.28,2.16-.38,3.25-1,10.27.46,20.6.54,30.92v.07c.1,13.09-2,26.1-2.39,39.18C662.46,663.24,662.52,665.85,664,667.68Z"
            transform="translate(-88.65 -57.09)"
            fill="#2f2e41"
          />
          <path
            d="M664.92,621.61c3.45-.87,6.57-3.1,9.25-5.54a38.67,38.67,0,0,0,6.14-7A49.86,49.86,0,0,0,685.6,598a129.36,129.36,0,0,0,7-32.27c.26-3,.34-6.22-1.45-8.6a7.24,7.24,0,0,0-8.75-2.12c-2.36,1.15-3.89,3.48-5.31,5.71-2.81,4.42-5.64,8.9-7.45,13.82-.8,2.18-1.39,4.42-2.17,6.61a61,61,0,0,1-2.74,6.33c-.15,1.08-.28,2.16-.38,3.25C663.42,601,664.84,611.29,664.92,621.61Z"
            transform="translate(-88.65 -57.09)"
            opacity="0.1"
          />
          <path
            d="M691.1,555.2c1.79,2.38,1.71,5.63,1.46,8.59a129.18,129.18,0,0,1-7,32.27,49.43,49.43,0,0,1-5.29,11.16,39.07,39.07,0,0,1-6.14,7c-3.4,3.1-7.54,5.87-12.15,5.91a23.16,23.16,0,0,1-7.56-1.65L616.87,605.7c-.38-2.14,1.13-4.64,1.84-6.7l2-5.93c.57-1.64,1.23-3.41,2.72-4.3s3.85.33,5.09,1.32,2.18,2.29,3.4,3.3c2.31,1.92,5.36,2.64,8.3,3.3l8.43,1.89a35.2,35.2,0,0,0,9.38,1.25c2.35-7.18,6.82-13.5,9.35-20.62.78-2.18,1.37-4.43,2.18-6.61,1.8-4.92,4.64-9.39,7.45-13.82,1.41-2.22,2.94-4.55,5.31-5.71A7.23,7.23,0,0,1,691.1,555.2Z"
            transform="translate(-88.65 -57.09)"
            fill="#2f2e41"
          />
          <path
            d="M684.89,526.66a8.89,8.89,0,0,0-1.06-3.3,2.77,2.77,0,0,0-3-1.32c-1.76.55-2.35,3.27-4.19,3.36-1.24.06-2.13-1.2-2.52-2.38s-.6-2.53-1.53-3.36a5.7,5.7,0,0,0-2.18-1c-4.27-1.35-8.68-3.84-10.1-8.09a4.84,4.84,0,0,1-.23-2.71c.65-2.69,4-3.5,6.55-4.47s5-2.63,7.5-3.89,5.4-2.15,8.15-1.51a42.47,42.47,0,0,1,4.11,1.53c4.14,1.44,9.21.77,12.42,3.76a12.83,12.83,0,0,1,3,5.24c2.24,6.22,3.66,13.6-.05,19.06-2.29,3.37-4.51,7.22-8.91,7.63C687.73,535.64,685.7,531,684.89,526.66Z"
            transform="translate(-88.65 -57.09)"
            fill="#2f2e41"
          />
          <g opacity="0.1">
            <path
              d="M677.07,520.9c-.39-1.18-.6-2.53-1.52-3.36a5.7,5.7,0,0,0-2.18-1c-4.28-1.35-8.68-3.84-10.11-8.09a4.93,4.93,0,0,1-.22-2.71,3.39,3.39,0,0,1,.53-1.19c-1.63.71-3.05,1.65-3.45,3.31a4.84,4.84,0,0,0,.23,2.71c1.42,4.25,5.83,6.74,10.1,8.09a5.7,5.7,0,0,1,2.18,1c.93.83,1.13,2.17,1.53,3.36s1.28,2.44,2.52,2.38,1.84-1.19,2.63-2.14C678.22,523.12,677.43,522,677.07,520.9Z"
              transform="translate(-88.65 -57.09)"
            />
            <path
              d="M695.79,533.06c-5.14.47-7.17-4.21-8-8.52a8.7,8.7,0,0,0-1-3.3,2.78,2.78,0,0,0-3-1.32,5.32,5.32,0,0,0-2.21,2,3,3,0,0,1,2.26,1.4,8.89,8.89,0,0,1,1.06,3.3c.81,4.31,2.84,9,8,8.52a8.25,8.25,0,0,0,5.28-2.74A7.46,7.46,0,0,1,695.79,533.06Z"
              transform="translate(-88.65 -57.09)"
            />
          </g>
          <ellipse
            cx="813.11"
            cy="655.78"
            rx="32.29"
            ry="6.21"
            fill="#00ab6b"
          />
          <ellipse cx="812.57" cy="653.14" rx="3.76" ry="4.92" fill="#3f3d56" />
          <ellipse cx="812.57" cy="647.12" rx="3.76" ry="4.92" fill="#3f3d56" />
          <ellipse cx="812.57" cy="641.11" rx="3.76" ry="4.92" fill="#3f3d56" />
          <ellipse cx="812.57" cy="635.09" rx="3.76" ry="4.92" fill="#3f3d56" />
          <ellipse cx="812.57" cy="629.07" rx="3.76" ry="4.92" fill="#3f3d56" />
          <ellipse cx="812.57" cy="623.06" rx="3.76" ry="4.92" fill="#3f3d56" />
          <ellipse cx="812.57" cy="617.04" rx="3.76" ry="4.92" fill="#3f3d56" />
          <path
            d="M915.29,633a18.19,18.19,0,0,0,1.4-2.06l-9.88-1.62,10.69.07a18.11,18.11,0,0,0,.34-14.27l-14.34,7.44,13.22-9.72A18,18,0,1,0,887,633a17.92,17.92,0,0,0-2.06,3.28l12.83,6.67-13.68-4.59A18,18,0,0,0,887,655.24a18,18,0,1,0,28.31,0,18,18,0,0,0,0-22.27Z"
            transform="translate(-88.65 -57.09)"
            fill="#00ab6b"
          />
          <path
            d="M883.12,644.1A17.91,17.91,0,0,0,887,655.24a18,18,0,1,0,28.31,0C917.7,652.17,883.12,642.08,883.12,644.1Z"
            transform="translate(-88.65 -57.09)"
            opacity="0.1"
          />
          <ellipse
            cx="148.42"
            cy="776.87"
            rx="46.49"
            ry="8.94"
            fill="#00ab6b"
          />
          <ellipse cx="147.64" cy="773.07" rx="5.41" ry="7.09" fill="#3f3d56" />
          <ellipse cx="147.64" cy="764.41" rx="5.41" ry="7.09" fill="#3f3d56" />
          <ellipse cx="147.64" cy="755.75" rx="5.41" ry="7.09" fill="#3f3d56" />
          <ellipse cx="147.64" cy="747.09" rx="5.41" ry="7.09" fill="#3f3d56" />
          <ellipse cx="147.64" cy="738.43" rx="5.41" ry="7.09" fill="#3f3d56" />
          <ellipse cx="147.64" cy="729.76" rx="5.41" ry="7.09" fill="#3f3d56" />
          <ellipse cx="147.64" cy="721.1" rx="5.41" ry="7.09" fill="#3f3d56" />
          <path
            d="M256.55,718.93a27.23,27.23,0,0,0,2-3l-14.22-2.34,15.38.12a26,26,0,0,0,.49-20.55L239.58,703.9l19-14a25.93,25.93,0,1,0-42.83,29,25.83,25.83,0,0,0-3,4.72l18.47,9.6-19.69-6.61A25.93,25.93,0,0,0,215.79,751a25.93,25.93,0,1,0,40.76,0,25.92,25.92,0,0,0,0-32.06Z"
            transform="translate(-88.65 -57.09)"
            fill="#00ab6b"
          />
          <path
            d="M210.24,735a25.85,25.85,0,0,0,5.55,16,25.93,25.93,0,1,0,40.76,0C260,746.58,210.24,732.05,210.24,735Z"
            transform="translate(-88.65 -57.09)"
            opacity="0.1"
          />
        </svg>
        <h3 class="str">Terjadi kesalahan</h3>
      </div>
    </div>
    <b-button pill variant="success" @click="actionBack"
      ><b-icon-chevron-double-left></b-icon-chevron-double-left>
      Kembali</b-button
    >
  </div>
</template>

<script>
export default {
  name: "404 Not found",
  auth: false,
  layout: "error",
  props: ["error"],
  head: {
    title: "Halaman tidak ditemukan",
    meta: [
      {
        hid: "404",
        name: "404",
        content: "Halaman tidak ditemukan"
      }
    ]
  },
  methods: {
    actionBack() {
      this.$router.go(-1);
    }
  }
};
</script>

<style scoped>
.vector404 {
  min-width: 50%;
  height: 100%;
}
</style>
