<template>
  <div>
    <Breadcrumb :items="breadcrumb" />
    <b-card :class="this.$store.state.darkMode ? 'bg-dark' : ''">
      <div v-if="roles.includes('read-payroll')">
        <b-row align-h="center">
          <b-col cols="12" class="col-md-4 mb-4">
            <b-input-group class="mb-2" size="sm">
              <b-input-group-append is-text>
                <span class="str">Periode</span>
              </b-input-group-append>
              <VueMonthlyPicker
                :inputClass="{ input: isDisplayInput }"
                :disabled="isDisable"
                :monthLabels="locale"
                :clearOption="clearOption"
                :min="min"
                :max="max"
                @selected="handleSelect"
                v-model="selectedMonth"
                :alignment="alignment"
                :selectedBackgroundColor="selectedBackgroundColor"
              ></VueMonthlyPicker>
              <span class="input-group-append">
                <div class="input-group-text bg-transparent">
                  <b-icon-calendar-month
                    scale="0.9"
                    class="icon"
                  ></b-icon-calendar-month>
                </div>
              </span>
            </b-input-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col align-self="start">
            <label class="mr-sm-2 str" for="inline-form-custom-select-pref"
              >{{ $t("Show") }}&nbsp;
            </label>
            <b-form-select
              id="inline-form-custom-select-pref"
              v-model="limitData"
              size="sm"
              class="mr-sm-2 mb-sm-0 col-5 col-sm-6 col-md-3"
              :options="[50, 100, 500]"
              :value="50"
              @change="getEmployees"
            ></b-form-select>
          </b-col>
          <b-col class="d-flex justify-content-end">
            <b-input-group size="sm" class="col-12 col-md-8">
              <b-form-input
                v-model="searchData"
                :placeholder="$t('Search') + '...'"
                @input="getEmployees"
              ></b-form-input>
              <span class="input-group-append">
                <div
                  class="input-group-text bg-transparent"
                  type="button"
                  @click="getEmployees"
                >
                  <b-icon-search class="icon"></b-icon-search>
                </div>
              </span>
            </b-input-group>
          </b-col>
        </b-row>
        <b-row class="mt-3 list-row block">
          <b-col>
            <b-table
              responsive
              hover
              outlined
              small
              :dark="this.$store.state.darkMode"
              :items="employees"
              :fields="fields"
              :busy="isBusy"
            >
              <template #table-busy>
                <div class="text-center text-success my-2">
                  <b-spinner class="align-middle"></b-spinner>
                  <strong>{{ $t("Loading") }}...</strong>
                </div>
              </template>
              <template #cell(index)="data">
                {{ data.index + 1 }}
              </template>
              <template #cell(gaji_pokok)="data">
                {{ IDRFormat(data.value) }}
              </template>
              <template #cell(tunjangan)="data">
                {{ IDRFormat(data.value) }}
              </template>
              <template #cell(not_work)="row">
                <b-input-group size="sm">
                  <b-form-input
                    :disabled="
                      row.item.approved ||
                        !roles.includes('create-payroll') ||
                        !roles.includes('update-payroll')
                    "
                    size="sm"
                    type="number"
                    min="0"
                    v-model="row.item.not_work"
                  ></b-form-input>
                  <span class="input-group-append">
                    <div class="input-group-text bg-transparent str">Hari</div>
                  </span>
                </b-input-group>
              </template>
              <template #cell(overtime)="row">
                <b-input-group size="sm">
                  <b-form-input
                    :disabled="
                      row.item.approved ||
                        !roles.includes('create-payroll') ||
                        !roles.includes('update-payroll')
                    "
                    size="sm"
                    type="number"
                    min="0"
                    variant="warning"
                    v-model="row.item.overtime"
                  ></b-form-input>
                  <span class="input-group-append">
                    <div class="input-group-text bg-transparent str">
                      Jam
                    </div>
                  </span>
                </b-input-group>
              </template>
              <template #cell(preview)="row">
                <b-button
                  @click="previewGaji(row.item, $event.target)"
                  v-if="row.item.not_work && row.item.overtime"
                  size="sm"
                  variant="success"
                >
                  <b-icon-eye></b-icon-eye>
                </b-button>
              </template>
              <b-col v-if="!recordShow" class="text-center str">
                <span> {{ $t("NoAvailable") }}</span>
              </b-col>
            </b-table>
          </b-col>
        </b-row>
        <b-row>
          <b-col align-self="start">
            <label
              v-if="recordShow"
              class="mr-sm-2 str"
              for="inline-form-custom-select-pref"
              >{{ $t("Showing") }}
              {{ recordShow + " " + $t("of") + " " + recordsTotal }} data.
            </label>
          </b-col>
          <b-col class="d-flex justify-content-end">
            <b-pagination
              v-model="pagination"
              :total-rows="recordsTotal"
              :per-page="limitData"
              align="fill"
              size="sm"
              class="my-0"
            ></b-pagination>
          </b-col>
        </b-row>
      </div>
    </b-card>
    <b-modal
      size="lg"
      ref="modalPreview"
      centered
      :id="infoModal.id"
      :title="infoModal.title"
      @ok="handleOk"
      @hidden="resetForm"
      :ok-disabled="isBusySubmit"
      :ok-title="
        form.status == 3
          ? 'Download'
          : form.status == 2 && roles.includes('approve-payroll')
          ? 'Approve'
          : 'Ajukan'
      "
      ok-variant="success"
    >
      <b-container>
        <div class="slip-preview" ref="previewSlip">
          <center style="width: 100%; table-layout: fixed;">
            <div style="max-width: 400px; border-style: double; padding:10px;">
              <table style="border-collapse: collapse; width: 100%">
                <tbody>
                  <tr>
                    <td style="width: 50%">
                      <strong>PT. Mekar Jaya</strong>
                    </td>
                    <td style="width: 50%; text-align: right">
                      <strong>SLIP GAJI</strong>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p style="text-align: right; margin: 0;">
                {{ templateParams.month_text }} {{ templateParams.year }}
              </p>
              <hr style="background-color: gray;margin: 0;" />
              <table style="border-collapse: collapse; width: 100%">
                <tbody>
                  <tr>
                    <td style="width: 30.7563%">Kode Karyawan</td>
                    <td style="width: 2.53408%">:</td>
                    <td style="width: 66.7095%">
                      {{ templateParams.employee_code }}
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 30.7563%">Nama Lengkap</td>
                    <td style="width: 2.53408%">:</td>
                    <td style="width: 66.7095%">
                      {{ templateParams.fullname }}
                    </td>
                  </tr>
                  <tr>
                    <td style="width: 30.7563%">Jabatan</td>
                    <td style="width: 2.53408%">:</td>
                    <td style="width: 66.7095%">
                      {{ templateParams.position }}
                    </td>
                  </tr>
                </tbody>
              </table>
              <hr style="background-color: gray;margin: 0;" />
              <table
                style="border-collapse: collapse; width: 100%; margin-top: 15px;"
              >
                <thead>
                  <tr>
                    <td style="width: 43.7485%">
                      <strong>A. Upah tetap</strong>
                    </td>
                    <td style="width: 4.4834%; text-align: center;">&nbsp;</td>
                    <td style="width: 51.7679%">&nbsp;</td>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(item, index) in templateParams.composition
                      .upah_tetap"
                    v-bind:key="index"
                  >
                    <td style="width: 43.7485%">
                      &nbsp;&nbsp;&nbsp;- {{ item.name }}
                    </td>
                    <td style="width: 4.4834%; text-align: center;">:</td>
                    <td style="width: 51.7679%; text-align: right;">
                      {{ item.value_text }}
                    </td>
                  </tr>
                </tbody>
              </table>
              <table
                style="
                          border-collapse: collapse;
                          width: 100%;
                          height: 18px;
                          margin-top: 10px;
                        "
              >
                <thead>
                  <tr>
                    <td style="width: 43.7485%">
                      <strong>B. Upah tidak tetap</strong>
                    </td>
                    <td style="width: 4.4834%; text-align: center;">&nbsp;</td>
                    <td style="width: 51.7679%">&nbsp;</td>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(item, index) in templateParams.composition
                      .upah_tidak_tetap"
                    v-bind:key="index"
                  >
                    <td style="width: 43.7485%">
                      &nbsp;&nbsp;&nbsp;- {{ item.name }}
                    </td>
                    <td style="width: 4.4834%; text-align: center;">:</td>
                    <td style="width: 51.7679%; text-align: right;">
                      {{ item.value_text }}
                    </td>
                  </tr>
                </tbody>
              </table>
              <table
                style="
                          border-collapse: collapse;
                          width: 100%;
                          margin-top: 10px;
                        "
              >
                <thead>
                  <tr>
                    <td style="width: 43.7485%">
                      <strong>C. Potongan</strong>
                    </td>
                    <td style="width: 4.4834%; text-align: center;">&nbsp;</td>
                    <td style="width: 51.7679%">&nbsp;</td>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(item, index) in templateParams.composition.potongan"
                    v-bind:key="index"
                  >
                    <td style="width: 43.7485%">
                      &nbsp;&nbsp;&nbsp;- {{ item.name }}
                    </td>
                    <td style="width: 4.4834%; text-align: center;">:</td>
                    <td style="width: 51.7679%; text-align: right;">
                      {{ item.value_text }}
                    </td>
                  </tr>
                </tbody>
              </table>
              <p>&nbsp;</p>
              <table style="border-collapse: collapse; width: 100%" border="1">
                <tbody>
                  <tr>
                    <td style="width: 43.7485%">
                      &nbsp;
                      <strong>Total Penerimaan</strong>
                    </td>
                    <td style="width: 4.4834%; text-align: center;">:</td>
                    <td style="width: 51.7679%">
                      &nbsp;<strong>{{
                        templateParams.net_salary_text
                      }}</strong>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </center>
        </div>
      </b-container>
    </b-modal>
    <b-row class="mb-5"></b-row>
  </div>
</template>

<script>
import moment from "moment";
import Breadcrumb from "~/components/Breadcrumb";
import VueMonthlyPicker from "~/components/VueMonthlyPicker";
export default {
  name: "Payroll",
  auth: true,
  components: {
    Breadcrumb,
    VueMonthlyPicker
  },
  middleware: ["role"],
  data() {
    return {
      id_user_login: this.$auth.$state.user._id,
      roles: this.$store.state.roles,
      selectedMonth: moment(),
      isDisable: false,
      isDisplayInput: true,
      locale: [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec"
      ],
      monthName: [
        "Januari",
        "Februari",
        "Maret",
        "April",
        "Mei",
        "Juni",
        "Juli",
        "Agustus",
        "September",
        "Oktober",
        "November",
        "Desember"
      ],
      alignment: "center",
      selectedBackgroundColor: "#00ab6b",
      alignments: ["left", "center", "right"],
      colorExamples: ["blue", "red", "black"],
      min: null,
      max: null,
      isLimitRange: false,
      clearOption: false,
      fields: [
        {
          key: "index",
          label: "#"
        },
        {
          key: "employee_code",
          label: this.$t("Code"),
          sortable: true
        },
        {
          key: "fullname",
          label: this.$t("Fullname"),
          sortable: true
        },
        {
          key: "position",
          label: this.$t("Position"),
          sortable: true
        },
        {
          key: "gaji_pokok",
          label: this.$t("Gaji_pokok"),
          class: "text-right"
        },
        {
          key: "tunjangan",
          label: this.$t("Tunjangan"),
          class: "text-right"
        },
        {
          key: "not_work",
          label: this.$t("Not_work"),
          class: "text-center",
          thStyle: { width: "120px !important" }
        },
        {
          key: "overtime",
          label: this.$t("Overtime"),
          class: "text-center",
          thStyle: { width: "120px !important" }
        },
        {
          key: "preview",
          label: this.$t("Preview"),
          class: "text-center",
          thStyle: { width: "80px !important" }
        }
      ],
      employees: [],
      recordsTotal: 0,
      recordShow: 0,
      limitData: 50,
      pagination: 1,
      searchData: "",
      isBusy: false,
      isBusySubmit: false,
      period: [],
      breadcrumb: [
        {
          text: this.$t("Home"),
          to: "home"
        },
        {
          text: this.$t("Payroll"),
          active: true
        }
      ],
      form: {
        upah_tetap: [],
        upah_tidak_tetap: [],
        potongan: [],
        net_salary: 0,
        year: moment().format("Y"),
        month: moment().format("MM")
      },
      templateParams: {
        month_text: null,
        month: null,
        year: null,
        employee_id: null,
        employee_code: null,
        fullname: null,
        position: null,
        not_work: null,
        overtime: null,
        approved: null,
        note: null,
        composition: {
          upah_tetap: [],
          upah_tidak_tetap: [],
          potongan: []
        },
        gaji_pokok: 0,
        tunjangan: 0,
        net_salary: 0
      },
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      }
    };
  },
  head() {
    return {
      title: this.$t("Payroll")
    };
  },

  computed: {
    rangeDisplay() {
      if (!this.min || !this.max) {
        return "Disabled";
      }
      return this.min.format("YYYY/MM") + "-" + this.max.format("YYYY/MM");
    }
  },
  watch: {
    isLimitRange(newValue) {
      if (newValue) {
        this.setSelectRange(
          moment().subtract(6, "months"),
          moment().add(6, "months")
        );
      } else {
        this.setSelectRange(null, null);
      }
    }
  },
  created() {
    this.getEmployees();
  },

  methods: {
    async getEmployees() {
      this.isBusy = true;
      this.pagination = 1;
      const employees = await this.$axios.$get("/payroll", {
        params: {
          pagination: this.pagination,
          limit: this.limitData,
          search: this.searchData,
          year: this.form.year,
          month: this.form.month
        }
      });
      this.recordsTotal = employees.recordsTotal;
      this.employees = employees.data;
      this.recordShow = this.employees.length;
      this.isBusy = false;
    },
    async downloadSlipGaji() {
      this.isBusySubmit = true;
      const formParams = this.templateParams;

      var fileName = `${formParams.employee_code}_${formParams.fullname}_${formParams.month}${formParams.year}.pdf`;
      await this.$axios({
        url: "payroll/download",
        method: "POST",
        data: formParams,
        responseType: "blob" // important
      })
        .then(response => {
          const url = window.URL.createObjectURL(new Blob([response.data]));
          const link = document.createElement("a");
          link.href = url;
          link.setAttribute("download", fileName);
          document.body.appendChild(link);
          link.click();
          this.isBusySubmit = false;
          this.$root.$emit("bv::hide::modal", this.infoModal.id);
        })
        .catch(error => {
          if (error.response) {
            const { message } = error.response.data;
            this.isBusySubmit = false;
            this.$confirm({
              title: "⛔ Error",
              message: message[this.$i18n.locale],
              button: {
                yes: this.$t("Ok")
              }
            });
          }
        });
    },
    handleSelect(value) {
      this.form.year = value.format("Y");
      this.form.month = value.format("MM");
      this.getEmployees();
    },
    setSelectRange(min, max) {
      this.min = min;
      this.max = max;
    },
    async handleOk(bvModalEvt) {
      bvModalEvt.preventDefault();
      let status = this.form.status;
      status == 3
        ? this.downloadSlipGaji()
        : status == 2 && this.roles.includes("approve-payroll")
        ? this.putData()
        : this.postData();
    },
    async postData() {
      this.isBusySubmit = true;
      let formSubmit = this.templateParams;
      formSubmit["composition"] = JSON.stringify(formSubmit["composition"]);
      await this.$axios
        .post(`payroll`, formSubmit)
        .then(({ data }) => {
          this.isBusySubmit = false;
          this.resetForm();
          this.$root.$emit("bv::hide::modal", this.infoModal.id);
          this.getEmployees();
          // this.$toast.success("Data agenda berhasil ditambahkan");
        })
        .catch(error => {
          if (error.response) {
            const { message } = error.response.data;
            const msg = message[this.$i18n.locale]
              ? message[this.$i18n.locale]
              : message;
            this.isBusySubmit = false;
            this.$confirm({
              title: "⛔ Error",
              message: msg,
              button: {
                yes: this.$t("Ok")
              }
            });
          }
        });
    },
    async putData() {
      this.isBusySubmit = true;
      let formSubmit = this.templateParams;
      const putSubmit = {
        employee_id: formSubmit.employee_id,
        year: formSubmit.year,
        month: formSubmit.month,
        approved: true
      };
      await this.$axios
        .put(`payroll`, putSubmit)
        .then(({ data }) => {
          this.isBusySubmit = false;
          this.resetForm();
          this.$root.$emit("bv::hide::modal", this.infoModal.id);
          this.getEmployees();
          // this.$toast.success("Data agenda berhasil ditambahkan");
        })
        .catch(error => {
          if (error.response) {
            const { message } = error.response.data;
            const msg = message[this.$i18n.locale]
              ? message[this.$i18n.locale]
              : message;
            this.isBusySubmit = false;
            this.$confirm({
              title: "⛔ Error",
              message: msg,
              button: {
                yes: this.$t("Ok")
              }
            });
          }
        });
    },
    getMonthName() {
      var month_index = parseInt(this.form.month) - 1;
      return this.monthName[month_index];
    },
    IDRFormat(value) {
      return (
        "Rp " + value.toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
      );
    },
    async previewGaji(item, button) {
      this.infoModal.title = item.fullname;
      for (var key in item) {
        this.form[key] = item[key];
      }

      // Hitung upah tetap
      const upah_tetap = [
        {
          name: "Gaji pokok",
          type: 1,
          value: this.form.gaji_pokok,
          value_text: this.IDRFormat(this.form.gaji_pokok)
        },
        {
          name: "Tunjangan",
          type: 1,
          value: this.form.tunjangan,
          value_text: this.IDRFormat(this.form.tunjangan)
        }
      ];

      // Hitung upah tidak tetap
      var lembur_per_jam = parseInt(this.form.gaji_pokok) / 173;
      var jam_lembur = this.form.overtime;
      // var jam_lembur =
      //   this.form.overtime <= 4
      //     ? this.form.overtime
      //     : 4 + (this.form.overtime - 4) * 2;
      var upah_lembur = lembur_per_jam * jam_lembur;
      upah_lembur = upah_lembur > 0 ? Math.round(upah_lembur) : 0;
      const upah_tidak_tetap = [
        {
          name: `Lembur @${this.form.overtime} jam`,
          type: 1,
          value: upah_lembur,
          value_text: this.IDRFormat(upah_lembur)
        }
      ];

      // Hitung potongan
      var nwnp = Math.round((this.form.not_work * this.form.gaji_pokok) / 30);
      var bpjs = Math.round(
        ((this.form.gaji_pokok + this.form.tunjangan) * 3) / 100
      );
      const potongan = [
        {
          name: `NWNP @${this.form.not_work} hari`,
          type: -1,
          value: nwnp,
          value_text: this.IDRFormat(nwnp)
        },
        {
          name: "BPJS",
          type: -1,
          value: bpjs,
          value_text: this.IDRFormat(bpjs)
        }
      ];

      this.form.fixedComponents.forEach(key => {
        if (key.type == 1) {
          key["value_text"] = this.IDRFormat(key.value);
          upah_tidak_tetap.push(key);
        } else if (key.type == -1) {
          key["value_text"] = this.IDRFormat(key.value);
          potongan.push(key);
        }
      });

      let net_salary = 0;
      upah_tetap.forEach(key => {
        net_salary += key.value * key.type;
      });
      upah_tidak_tetap.forEach(key => {
        net_salary += key.value * key.type;
      });
      potongan.forEach(key => {
        net_salary -= key.value * key.type;
      });

      var month_index = parseInt(this.form.month) - 1;
      this.templateParams = {
        month: this.form.month,
        month_text: this.monthName[month_index],
        year: this.form.year,
        employee_id: this.form._id,
        employee_code: this.form.employee_code,
        fullname: this.form.fullname,
        position: this.form.position,
        not_work: this.form.not_work,
        overtime: this.form.overtime,
        approved: this.form.approved,
        note: this.form.note,
        composition: {
          upah_tetap: upah_tetap,
          upah_tidak_tetap: upah_tidak_tetap,
          potongan: potongan,
          info: {
            month_text: this.monthName[month_index],
            employee_code: this.form.employee_code,
            fullname: this.form.fullname,
            position: this.form.position,
            net_salary_text: this.IDRFormat(net_salary)
          }
        },
        gaji_pokok: this.form.gaji_pokok,
        tunjangan: this.form.tunjangan,
        net_salary: net_salary,
        net_salary_text: this.IDRFormat(net_salary)
      };
      this.$root.$emit("bv::show::modal", this.infoModal.id, button);
    },
    async resetForm() {
      this.templateParams = {
        month: null,
        month_text: null,
        year: null,
        employee_id: null,
        employee_code: null,
        fullname: null,
        position: null,
        not_work: null,
        overtime: null,
        approved: null,
        note: null,
        composition: {
          upah_tetap: [],
          upah_tidak_tetap: [],
          potongan: []
        },
        gaji_pokok: 0,
        tunjangan: 0,
        net_salary: 0
      };
    }
  }
};
</script>

<style scoped></style>
