<template>
  <svg viewBox="0 0 1440 1024" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect fill="#E5E5E5" />
    <rect fill="white" />
    <g clip-path="url(#clip0)">
      <path
        opacity="0.1"
        d="M1349.27 579.672C1296.21 653.41 1309.64 755.902 1336.35 837.084C1345.35 864.26 1355.51 892.979 1349.47 923.015C1342.08 959.748 1311.96 988.039 1281.08 1003.88C1224.81 1032.76 1159.5 1030.39 1111.04 997.715C1069.16 969.471 1040.7 921.282 997.957 894.427C926.523 849.645 831.136 873.603 748.767 912.093C690.492 939.292 626.511 973.983 571.281 952.221C532.422 936.906 507.236 895.662 494.72 851.129C488.68 829.629 484.722 806.205 471.846 789.619C464.136 779.765 453.856 772.998 443.203 767.502C345.915 716.76 217.555 754.264 123.428 697.206C59.9092 658.74 22.117 581.405 8.00751 499.309C-6.10195 417.213 0.849975 329.893 10.282 243.962C16.9769 182.903 26.576 117.582 63.443 68.6332C102.443 16.8586 165.704 -5.18807 221.5 1.02109C277.295 7.23024 326.357 37.9792 369.058 75.1035C422.425 121.405 471.05 180.125 538.808 196.2C584.953 207.182 634.683 196.877 683.18 191.451C764.264 182.488 844.616 187.474 924.428 193.398C1000.85 199.073 1077.76 205.733 1149.52 229.929C1200.31 247.048 1239.91 281.145 1287.52 303.821C1318.56 318.602 1353.12 321.19 1382.2 340.625C1418.03 364.547 1449.69 407.928 1437.24 461.531C1425.4 512.57 1377.42 540.493 1349.27 579.672Z"
        fill="#00ab6b"
      />
      <path
        opacity="0.1"
        d="M1184.39 304.427H1131.84V377.915H1184.39V304.427Z"
        fill="#00ab6b"
      />
      <path
        opacity="0.1"
        d="M1179.27 311.574H1136.94V370.768H1179.27V311.574Z"
        fill="#00ab6b"
      />
      <path
        opacity="0.1"
        d="M1105.88 253.376H1025.18V326.865H1105.88V253.376Z"
        fill="#00ab6b"
      />
      <path
        opacity="0.1"
        d="M1098.03 260.523H1033.02V319.718H1098.03V260.523Z"
        fill="#00ab6b"
      />
      <path
        d="M329.696 144.033H83.0377V150.1H329.696V144.033Z"
        fill="#00ab6b"
      />
      <path
        opacity="0.5"
        d="M329.696 173.702H83.0377V179.769H329.696V173.702Z"
        fill="#00ab6b"
      />
      <path
        d="M524.337 537.371H499.138V797.538H524.337V537.371Z"
        fill="#D6D6E3"
      />
      <path
        d="M1260.39 564.689V324.704C1260.4 318.015 1263.28 311.602 1268.4 306.873C1273.52 302.144 1280.46 299.488 1287.7 299.488V299.488C1294.93 299.5 1301.86 302.162 1306.97 306.89C1312.08 311.617 1314.95 318.024 1314.96 324.704V615.146C1314.96 621.837 1312.08 628.253 1306.96 632.985C1301.84 637.716 1294.89 640.374 1287.65 640.374H1118.53C1111.29 640.374 1104.34 637.716 1099.22 632.985C1094.1 628.253 1091.22 621.837 1091.22 615.146V615.146C1091.22 608.455 1094.1 602.038 1099.22 597.306C1104.34 592.575 1111.29 589.917 1118.53 589.917H1233.09C1240.33 589.917 1247.27 587.259 1252.4 582.528C1257.52 577.797 1260.39 571.38 1260.39 564.689V564.689Z"
        fill="#AEBEE1"
      />
      <path
        d="M1260.39 564.689V324.704C1260.4 318.015 1263.28 311.602 1268.4 306.873C1273.52 302.144 1280.46 299.488 1287.7 299.488V299.488C1294.93 299.5 1301.86 302.162 1306.97 306.89C1312.08 311.617 1314.95 318.024 1314.96 324.704V615.146C1314.96 621.837 1312.08 628.253 1306.96 632.985C1301.84 637.716 1294.89 640.374 1287.65 640.374H1118.53C1111.29 640.374 1104.34 637.716 1099.22 632.985C1094.1 628.253 1091.22 621.837 1091.22 615.146V615.146C1091.22 608.455 1094.1 602.038 1099.22 597.306C1104.34 592.575 1111.29 589.917 1118.53 589.917H1233.09C1240.33 589.917 1247.27 587.259 1252.4 582.528C1257.52 577.797 1260.39 571.38 1260.39 564.689V564.689Z"
        fill="#535461"
      />
      <path
        d="M1091.26 613.792C1091.63 607.345 1094.67 601.275 1099.74 596.834C1104.82 592.392 1111.54 589.917 1118.53 589.917H1233.09C1240.33 589.917 1247.27 587.259 1252.4 582.528C1257.52 577.797 1260.39 571.38 1260.39 564.689V324.704C1260.39 318.22 1263.09 311.983 1267.93 307.288C1272.77 302.592 1279.38 299.799 1286.39 299.488V613.792H1091.26Z"
        fill="#D6D6E3"
      />
      <path
        d="M247.365 572.786V332.801C247.365 326.12 244.497 319.713 239.39 314.983C234.283 310.253 227.354 307.589 220.123 307.573V307.573C212.881 307.573 205.935 310.231 200.814 314.962C195.693 319.693 192.816 326.11 192.816 332.801V623.242C192.808 626.56 193.508 629.847 194.877 632.915C196.245 635.983 198.255 638.771 200.792 641.12C203.328 643.469 206.341 645.333 209.658 646.604C212.976 647.876 216.532 648.53 220.123 648.53H389.231C396.473 648.53 403.419 645.872 408.539 641.141C413.66 636.41 416.537 629.993 416.537 623.302V623.302C416.537 616.611 413.66 610.194 408.539 605.463C403.419 600.731 396.473 598.073 389.231 598.073H274.685C271.092 598.075 267.535 597.422 264.216 596.151C260.897 594.88 257.883 593.016 255.345 590.667C252.807 588.318 250.796 585.53 249.427 582.461C248.057 579.393 247.357 576.105 247.365 572.786V572.786Z"
        fill="#AEBEE1"
      />
      <path
        d="M247.365 572.786V332.801C247.365 326.12 244.497 319.713 239.39 314.983C234.283 310.253 227.354 307.589 220.123 307.573V307.573C212.881 307.573 205.935 310.231 200.814 314.962C195.693 319.693 192.816 326.11 192.816 332.801V623.242C192.808 626.56 193.508 629.847 194.877 632.915C196.245 635.983 198.255 638.771 200.792 641.12C203.328 643.469 206.341 645.333 209.658 646.604C212.976 647.876 216.532 648.53 220.123 648.53H389.231C396.473 648.53 403.419 645.872 408.539 641.141C413.66 636.41 416.537 629.993 416.537 623.302V623.302C416.537 616.611 413.66 610.194 408.539 605.463C403.419 600.731 396.473 598.073 389.231 598.073H274.685C271.092 598.075 267.535 597.422 264.216 596.151C260.897 594.88 257.883 593.016 255.345 590.667C252.807 588.318 250.796 585.53 249.427 582.461C248.057 579.393 247.357 576.105 247.365 572.786V572.786Z"
        fill="#535461"
      />
      <path
        d="M416.499 621.889C416.124 615.441 413.088 609.372 408.015 604.931C402.942 600.489 396.219 598.014 389.231 598.014H274.685C271.098 598.016 267.545 597.364 264.231 596.097C260.916 594.83 257.905 592.972 255.368 590.629C252.831 588.286 250.818 585.504 249.445 582.443C248.072 579.381 247.365 576.1 247.365 572.786V332.801C247.364 326.327 244.669 320.101 239.837 315.411C235.005 310.722 228.407 307.928 221.408 307.608V621.889H416.499Z"
        fill="#D6D6E3"
      />
      <path
        d="M1022.88 537.371H997.685V803.605H1022.88V537.371Z"
        fill="#D6D6E3"
      />
      <path
        opacity="0.1"
        d="M524.337 537.371H499.138V556.604H524.337V537.371Z"
        fill="black"
      />
      <path
        opacity="0.1"
        d="M1022.88 537.371H997.685V556.604H1022.88V537.371Z"
        fill="black"
      />
      <path
        opacity="0.1"
        d="M589.141 378.936C588.738 383.036 588.228 387.192 587.611 391.402H584.052V378.936H589.141Z"
        fill="black"
      />
      <path
        d="M692.391 508.438C692.469 512.653 689.179 516.108 685.105 516.108H608.197V508.7H672.191C674.954 508.7 676.676 505.613 675.288 503.143L617.257 394.097C616.846 393.311 616.209 392.645 615.416 392.172C614.622 391.699 613.703 391.436 612.759 391.414H584.052V378.948H620.302C620.963 378.964 621.606 379.147 622.161 379.478C622.717 379.809 623.163 380.275 623.45 380.824L689.976 499.546C691.509 502.3 692.335 505.342 692.391 508.438Z"
        fill="#535461"
      />
      <path
        d="M551.143 488.659L550.089 490.298L540.233 484.219L570.726 267.587H578.578C578.578 267.587 578.899 268.585 579.426 270.484C584.682 289.207 610.498 395.237 551.143 488.659Z"
        fill="#535461"
      />
      <path
        opacity="0.1"
        d="M579.413 270.484L551.143 488.659L550.089 490.298L540.233 484.219L570.726 267.587H578.578C578.578 267.587 578.886 268.62 579.413 270.484Z"
        fill="black"
      />
      <path
        d="M560.242 265.346L531.315 488.48L549.816 490.527L578.743 267.393L560.242 265.346Z"
        fill="#D6D6E3"
      />
      <path
        d="M467.912 508.521C467.909 509.059 467.676 509.573 467.265 509.954C466.854 510.334 466.297 510.548 465.715 510.552H462.425C461.843 510.552 461.284 510.338 460.872 509.957C460.459 509.576 460.228 509.06 460.228 508.521C460.218 508.443 460.218 508.363 460.228 508.284C460.294 507.794 460.55 507.343 460.95 507.015C461.35 506.687 461.865 506.505 462.4 506.503H465.689C466.178 506.508 466.65 506.662 467.034 506.941C467.418 507.22 467.69 507.609 467.809 508.047C467.866 508.2 467.9 508.36 467.912 508.521V508.521Z"
        fill="#E3EDF9"
      />
      <path
        d="M477.768 508.521C477.765 509.059 477.532 509.573 477.121 509.954C476.71 510.334 476.153 510.548 475.571 510.552H472.281C471.699 510.552 471.14 510.338 470.728 509.957C470.315 509.576 470.084 509.06 470.084 508.521C470.085 508.332 470.115 508.145 470.174 507.963C470.271 507.634 470.462 507.335 470.726 507.097C470.927 506.908 471.168 506.758 471.432 506.656C471.697 506.554 471.982 506.502 472.268 506.503H475.558C475.982 506.501 476.398 506.612 476.756 506.823C477.113 507.033 477.398 507.335 477.576 507.69C477.701 507.952 477.766 508.235 477.768 508.521Z"
        fill="#E3EDF9"
      />
      <path
        d="M486.532 508.521C486.529 509.059 486.296 509.573 485.885 509.954C485.473 510.334 484.917 510.548 484.335 510.552H481.045C480.462 510.552 479.903 510.338 479.491 509.957C479.079 509.576 478.848 509.06 478.848 508.521C478.842 508.231 478.908 507.942 479.041 507.679C479.219 507.328 479.5 507.031 479.852 506.821C480.204 506.611 480.613 506.497 481.032 506.491H484.322C484.611 506.49 484.897 506.541 485.165 506.643C485.432 506.744 485.675 506.894 485.88 507.082C486.084 507.271 486.246 507.496 486.355 507.743C486.465 507.99 486.521 508.254 486.519 508.521H486.532Z"
        fill="#E3EDF9"
      />
      <path
        d="M496.401 508.521C496.398 509.059 496.165 509.573 495.754 509.954C495.342 510.334 494.785 510.548 494.204 510.552H490.914C490.512 510.551 490.118 510.449 489.775 510.257C489.432 510.064 489.152 509.788 488.967 509.459C488.781 509.129 488.697 508.76 488.723 508.389C488.749 508.019 488.885 507.662 489.115 507.358L489.372 507.097C489.573 506.908 489.813 506.758 490.078 506.656C490.343 506.554 490.627 506.502 490.914 506.503H494.204C494.503 506.507 494.799 506.566 495.073 506.678C495.347 506.791 495.593 506.953 495.797 507.156C496.183 507.521 496.4 508.011 496.401 508.521V508.521Z"
        fill="#E3EDF9"
      />
      <path
        opacity="0.1"
        d="M467.848 508.035C467.892 508.194 467.914 508.357 467.912 508.521C467.909 509.059 467.676 509.573 467.265 509.954C466.854 510.334 466.297 510.548 465.715 510.552H462.425C461.843 510.552 461.284 510.338 460.872 509.957C460.459 509.576 460.228 509.06 460.228 508.521C460.218 508.443 460.218 508.363 460.228 508.284L467.848 508.035Z"
        fill="black"
      />
      <path
        opacity="0.1"
        d="M477.588 507.714C477.704 507.966 477.765 508.236 477.768 508.51C477.765 509.047 477.532 509.562 477.121 509.942C476.71 510.322 476.153 510.537 475.571 510.54H472.281C471.699 510.54 471.14 510.326 470.728 509.945C470.315 509.564 470.084 509.048 470.084 508.51C470.085 508.321 470.115 508.133 470.174 507.952L477.588 507.714Z"
        fill="black"
      />
      <path
        opacity="0.1"
        d="M486.211 507.441C486.427 507.762 486.543 508.132 486.545 508.51C486.542 509.047 486.309 509.562 485.898 509.942C485.486 510.322 484.929 510.537 484.348 510.54H481.058C480.475 510.54 479.916 510.326 479.504 509.945C479.092 509.564 478.861 509.048 478.861 508.51C478.855 508.219 478.921 507.931 479.053 507.667L486.211 507.441Z"
        fill="black"
      />
      <path
        opacity="0.1"
        d="M496.401 508.521C496.398 509.059 496.165 509.573 495.754 509.954C495.342 510.334 494.785 510.548 494.204 510.552H490.914C490.512 510.551 490.118 510.449 489.775 510.257C489.432 510.064 489.152 509.788 488.967 509.459C488.781 509.129 488.697 508.76 488.723 508.389C488.749 508.019 488.885 507.662 489.115 507.358L495.797 507.144C496.186 507.512 496.403 508.007 496.401 508.521Z"
        fill="black"
      />
      <path
        d="M516.113 516.618H452.569V513.947C452.568 512.761 453.067 511.621 453.959 510.768C454.851 509.915 456.066 509.416 457.349 509.376L508.313 507.75C509.326 507.718 510.335 507.875 511.281 508.21C512.226 508.546 513.089 509.054 513.818 509.704C514.547 510.355 515.127 511.133 515.524 511.995C515.92 512.856 516.125 513.783 516.126 514.719L516.113 516.618Z"
        fill="#D6D6E3"
      />
      <path
        d="M829.618 508.438C829.541 512.653 832.831 516.108 836.904 516.108H913.851V508.7H849.78C847.017 508.7 845.295 505.613 846.683 503.143L904.714 394.097C905.125 393.311 905.762 392.645 906.555 392.172C907.349 391.699 908.268 391.436 909.212 391.414H937.932V378.948H901.707C901.057 378.971 900.425 379.157 899.88 379.485C899.335 379.813 898.896 380.272 898.611 380.812L832.085 499.534C830.533 502.287 829.688 505.335 829.618 508.438V508.438Z"
        fill="#535461"
      />
      <path
        d="M970.88 488.659L971.934 490.298L981.79 484.219L951.296 267.587H943.445C943.445 267.587 943.123 268.585 942.597 270.484C937.328 289.207 911.461 395.237 970.88 488.659Z"
        fill="#535461"
      />
      <path
        opacity="0.1"
        d="M942.597 270.484L970.867 488.659L971.921 490.298L981.777 484.219L951.296 267.587H943.445C943.445 267.587 943.123 268.62 942.597 270.484Z"
        fill="black"
      />
      <path
        d="M961.791 265.324L943.291 267.371L972.218 490.505L990.718 488.458L961.791 265.324Z"
        fill="#D6D6E3"
      />
      <path
        d="M1054.1 508.521C1054.1 509.059 1054.33 509.573 1054.74 509.954C1055.16 510.334 1055.71 510.548 1056.29 510.552H1059.58C1060.17 510.552 1060.73 510.338 1061.14 509.957C1061.55 509.576 1061.78 509.06 1061.78 508.521C1061.79 508.443 1061.79 508.363 1061.78 508.284C1061.72 507.794 1061.46 507.343 1061.06 507.015C1060.66 506.687 1060.14 506.505 1059.61 506.503H1056.32C1055.83 506.508 1055.36 506.662 1054.98 506.941C1054.59 507.22 1054.32 507.609 1054.2 508.047C1054.14 508.2 1054.11 508.36 1054.1 508.521V508.521Z"
        fill="#E3EDF9"
      />
      <path
        d="M1044.24 508.521C1044.24 509.059 1044.48 509.573 1044.89 509.954C1045.3 510.334 1045.86 510.548 1046.44 510.552H1049.73C1050.02 510.552 1050.3 510.499 1050.57 510.397C1050.84 510.295 1051.08 510.145 1051.28 509.957C1051.49 509.768 1051.65 509.545 1051.76 509.298C1051.87 509.052 1051.93 508.788 1051.93 508.521C1051.92 508.332 1051.89 508.145 1051.84 507.963C1051.74 507.634 1051.55 507.335 1051.28 507.097C1051.08 506.908 1050.84 506.758 1050.58 506.656C1050.31 506.554 1050.03 506.502 1049.74 506.503H1046.39C1045.96 506.501 1045.55 506.612 1045.19 506.823C1044.83 507.033 1044.55 507.335 1044.37 507.69C1044.27 507.957 1044.22 508.239 1044.24 508.521Z"
        fill="#E3EDF9"
      />
      <path
        d="M1035.48 508.521C1035.48 509.059 1035.71 509.573 1036.12 509.954C1036.54 510.334 1037.09 510.548 1037.67 510.552H1040.96C1041.55 510.552 1042.11 510.338 1042.52 509.957C1042.93 509.576 1043.16 509.06 1043.16 508.521C1043.17 508.231 1043.1 507.942 1042.97 507.679C1042.79 507.328 1042.51 507.031 1042.16 506.821C1041.81 506.611 1041.4 506.497 1040.98 506.491H1037.69C1037.4 506.49 1037.11 506.541 1036.84 506.643C1036.58 506.744 1036.33 506.894 1036.13 507.082C1035.93 507.271 1035.76 507.496 1035.65 507.743C1035.54 507.99 1035.49 508.254 1035.49 508.521H1035.48Z"
        fill="#E3EDF9"
      />
      <path
        d="M1025.61 508.521C1025.61 509.059 1025.84 509.573 1026.26 509.954C1026.67 510.334 1027.22 510.548 1027.81 510.552H1031.1C1031.5 510.551 1031.89 510.449 1032.23 510.257C1032.58 510.064 1032.86 509.788 1033.04 509.459C1033.23 509.129 1033.31 508.76 1033.29 508.389C1033.26 508.019 1033.12 507.662 1032.89 507.358L1032.64 507.097C1032.44 506.908 1032.2 506.758 1031.93 506.656C1031.67 506.554 1031.38 506.502 1031.1 506.503H1027.81C1027.51 506.507 1027.21 506.566 1026.94 506.678C1026.66 506.791 1026.42 506.953 1026.21 507.156C1025.83 507.521 1025.61 508.011 1025.61 508.521Z"
        fill="#E3EDF9"
      />
      <path
        opacity="0.1"
        d="M1054.16 508.035C1054.12 508.194 1054.1 508.357 1054.1 508.521C1054.1 509.059 1054.33 509.573 1054.74 509.954C1055.16 510.334 1055.71 510.548 1056.29 510.552H1059.58C1060.17 510.552 1060.73 510.338 1061.14 509.957C1061.55 509.576 1061.78 509.06 1061.78 508.521C1061.79 508.443 1061.79 508.363 1061.78 508.284L1054.16 508.035Z"
        fill="black"
      />
      <path
        opacity="0.1"
        d="M1044.42 507.714C1044.31 507.966 1044.24 508.236 1044.24 508.51C1044.24 509.047 1044.48 509.562 1044.89 509.942C1045.3 510.322 1045.86 510.537 1046.44 510.54H1049.73C1050.02 510.54 1050.3 510.487 1050.57 510.385C1050.84 510.283 1051.08 510.134 1051.28 509.945C1051.49 509.757 1051.65 509.533 1051.76 509.286C1051.87 509.04 1051.93 508.776 1051.93 508.51C1051.92 508.321 1051.89 508.133 1051.84 507.952L1044.42 507.714Z"
        fill="black"
      />
      <path
        opacity="0.1"
        d="M1035.8 507.441C1035.58 507.762 1035.47 508.132 1035.46 508.51C1035.47 509.047 1035.7 509.562 1036.11 509.942C1036.52 510.322 1037.08 510.537 1037.66 510.54H1040.95C1041.53 510.54 1042.09 510.326 1042.51 509.945C1042.92 509.564 1043.15 509.048 1043.15 508.51C1043.15 508.219 1043.09 507.931 1042.96 507.667L1035.8 507.441Z"
        fill="black"
      />
      <path
        opacity="0.1"
        d="M1025.61 508.521C1025.61 509.059 1025.84 509.573 1026.26 509.954C1026.67 510.334 1027.22 510.548 1027.81 510.552H1031.1C1031.5 510.551 1031.89 510.449 1032.23 510.257C1032.58 510.064 1032.86 509.788 1033.04 509.459C1033.23 509.129 1033.31 508.76 1033.29 508.389C1033.26 508.019 1033.12 507.662 1032.89 507.358L1026.21 507.144C1025.82 507.512 1025.61 508.007 1025.61 508.521Z"
        fill="black"
      />
      <path
        d="M1005.9 516.618H1069.44V513.947C1069.44 512.761 1068.94 511.621 1068.05 510.768C1067.16 509.915 1065.94 509.416 1064.66 509.376L1013.7 507.75C1012.68 507.718 1011.67 507.875 1010.73 508.21C1009.78 508.546 1008.92 509.054 1008.19 509.704C1007.46 510.355 1006.88 511.133 1006.49 511.995C1006.09 512.856 1005.88 513.783 1005.88 514.719L1005.9 516.618Z"
        fill="#D6D6E3"
      />
      <path
        d="M1271.87 548.804C1301.51 502.348 1290.77 408.641 1291.97 406.848C1293.03 405.269 1288.95 361.14 1261.7 350.36C1256.78 341.349 1251.94 331.198 1251.94 331.198C1251.46 331.612 1250.94 331.975 1250.37 332.279C1250.16 331.741 1249.95 331.194 1249.74 330.64C1249.39 329.703 1249.07 328.741 1248.75 327.779C1249.51 328.004 1250.29 328.187 1251.08 328.325C1253.15 328.794 1255.34 328.614 1257.3 327.815C1257.96 327.484 1258.57 327.055 1259.08 326.545C1261.23 325.227 1262.41 322.852 1263.41 320.608L1271.34 303.061C1274.91 295.143 1278.51 287.176 1280.41 278.783C1283.24 266.151 1282.15 253.038 1277.25 240.958C1275.38 236.352 1272.78 231.745 1268.37 228.991C1259.55 223.458 1247.26 227.281 1237.17 224.04C1233.86 222.972 1230.86 221.167 1227.55 220.075C1220.39 217.7 1212.31 218.971 1205.42 221.927C1198.53 224.883 1192.96 229.584 1186.93 233.799C1183.96 235.9 1179.22 238.073 1175.72 240.922C1172.33 243.368 1169.72 246.324 1170.22 250.218C1170.79 254.67 1175.87 257.342 1180.59 258.386C1181.38 258.553 1182.19 258.683 1182.98 258.814C1177.37 264.067 1173.33 270.573 1171.25 277.7C1169.16 284.826 1169.11 292.329 1171.1 299.478C1173.09 306.627 1177.05 313.178 1182.59 318.494C1188.14 323.809 1195.08 327.708 1202.74 329.809C1205.15 333.993 1207.23 338.329 1208.98 342.786C1209.21 343.395 1209.44 344.008 1209.66 344.626C1201.87 346.668 1195.78 348.366 1194.56 349.303C1190.87 352.129 1198.6 376.871 1198.6 376.871C1196.63 379.174 1194.63 381.798 1192.6 384.611C1177.2 406.218 1167.45 430.836 1164.12 456.521C1162.84 465.912 1161.16 475.517 1159.04 484.646L1066.95 467.586L1066.75 469.687L1064.56 469.189L1057.64 467.61L1057.37 469.046L1056.32 468.583C1039.19 461.163 1010.33 451.689 990.785 461.46C970.16 471.718 1014.67 485.347 1043.24 492.601C1033.77 493.028 1024.71 495.13 1017.54 500.045C996.824 514.386 1055.41 521.854 1083.07 524.501L1084.19 524.608V525.154L1093.78 525.973L1096.03 526.163L1096.25 529.321C1096.25 529.321 1109.97 531.399 1128.31 533.916C1107.37 538.748 1081.51 542.096 1063.54 544.055C1044.5 546.121 1028.28 558.373 1023.17 575.457C1021.51 580.356 1021.35 585.581 1022.7 590.558C1028.05 607.808 1021.52 734.71 1020.04 762.04L986.184 780.05C986.184 780.05 933.499 785.986 968.593 797.395C971.755 798.393 974.988 799.186 978.269 799.77C973.643 802.524 974.041 806.121 987.675 810.538C1022.79 821.911 1104.43 810.039 1104.43 810.039C1104.43 810.039 1102.65 796.671 1099.74 785.559L1100.64 785.63C1100.64 785.63 1092.21 756.65 1105 742.035C1117.78 727.421 1102.85 616.19 1102.85 616.19C1102.85 616.19 1125.24 607.63 1192.15 607.072C1246.12 619.871 1272.42 574.056 1272.05 550.371C1271.93 549.837 1271.91 549.29 1271.87 548.804Z"
        fill="url(#paint0_linear)"
      />
      <path
        d="M1072.41 476.811L1066.69 498.181C1066.69 498.181 1061.55 497.112 1053.84 495.284C1027.73 489.039 972.653 474.045 994.73 463.039C1013.76 453.541 1041.79 462.778 1058.43 469.984C1064.52 472.632 1069.09 475.006 1071.14 476.122C1072 476.573 1072.41 476.811 1072.41 476.811Z"
        fill="#F8B9BF"
      />
      <path
        opacity="0.1"
        d="M1070.8 482.842L1066.69 498.276C1066.69 498.276 1061.55 497.207 1053.84 495.379L1058.48 470.079C1064.57 472.727 1069.14 475.101 1071.19 476.217L1070.8 482.842Z"
        fill="black"
      />
      <path
        d="M1070.82 499.736L1054.86 496.091L1059.82 469.07L1072.58 471.979L1070.82 499.736Z"
        fill="#D9DFE8"
      />
      <path
        opacity="0.1"
        d="M1070.82 499.736L1063.93 498.169L1066.52 470.602L1072.58 471.979L1070.82 499.736Z"
        fill="black"
      />
      <path
        d="M1224.81 387.817C1224.81 387.817 1194.16 371.457 1180.54 418.388C1166.92 465.319 1165.64 486.938 1165.64 486.938L1068.85 469.058L1065.78 501.719C1065.78 501.719 1169.26 532.586 1182.28 530.342C1195.29 528.099 1237.53 462.671 1237.53 462.671C1237.53 462.671 1275.93 411.965 1224.81 387.817Z"
        fill="#00ab6b"
      />
      <g opacity="0.1">
        <path
          opacity="0.1"
          d="M1072.41 476.811L1066.69 498.181C1066.69 498.181 1061.55 497.112 1053.84 495.284C1027.73 489.039 972.653 474.045 994.73 463.039C1013.76 453.541 1041.79 462.778 1058.43 469.984C1064.52 472.632 1069.09 475.006 1071.14 476.122C1072 476.573 1072.41 476.811 1072.41 476.811Z"
          fill="black"
        />
        <path
          opacity="0.1"
          d="M1070.8 482.842L1066.69 498.276C1066.69 498.276 1061.55 497.207 1053.84 495.379L1058.48 470.079C1064.57 472.727 1069.14 475.101 1071.19 476.217L1070.8 482.842Z"
          fill="black"
        />
        <path
          opacity="0.1"
          d="M1070.82 499.736L1054.86 496.091L1059.82 469.07L1072.58 471.979L1070.82 499.736Z"
          fill="black"
        />
        <path
          opacity="0.1"
          d="M1070.82 499.736L1063.93 498.169L1066.52 470.602L1072.58 471.979L1070.82 499.736Z"
          fill="black"
        />
        <path
          opacity="0.1"
          d="M1224.81 389.004C1224.81 389.004 1194.16 372.644 1180.54 419.575C1166.92 466.506 1165.64 488.125 1165.64 488.125L1068.85 470.245L1065.78 502.906C1065.78 502.906 1169.26 533.774 1182.28 531.53C1195.29 529.286 1237.53 463.858 1237.53 463.858C1237.53 463.858 1275.93 413.152 1224.81 389.004Z"
          fill="black"
        />
      </g>
      <path
        d="M1029.87 751.462L990.361 772.488C990.361 772.488 939.166 778.281 973.27 789.322C1007.37 800.364 1086.66 788.836 1086.66 788.836C1086.66 788.836 1082.25 755.926 1076.11 751.331C1069.97 746.737 1029.87 751.462 1029.87 751.462Z"
        fill="#68739D"
      />
      <path
        d="M1183.88 515.562C1183.88 515.562 1164.22 525.059 1129.3 533.263C1108.83 538.012 1083.2 541.384 1065.5 543.307C1056.43 544.218 1047.86 547.597 1040.88 553.015C1033.9 558.432 1028.82 565.644 1026.28 573.735C1024.66 578.51 1024.5 583.605 1025.83 588.457C1031.65 607.251 1022.96 760.022 1022.96 760.022L1082.97 765.151C1082.97 765.151 1074.79 737.002 1087.21 722.814C1099.64 708.627 1085.13 600.638 1085.13 600.638C1085.13 600.638 1106.87 592.327 1171.84 591.781C1232.03 606.028 1256.83 545.159 1247.54 528.099C1238.25 511.038 1183.88 515.562 1183.88 515.562Z"
        fill="#6394E2"
      />
      <g opacity="0.1">
        <path
          opacity="0.1"
          d="M1029.87 751.462L990.361 772.488C990.361 772.488 939.166 778.281 973.27 789.322C1007.37 800.364 1086.66 788.836 1086.66 788.836C1086.66 788.836 1082.25 755.926 1076.11 751.331C1069.97 746.737 1029.87 751.462 1029.87 751.462Z"
          fill="black"
        />
        <path
          opacity="0.1"
          d="M1183.88 515.562C1183.88 515.562 1164.22 525.059 1129.3 533.263C1108.83 538.012 1083.2 541.384 1065.5 543.307C1056.43 544.218 1047.86 547.597 1040.88 553.015C1033.9 558.432 1028.82 565.644 1026.28 573.735C1024.66 578.51 1024.5 583.605 1025.83 588.457C1031.65 607.251 1022.96 760.022 1022.96 760.022L1082.97 765.151C1082.97 765.151 1074.79 737.002 1087.21 722.814C1099.64 708.627 1085.13 600.638 1085.13 600.638C1085.13 600.638 1106.87 592.327 1171.84 591.781C1232.03 606.028 1256.83 545.159 1247.54 528.099C1238.25 511.038 1183.88 515.562 1183.88 515.562Z"
          fill="black"
        />
      </g>
      <path
        d="M1048.4 764.225L1008.89 785.25C1008.89 785.25 957.721 790.996 991.8 802.085C1025.88 813.174 1105.19 801.598 1105.19 801.598C1105.19 801.598 1100.78 768.689 1094.64 764.094C1088.5 759.499 1048.4 764.225 1048.4 764.225Z"
        fill="#68739D"
      />
      <path
        d="M1190.31 604.544C1125.34 605.09 1103.6 613.4 1103.6 613.4C1103.6 613.4 1118.1 721.437 1105.68 735.577C1093.25 749.717 1101.44 777.913 1101.44 777.913L1041.43 772.784C1041.43 772.784 1041.53 770.98 1041.7 767.751C1043.14 741.204 1049.47 617.971 1044.27 601.22C1042.95 596.383 1043.11 591.306 1044.72 586.545C1047.24 578.444 1052.32 571.218 1059.3 565.788C1066.28 560.357 1074.85 556.966 1083.92 556.046C1101.62 554.134 1127.24 550.81 1147.71 546.002L1148.71 545.764C1183.02 537.62 1202.3 528.3 1202.3 528.3C1202.3 528.3 1256.67 523.789 1265.96 540.849C1267.27 543.555 1267.92 546.493 1267.86 549.457C1268.32 572.477 1242.75 616.974 1190.31 604.544Z"
        fill="#6394E2"
      />
      <path
        d="M1099.81 503.44L1097.61 525.404C1097.61 525.404 1092.33 525.059 1084.48 524.3C1057.66 521.723 1000.77 514.481 1020.88 500.555C1038.18 488.588 1067.37 493.812 1084.99 498.656C1091.41 500.437 1096.35 502.158 1098.55 502.977C1099.36 503.262 1099.81 503.44 1099.81 503.44Z"
        fill="#F8B9BF"
      />
      <path
        d="M1259.42 359.846C1259.42 359.846 1251.37 365.663 1241.54 372.051C1230.76 374.306 1218.25 376.17 1209.22 377.381C1212.45 367.883 1210.51 357.199 1206.87 347.831C1202.92 338.043 1197.49 328.819 1190.75 320.43L1245.13 304.747C1240.86 314.732 1242.79 326.117 1246.41 336.019C1249.61 344.448 1253.98 352.457 1259.42 359.846V359.846Z"
        fill="#F8B9BF"
      />
      <path
        opacity="0.1"
        d="M1099.19 509.626L1097.61 525.404C1097.61 525.404 1092.33 525.059 1084.48 524.3L1084.99 498.644C1091.41 500.425 1096.35 502.146 1098.55 502.965L1099.19 509.626Z"
        fill="black"
      />
      <path
        d="M1101.93 526.33L1085.55 524.929L1086.09 497.528L1099.19 498.644L1101.93 526.33Z"
        fill="#D9DFE8"
      />
      <path
        opacity="0.1"
        d="M1259.42 359.846C1259.42 359.846 1251.37 365.663 1241.54 372.051C1230.76 374.306 1218.25 376.17 1209.22 377.381C1212.45 367.883 1210.51 357.199 1206.87 347.831C1220.16 344.27 1239.17 339.663 1246.43 335.959C1249.62 344.409 1253.98 352.438 1259.42 359.846V359.846Z"
        fill="black"
      />
      <path
        d="M1248.55 336.553C1248.55 336.553 1257.64 355.631 1263.37 364.251C1269.11 372.87 1196.79 380.872 1196.79 380.872C1196.79 380.872 1189.28 356.854 1192.87 354.1C1196.45 351.346 1242.49 342.133 1248.55 336.553Z"
        fill="#D9DFE8"
      />
      <path
        opacity="0.1"
        d="M1267.96 549.469C1264.92 554.427 1261.13 558.96 1256.71 562.932C1224.76 590.974 1172.4 561.744 1148.76 545.764C1183.07 537.62 1202.35 528.3 1202.35 528.3C1202.35 528.3 1256.72 523.789 1266.01 540.849C1267.34 543.555 1268.01 546.498 1267.96 549.469Z"
        fill="black"
      />
      <path
        d="M1256.91 560.925C1220.6 592.79 1157.97 550.596 1141.08 538.166C1138.34 536.148 1136.81 534.901 1136.81 534.901C1143.48 529.132 1149.34 516.903 1153.98 501.944C1158.3 487.632 1161.43 473.034 1163.32 458.278C1166.56 433.331 1176.02 409.42 1190.98 388.434C1192.94 385.704 1194.83 383.151 1196.8 380.919C1210.51 364.809 1233.55 354.575 1233.55 354.575C1282.17 341.444 1288.72 408.083 1287.42 410.006C1286.12 411.929 1299.12 523.872 1256.91 560.925Z"
        fill="#00ab6b"
      />
      <path
        opacity="0.1"
        d="M1261.61 469.83C1261.61 469.83 1230.35 540.351 1217.85 544.375C1210.69 546.667 1172.46 542.322 1141.08 538.178C1138.34 536.16 1136.81 534.913 1136.81 534.913C1143.48 529.143 1149.34 516.915 1153.98 501.956L1194.4 503.737C1194.4 503.737 1192.15 482.201 1198.08 433.905C1204.02 385.609 1236.93 397.576 1236.93 397.576C1291.38 414.422 1261.61 469.83 1261.61 469.83Z"
        fill="black"
      />
      <path
        opacity="0.1"
        d="M1101.93 526.33L1094.86 525.724L1092.98 498.121L1099.19 498.644L1101.93 526.33Z"
        fill="black"
      />
      <path
        d="M1236.15 394.465C1236.15 394.465 1203.24 382.51 1197.3 430.794C1191.36 479.078 1193.61 500.627 1193.61 500.627L1095.01 496.269L1097.24 528.989C1097.24 528.989 1204.55 545.266 1217.05 541.253C1229.55 537.24 1260.82 466.708 1260.82 466.708C1260.82 466.708 1290.54 411.3 1236.15 394.465Z"
        fill="#00ab6b"
      />
      <path
        opacity="0.1"
        d="M1238.36 322.971C1236.92 315.753 1245.08 315.848 1248.01 309.057L1193.62 324.74C1197.4 329.422 1200.77 334.372 1203.7 339.545C1206.52 340.318 1209.42 340.835 1212.35 341.088C1225.31 342.228 1229.36 330.439 1238.36 322.971Z"
        fill="black"
      />
      <path
        d="M1258.3 299.247C1260.58 276.422 1242.4 256.208 1217.7 254.099C1192.99 251.989 1171.11 268.783 1168.83 291.608C1166.55 314.434 1184.72 334.647 1209.43 336.757C1234.13 338.866 1256.01 322.073 1258.3 299.247Z"
        fill="#F8B9BF"
      />
      <path
        opacity="0.1"
        d="M1169.23 257.935C1169.79 262.257 1174.72 264.892 1179.31 265.866C1183.9 266.839 1188.87 266.887 1192.89 269.154C1199.32 272.811 1201.05 280.932 1200.24 287.912C1199.79 291.854 1199.15 296.686 1202.65 298.977C1203.74 299.598 1204.97 300.003 1206.24 300.165C1209.89 300.846 1213.63 300.967 1217.32 300.521C1219.48 300.259 1221.7 299.808 1223.74 300.366C1227.11 301.269 1229.1 304.545 1229.76 307.715C1230.41 310.885 1230.05 314.186 1230.58 317.379C1231.32 321.378 1233.34 325.077 1236.4 327.989C1239.46 330.901 1243.39 332.89 1247.7 333.692C1249.72 334.145 1251.84 333.97 1253.74 333.193C1256.18 332.006 1257.43 329.477 1258.48 327.114L1266.19 310.066C1269.66 302.385 1273.15 294.632 1275 286.488C1277.75 274.221 1276.69 261.487 1271.93 249.755C1270.11 245.291 1267.59 240.815 1263.31 238.132C1254.74 232.754 1242.75 236.47 1233.01 233.383C1229.78 232.351 1226.88 230.594 1223.67 229.537C1216.72 227.246 1208.86 228.457 1202.17 231.341C1195.47 234.226 1190.06 238.773 1184.18 242.917C1179.08 246.585 1168.27 250.468 1169.23 257.935Z"
        fill="black"
      />
      <path
        d="M1170.42 257.021C1170.97 261.342 1175.9 263.978 1180.49 264.952C1185.08 265.925 1190.05 265.973 1194.07 268.24C1200.5 271.897 1202.23 280.017 1201.42 286.998C1200.97 290.94 1200.33 295.772 1203.83 298.063C1204.92 298.684 1206.15 299.089 1207.43 299.25C1211.07 299.932 1214.81 300.053 1218.5 299.607C1220.66 299.345 1222.88 298.894 1224.93 299.452C1228.29 300.354 1230.29 303.631 1230.94 306.801C1231.6 309.971 1231.24 313.271 1231.76 316.465C1232.5 320.464 1234.53 324.163 1237.58 327.075C1240.64 329.987 1244.58 331.975 1248.88 332.777C1250.9 333.231 1253.02 333.056 1254.92 332.279C1257.36 331.092 1258.61 328.563 1259.66 326.2L1267.37 309.152C1270.84 301.47 1274.34 293.718 1276.19 285.574C1278.93 273.307 1277.87 260.572 1273.12 248.841C1271.29 244.377 1268.77 239.901 1264.49 237.218C1255.92 231.84 1243.93 235.556 1234.19 232.469C1230.97 231.436 1228.06 229.679 1224.85 228.623C1217.9 226.331 1210.05 227.542 1203.35 230.427C1196.66 233.312 1191.25 237.859 1185.36 242.003C1180.27 245.671 1169.47 249.553 1170.42 257.021Z"
        fill="#B96B6B"
      />
      <path
        opacity="0.1"
        d="M1207.63 420.988C1207.63 420.988 1190.48 482.557 1173.4 488.256C1156.32 493.954 1163.86 495.569 1163.86 495.569"
        fill="black"
      />
      <path
        d="M1208.44 646.536H1189.79V759.761H1208.44V646.536Z"
        fill="#D6D6E3"
      />
      <path
        opacity="0.1"
        d="M1208.44 646.536H1189.79V654.929H1208.44V646.536Z"
        fill="black"
      />
      <path
        d="M1152.49 645.942V648.316C1152.49 649.048 1152.65 649.772 1152.95 650.447C1153.25 651.123 1153.7 651.737 1154.26 652.254C1154.82 652.771 1155.48 653.181 1156.21 653.461C1156.94 653.741 1157.73 653.885 1158.52 653.885H1239.7C1240.5 653.885 1241.28 653.741 1242.01 653.461C1242.74 653.181 1243.41 652.771 1243.97 652.254C1244.53 651.737 1244.97 651.123 1245.27 650.447C1245.58 649.772 1245.73 649.048 1245.73 648.316V645.942C1245.73 645.211 1245.58 644.487 1245.27 643.811C1244.97 643.136 1244.53 642.522 1243.97 642.005C1243.41 641.488 1242.74 641.078 1242.01 640.798C1241.28 640.518 1240.5 640.374 1239.7 640.374H1158.52C1157.73 640.374 1156.94 640.518 1156.21 640.798C1155.48 641.078 1154.82 641.488 1154.26 642.005C1153.7 642.522 1153.25 643.136 1152.95 643.811C1152.65 644.487 1152.49 645.211 1152.49 645.942V645.942Z"
        fill="#D6D6E3"
      />
      <path
        opacity="0.1"
        d="M1153.88 642.404H1244.36C1243.79 641.768 1243.08 641.256 1242.28 640.905C1241.47 640.554 1240.59 640.373 1239.7 640.374H1158.52C1157.63 640.374 1156.75 640.557 1155.95 640.908C1155.15 641.259 1154.44 641.77 1153.88 642.404V642.404Z"
        fill="black"
      />
      <path
        d="M1268.66 753.599H1129.6C1125.7 753.599 1122.54 756.523 1122.54 760.129V760.604C1122.54 764.21 1125.7 767.133 1129.6 767.133H1268.66C1272.56 767.133 1275.72 764.21 1275.72 760.604V760.129C1275.72 756.523 1272.56 753.599 1268.66 753.599Z"
        fill="#D6D6E3"
      />
      <path
        d="M1267.06 784.372C1272.22 784.372 1276.39 780.513 1276.39 775.753C1276.39 770.992 1272.22 767.133 1267.06 767.133C1261.91 767.133 1257.73 770.992 1257.73 775.753C1257.73 780.513 1261.91 784.372 1267.06 784.372Z"
        fill="#535461"
      />
      <path
        d="M1131.19 784.372C1136.34 784.372 1140.51 780.513 1140.51 775.753C1140.51 770.992 1136.34 767.133 1131.19 767.133C1126.03 767.133 1121.86 770.992 1121.86 775.753C1121.86 780.513 1126.03 784.372 1131.19 784.372Z"
        fill="#535461"
      />
      <path
        d="M1199.12 784.372C1204.28 784.372 1208.45 780.513 1208.45 775.753C1208.45 770.992 1204.28 767.133 1199.12 767.133C1193.97 767.133 1189.79 770.992 1189.79 775.753C1189.79 780.513 1193.97 784.372 1199.12 784.372Z"
        fill="#535461"
      />
      <path
        d="M1314.92 507.465H1190.23C1184.2 507.465 1179.31 511.983 1179.31 517.556V518.292C1179.31 523.866 1184.2 528.384 1190.23 528.384H1314.92C1320.95 528.384 1325.84 523.866 1325.84 518.292V517.556C1325.84 511.983 1320.95 507.465 1314.92 507.465Z"
        fill="#D6D6E3"
      />
      <path
        opacity="0.1"
        d="M1208.44 753.599C1208.44 753.599 1201.12 760.283 1189.79 753.599Z"
        fill="black"
      />
      <path
        opacity="0.1"
        d="M1325.84 518.138V519.788C1325.84 522.071 1324.86 524.26 1323.11 525.874C1321.36 527.489 1318.99 528.396 1316.52 528.396H1188.63C1186.15 528.396 1183.78 527.489 1182.04 525.874C1180.29 524.26 1179.31 522.071 1179.31 519.788V518.138H1325.84Z"
        fill="black"
      />
      <path
        d="M1082.05 537.371H1056.85V834.009H1082.05V537.371Z"
        fill="#D6D6E3"
      />
      <path
        opacity="0.1"
        d="M1082.05 537.371H1056.85V556.604H1082.05V537.371Z"
        fill="black"
      />
      <path
        d="M317.977 654.633H299.331V767.858H317.977V654.633Z"
        fill="#D6D6E3"
      />
      <path
        opacity="0.1"
        d="M317.977 654.633H299.331V663.026H317.977V654.633Z"
        fill="black"
      />
      <path
        d="M355.268 654.051V656.425C355.268 657.902 354.633 659.318 353.503 660.362C352.373 661.407 350.84 661.993 349.241 661.993H268.054C266.456 661.993 264.923 661.407 263.792 660.362C262.662 659.318 262.027 657.902 262.027 656.425V654.051C262.041 652.582 262.682 651.178 263.811 650.144C264.939 649.11 266.464 648.53 268.054 648.53H349.241C350.033 648.53 350.816 648.674 351.548 648.954C352.279 649.234 352.943 649.644 353.503 650.161C354.062 650.678 354.506 651.292 354.809 651.967C355.112 652.643 355.268 653.367 355.268 654.098V654.051Z"
        fill="#D6D6E3"
      />
      <path
        opacity="0.1"
        d="M353.893 650.501H263.402C263.972 649.876 264.685 649.375 265.489 649.034C266.294 648.694 267.169 648.522 268.054 648.53H349.241C350.126 648.522 351.002 648.694 351.806 649.034C352.61 649.375 353.323 649.876 353.893 650.501V650.501Z"
        fill="black"
      />
      <path
        d="M378.18 761.696H239.128C235.225 761.696 232.061 764.619 232.061 768.226V768.7C232.061 772.307 235.225 775.23 239.128 775.23H378.18C382.083 775.23 385.247 772.307 385.247 768.7V768.226C385.247 764.619 382.083 761.696 378.18 761.696Z"
        fill="#D6D6E3"
      />
      <path
        d="M240.722 792.469C245.874 792.469 250.051 788.61 250.051 783.849C250.051 779.089 245.874 775.23 240.722 775.23C235.569 775.23 231.393 779.089 231.393 783.849C231.393 788.61 235.569 792.469 240.722 792.469Z"
        fill="#535461"
      />
      <path
        d="M376.586 792.469C381.739 792.469 385.916 788.61 385.916 783.849C385.916 779.089 381.739 775.23 376.586 775.23C371.434 775.23 367.257 779.089 367.257 783.849C367.257 788.61 371.434 792.469 376.586 792.469Z"
        fill="#535461"
      />
      <path
        d="M308.648 792.469C313.8 792.469 317.977 788.61 317.977 783.849C317.977 779.089 313.8 775.23 308.648 775.23C303.495 775.23 299.318 779.089 299.318 783.849C299.318 788.61 303.495 792.469 308.648 792.469Z"
        fill="#535461"
      />
      <path
        opacity="0.1"
        d="M299.331 761.696C299.331 761.696 306.656 768.38 317.977 761.696Z"
        fill="black"
      />
      <path
        d="M775.005 420.845C775.005 420.845 754.085 385.716 761.731 355.18C765.025 342.392 763.74 328.961 758.069 316.904C755.346 311.202 752.064 305.742 748.264 300.592"
        stroke="#535461"
        stroke-width="2"
        stroke-miterlimit="10"
      />
      <path
        d="M752.903 281.311C753.995 285.918 748.148 301.102 748.148 301.102C748.148 301.102 735.953 289.586 734.848 284.98C734.479 283.854 734.365 282.67 734.514 281.501C734.663 280.333 735.072 279.205 735.715 278.19C736.359 277.174 737.222 276.293 738.252 275.6C739.281 274.908 740.455 274.419 741.698 274.166C742.942 273.912 744.229 273.899 745.478 274.127C746.728 274.354 747.912 274.818 748.959 275.489C750.005 276.16 750.889 277.024 751.557 278.026C752.225 279.028 752.661 280.146 752.839 281.311H752.903Z"
        fill="#00ab6b"
      />
      <path
        d="M773.887 303.786C772.101 308.202 758.261 318.032 758.261 318.032C758.261 318.032 754.792 302.242 756.591 297.849C756.976 296.756 757.597 295.745 758.415 294.878C759.234 294.012 760.234 293.307 761.355 292.806C762.476 292.306 763.695 292.019 764.938 291.965C766.182 291.91 767.424 292.088 768.592 292.489C769.759 292.889 770.826 293.503 771.73 294.294C772.634 295.085 773.356 296.037 773.852 297.092C774.347 298.147 774.607 299.284 774.616 300.434C774.624 301.584 774.38 302.724 773.9 303.786H773.887Z"
        fill="#00ab6b"
      />
      <path
        d="M783.602 347.499C779.644 350.479 762.335 352.485 762.335 352.485C762.335 352.485 767.976 337.241 771.934 334.262C772.873 333.542 773.957 333.002 775.124 332.672C776.29 332.342 777.516 332.228 778.731 332.338C779.945 332.448 781.123 332.779 782.199 333.312C783.274 333.845 784.224 334.569 784.994 335.443C785.765 336.317 786.34 337.324 786.687 338.404C787.034 339.485 787.146 340.618 787.017 341.739C786.888 342.86 786.519 343.946 785.933 344.935C785.347 345.923 784.554 346.795 783.602 347.499V347.499Z"
        fill="#00ab6b"
      />
      <path
        d="M782.895 382.094C779.541 385.656 762.849 390.334 762.849 390.334C762.849 390.334 765.612 374.425 768.965 370.875C769.75 369.992 770.718 369.262 771.814 368.731C772.909 368.2 774.109 367.877 775.341 367.782C776.574 367.687 777.815 367.822 778.99 368.178C780.166 368.534 781.252 369.105 782.184 369.857C783.116 370.608 783.875 371.525 784.417 372.552C784.958 373.58 785.271 374.698 785.336 375.839C785.401 376.98 785.217 378.122 784.796 379.197C784.374 380.271 783.724 381.257 782.882 382.094H782.895Z"
        fill="#00ab6b"
      />
      <path
        d="M739.526 322.745C743.869 325.227 761.307 325.12 761.307 325.12C761.307 325.12 753.597 310.671 749.253 308.19C748.222 307.564 747.065 307.134 745.851 306.928C744.637 306.721 743.391 306.741 742.186 306.987C740.98 307.233 739.841 307.699 738.834 308.359C737.827 309.019 736.973 309.858 736.323 310.827C735.673 311.797 735.24 312.877 735.049 314.003C734.858 315.13 734.914 316.281 735.212 317.387C735.511 318.494 736.046 319.534 736.787 320.446C737.528 321.358 738.459 322.124 739.526 322.698V322.745Z"
        fill="#00ab6b"
      />
      <path
        d="M739.269 363.23C744.216 364.417 760.831 359.526 760.831 359.526C760.831 359.526 748.791 347.867 743.843 346.704C741.511 346.245 739.076 346.638 737.05 347.8C735.023 348.962 733.561 350.803 732.97 352.938C732.379 355.073 732.705 357.336 733.879 359.254C735.053 361.173 736.984 362.597 739.269 363.23V363.23Z"
        fill="#00ab6b"
      />
      <path
        d="M744.833 402.598C749.485 404.521 766.768 402.313 766.768 402.313C766.768 402.313 757.028 388.945 752.376 387.021C750.139 386.097 747.595 386.032 745.306 386.84C743.017 387.649 741.169 389.264 740.168 391.331C739.168 393.398 739.097 395.748 739.972 397.863C740.847 399.978 742.595 401.685 744.833 402.61V402.598Z"
        fill="#00ab6b"
      />
      <path
        d="M752.903 281.311C753.995 285.918 748.148 301.102 748.148 301.102C748.148 301.102 735.953 289.586 734.848 284.98C734.479 283.854 734.365 282.67 734.514 281.501C734.663 280.333 735.072 279.205 735.715 278.19C736.359 277.174 737.222 276.293 738.252 275.6C739.281 274.908 740.455 274.419 741.698 274.166C742.942 273.912 744.229 273.899 745.478 274.127C746.728 274.354 747.912 274.818 748.959 275.489C750.005 276.16 750.889 277.024 751.557 278.026C752.225 279.028 752.661 280.146 752.839 281.311H752.903Z"
        fill="#00ab6b"
      />
      <path
        d="M773.887 303.786C772.101 308.202 758.261 318.032 758.261 318.032C758.261 318.032 754.792 302.242 756.591 297.849C756.976 296.756 757.597 295.745 758.415 294.878C759.234 294.012 760.234 293.307 761.355 292.806C762.476 292.306 763.695 292.019 764.938 291.965C766.182 291.91 767.424 292.088 768.592 292.489C769.759 292.889 770.826 293.503 771.73 294.294C772.634 295.085 773.356 296.037 773.852 297.092C774.347 298.147 774.607 299.284 774.616 300.434C774.624 301.584 774.38 302.724 773.9 303.786H773.887Z"
        fill="#00ab6b"
      />
      <path
        d="M783.602 347.499C779.644 350.479 762.335 352.485 762.335 352.485C762.335 352.485 767.976 337.241 771.934 334.262C772.873 333.542 773.957 333.002 775.124 332.672C776.29 332.342 777.516 332.228 778.731 332.338C779.945 332.448 781.123 332.779 782.199 333.312C783.274 333.845 784.224 334.569 784.994 335.443C785.765 336.317 786.34 337.324 786.687 338.404C787.034 339.485 787.146 340.618 787.017 341.739C786.888 342.86 786.519 343.946 785.933 344.935C785.347 345.923 784.554 346.795 783.602 347.499V347.499Z"
        fill="#00ab6b"
      />
      <path
        d="M782.895 382.094C779.541 385.656 762.849 390.334 762.849 390.334C762.849 390.334 765.612 374.425 768.965 370.875C769.75 369.992 770.718 369.262 771.814 368.731C772.909 368.2 774.109 367.877 775.341 367.782C776.574 367.687 777.815 367.822 778.99 368.178C780.166 368.534 781.252 369.105 782.184 369.857C783.116 370.608 783.875 371.525 784.417 372.552C784.958 373.58 785.271 374.698 785.336 375.839C785.401 376.98 785.217 378.122 784.796 379.197C784.374 380.271 783.724 381.257 782.882 382.094H782.895Z"
        fill="#00ab6b"
      />
      <path
        d="M739.526 322.745C743.869 325.227 761.307 325.12 761.307 325.12C761.307 325.12 753.597 310.671 749.253 308.19C748.222 307.564 747.065 307.134 745.851 306.928C744.637 306.721 743.391 306.741 742.186 306.987C740.98 307.233 739.841 307.699 738.834 308.359C737.827 309.019 736.973 309.858 736.323 310.827C735.673 311.797 735.24 312.877 735.049 314.003C734.858 315.13 734.914 316.281 735.212 317.387C735.511 318.494 736.046 319.534 736.787 320.446C737.528 321.358 738.459 322.124 739.526 322.698V322.745Z"
        fill="#00ab6b"
      />
      <path
        d="M739.269 363.23C744.216 364.417 760.831 359.526 760.831 359.526C760.831 359.526 748.791 347.867 743.843 346.704C741.511 346.245 739.076 346.638 737.05 347.8C735.023 348.962 733.561 350.803 732.97 352.938C732.379 355.073 732.705 357.336 733.879 359.254C735.053 361.173 736.984 362.597 739.269 363.23V363.23Z"
        fill="#00ab6b"
      />
      <path
        d="M744.833 402.598C749.485 404.521 766.768 402.313 766.768 402.313C766.768 402.313 757.028 388.945 752.376 387.021C750.139 386.097 747.595 386.032 745.306 386.84C743.017 387.649 741.169 389.264 740.168 391.331C739.168 393.398 739.097 395.748 739.972 397.863C740.847 399.978 742.595 401.685 744.833 402.61V402.598Z"
        fill="#00ab6b"
      />
      <path
        d="M766.498 518.28C763.489 518.281 760.511 517.712 757.748 516.608C754.986 515.504 752.498 513.888 750.438 511.861C748.377 509.834 746.788 507.439 745.769 504.822C744.75 502.206 744.322 499.424 744.512 496.649L750.667 406.539H782.33L788.485 496.649C788.674 499.424 788.246 502.206 787.227 504.822C786.208 507.439 784.619 509.834 782.559 511.861C780.499 513.888 778.011 515.504 775.248 516.608C772.486 517.712 769.508 518.281 766.498 518.28Z"
        fill="#00ab6b"
      />
      <path
        opacity="0.5"
        d="M125.417 75.2934H107.427V144.152H125.417V75.2934Z"
        fill="#00ab6b"
      />
      <path
        opacity="0.5"
        d="M148.548 75.2934H130.557V144.152H148.548V75.2934Z"
        fill="#00ab6b"
      />
      <path
        opacity="0.5"
        d="M171.678 75.2934H153.688V144.152H171.678V75.2934Z"
        fill="#00ab6b"
      />
      <path
        opacity="0.5"
        d="M194.808 75.2934H176.818V144.152H194.808V75.2934Z"
        fill="#00ab6b"
      />
      <path
        opacity="0.5"
        d="M241.069 75.2934H223.079V144.152H241.069V75.2934Z"
        fill="#00ab6b"
      />
      <path
        opacity="0.5"
        d="M264.199 75.2934H246.209V144.152H264.199V75.2934Z"
        fill="#00ab6b"
      />
      <path
        d="M125.417 88.3528H107.427V91.9145H125.417V88.3528Z"
        fill="#00ab6b"
      />
      <path
        d="M125.417 131.093H107.427V134.654H125.417V131.093Z"
        fill="#00ab6b"
      />
      <path
        d="M148.548 88.3528H130.557V91.9145H148.548V88.3528Z"
        fill="#00ab6b"
      />
      <path
        d="M148.548 131.093H130.557V134.654H148.548V131.093Z"
        fill="#00ab6b"
      />
      <path
        d="M171.678 88.3528H153.688V91.9145H171.678V88.3528Z"
        fill="#00ab6b"
      />
      <path
        d="M171.678 131.093H153.688V134.654H171.678V131.093Z"
        fill="#00ab6b"
      />
      <path
        d="M194.808 88.3528H176.818V91.9145H194.808V88.3528Z"
        fill="#00ab6b"
      />
      <path
        d="M194.808 131.093H176.818V134.654H194.808V131.093Z"
        fill="#00ab6b"
      />
      <path
        opacity="0.1"
        d="M217.938 88.3528H199.948V91.9145H217.938V88.3528Z"
        fill="#00ab6b"
      />
      <path
        opacity="0.1"
        d="M217.938 131.093H199.948V134.654H217.938V131.093Z"
        fill="#00ab6b"
      />
      <path
        d="M241.069 88.3528H223.079V91.9145H241.069V88.3528Z"
        fill="#00ab6b"
      />
      <path
        d="M241.069 131.093H223.079V134.654H241.069V131.093Z"
        fill="#00ab6b"
      />
      <path
        d="M264.199 88.3528H246.209V91.9145H264.199V88.3528Z"
        fill="#00ab6b"
      />
      <path
        d="M264.199 131.093H246.209V134.654H264.199V131.093Z"
        fill="#00ab6b"
      />
      <path
        opacity="0.5"
        d="M217.938 75.2934H199.948V144.152H217.938V75.2934Z"
        fill="#00ab6b"
      />
      <path
        opacity="0.5"
        d="M281.117 74.9774L264.791 81.9597L296.101 144.448L312.426 137.466L281.117 74.9774Z"
        fill="#00ab6b"
      />
      <path
        d="M287.06 86.8401L270.734 93.8224L272.354 97.0545L288.679 90.0723L287.06 86.8401Z"
        fill="#00ab6b"
      />
      <path
        d="M306.483 125.622L290.158 132.604L291.777 135.836L308.103 128.854L306.483 125.622Z"
        fill="#00ab6b"
      />
      <path
        d="M500.051 785.31L467.398 766.065C467.231 738.961 466.769 613.127 472.872 596.293C474.447 591.419 474.536 586.239 473.129 581.322C468.889 564.214 453.417 551.439 434.669 548.626C416.987 545.966 391.544 541.609 371.061 535.982C389.321 534.237 403.006 532.729 403.006 532.729L403.366 529.606L415.124 529.084V528.621L416.242 528.562C443.703 527.054 502.017 522.032 482.202 507.002C475.404 501.849 466.537 499.415 457.182 498.596C485.787 492.565 530.492 480.883 510.562 469.901C491.621 459.477 462.618 467.669 445.309 474.33L444.242 474.745L444.05 473.309L437.136 474.591L434.939 474.994L434.836 472.905L337.83 486.748C337.07 476.479 335.749 466.252 333.872 456.106C336.044 442.738 346.144 423.243 342.585 412.784C338.447 400.639 321.459 396.662 314.315 385.692C312.438 382.831 310.575 380.147 308.75 377.797C304.757 372.783 300.166 368.199 295.065 364.132C295.374 357.078 297.081 350.137 300.102 343.652C302.039 339.315 304.306 335.109 306.887 331.068C318.194 328.476 328.005 321.997 334.318 312.952C340.632 303.907 342.973 292.977 340.863 282.392C347.005 284.826 354.471 285.075 358.313 280.326L356.489 279.673C356.669 279.495 356.848 279.317 357.003 279.115C353.263 277.797 349.293 276.301 346.363 273.903C345.621 273.133 344.994 272.275 344.5 271.351C342.726 268.027 342.932 264.037 341.236 260.666C340.437 259.131 339.304 257.764 337.907 256.653C334.932 253.842 331.167 251.852 327.036 250.907C322.397 249.66 317.514 249.031 313.068 247.345C307.009 240.845 299.009 236.139 290.071 233.816C281.132 231.493 271.65 231.656 262.811 234.286L261.205 234.796C262.32 229.827 261.28 224.652 258.307 220.385C255.334 216.117 250.667 213.098 245.31 211.978C239.952 210.858 234.333 211.725 229.661 214.394C224.989 217.063 221.638 221.32 220.329 226.248C220.736 221.921 222.71 217.848 225.931 214.685C225.597 214.946 225.25 215.195 224.929 215.468C222.922 217.211 221.307 219.302 220.175 221.622C219.044 223.942 218.417 226.445 218.333 228.988C218.248 231.532 218.706 234.066 219.682 236.445C220.657 238.825 222.13 241.004 224.017 242.857L224.389 243.19C225.873 244.867 227.649 246.304 229.645 247.44C225.972 246.242 222.733 244.122 220.291 241.318C217.849 238.515 216.3 235.138 215.818 231.567C215.818 231.971 215.818 232.374 215.818 232.754C215.978 235.306 216.683 237.802 217.893 240.101C219.102 242.399 220.791 244.454 222.863 246.147C224.936 247.84 227.35 249.137 229.967 249.964C232.584 250.791 235.353 251.132 238.113 250.966L238.691 250.907L238.383 251.299C232.407 259.419 229.574 269.166 230.344 278.96C231.114 288.753 235.441 298.02 242.624 305.258C243.476 307.063 244.611 308.743 245.99 310.244C246.475 310.757 246.994 311.24 247.545 311.692C251.065 315.123 255.877 317.172 260.986 317.415C261.843 318.357 262.755 319.263 263.724 320.134C262.876 323.464 261.768 326.734 260.408 329.916C257.67 336.254 254.261 342.326 250.231 348.045C222.475 355.335 220.033 398.882 221.035 400.532C222.23 402.503 216.898 470.887 237.458 553.493C236.61 577.107 251.516 616.155 304.433 605.861C370.611 609.126 392.315 618.494 392.315 618.494C392.315 618.494 386.031 724.833 395.001 740.314C400.616 750.014 396.633 764.26 392.431 774.316C390.873 776.803 389.631 779.449 388.73 782.199C387.445 784.704 386.507 786.224 386.507 786.224H387.406C384.014 797.111 381.611 810.253 381.611 810.253C381.611 810.253 461.834 825.295 497.121 815.453C510.819 811.63 511.384 808.092 506.938 805.172C510.213 804.727 513.451 804.072 516.627 803.213C551.939 793.371 500.051 785.31 500.051 785.31Z"
        fill="url(#paint1_linear)"
      />
      <path
        d="M325.494 280.492C325.494 288.945 322.781 297.209 317.698 304.237C312.615 311.266 305.39 316.744 296.937 319.979C288.484 323.214 279.182 324.06 270.209 322.411C261.235 320.762 252.992 316.691 246.523 310.714C240.053 304.737 235.647 297.121 233.862 288.83C232.077 280.54 232.993 271.946 236.494 264.136C239.996 256.327 245.925 249.652 253.533 244.955C261.14 240.259 270.084 237.752 279.234 237.752C285.309 237.752 291.324 238.858 296.937 241.006C302.549 243.154 307.649 246.302 311.945 250.271C316.24 254.239 319.648 258.951 321.973 264.136C324.298 269.322 325.494 274.88 325.494 280.492V280.492Z"
        fill="#FA595F"
      />
      <path
        d="M429.696 481.287L434.386 502.918C434.386 502.918 439.603 502.051 447.326 500.543C473.708 495.379 529.452 482.628 507.863 470.732C489.295 460.51 460.858 468.548 443.895 475.077C437.676 477.452 432.998 479.66 430.904 480.693C430.12 481.061 429.696 481.287 429.696 481.287Z"
        fill="#F8B9BF"
      />
      <path
        opacity="0.1"
        d="M431.02 487.389L434.386 502.918C434.386 502.918 439.603 502.051 447.326 500.543L443.895 475.077C437.676 477.452 432.998 479.66 430.904 480.693L431.02 487.389Z"
        fill="black"
      />
      <path
        d="M430.21 504.259L446.324 501.279L442.675 474.08L429.773 476.467L430.21 504.259Z"
        fill="#D9DFE8"
      />
      <path
        opacity="0.1"
        d="M430.21 504.259L437.162 502.965L435.89 475.339L429.773 476.467L430.21 504.259Z"
        fill="black"
      />
      <path
        d="M281.688 386.155C281.688 386.155 313.055 371.053 324.453 418.507C335.851 465.96 336.018 487.591 336.018 487.591L433.577 473.665L435.093 506.42C435.093 506.42 330.236 533.049 317.347 530.271C304.458 527.493 265.33 460.403 265.33 460.403C265.33 460.403 229.478 408.225 281.688 386.155Z"
        fill="#00ab6b"
      />
      <g opacity="0.1">
        <path
          opacity="0.1"
          d="M429.696 481.287L434.386 502.918C434.386 502.918 439.603 502.051 447.326 500.543C473.708 495.379 529.452 482.628 507.863 470.732C489.295 460.51 460.858 468.548 443.895 475.077C437.676 477.452 432.998 479.66 430.904 480.693C430.12 481.061 429.696 481.287 429.696 481.287Z"
          fill="black"
        />
        <path
          opacity="0.1"
          d="M431.02 487.389L434.386 502.918C434.386 502.918 439.603 502.051 447.326 500.543L443.895 475.077C437.676 477.452 432.998 479.66 430.904 480.693L431.02 487.389Z"
          fill="black"
        />
        <path
          opacity="0.1"
          d="M430.21 504.259L446.324 501.279L442.675 474.08L429.773 476.467L430.21 504.259Z"
          fill="black"
        />
        <path
          opacity="0.1"
          d="M430.21 504.259L437.162 502.965L435.89 475.339L429.773 476.467L430.21 504.259Z"
          fill="black"
        />
        <path
          opacity="0.1"
          d="M284.258 388.529C284.258 388.529 315.625 373.428 327.023 420.881C338.421 468.334 338.588 489.965 338.588 489.965L436.147 476.039L437.663 508.794C437.663 508.794 332.806 535.424 319.917 532.646C307.028 529.868 267.9 462.778 267.9 462.778C267.9 462.778 232.048 410.6 284.258 388.529Z"
          fill="black"
        />
      </g>
      <path
        d="M459.136 757.41L497.609 779.967C497.609 779.967 548.483 787.838 513.877 797.49C479.272 807.143 400.629 792.385 400.629 792.385C400.629 792.385 406.604 759.689 412.965 755.356C419.326 751.023 459.136 757.41 459.136 757.41Z"
        fill="#F37291"
      />
      <path
        d="M316.499 515.443C316.499 515.443 335.684 525.736 370.187 535.353C390.413 540.992 415.856 545.349 433.435 547.996C442.454 549.283 450.854 553.017 457.57 558.724C464.285 564.432 469.012 571.856 471.151 580.051C472.531 584.87 472.446 589.948 470.906 594.725C464.199 613.27 465.561 766.243 465.561 766.243L405.371 768.914C405.371 768.914 414.893 741.121 403.16 726.447C391.428 711.773 411.076 604.484 411.076 604.484C411.076 604.484 389.758 595.295 324.865 592.102C264.045 603.974 242.187 542.06 252.287 525.392C262.387 508.723 316.499 515.443 316.499 515.443Z"
        fill="#96A2D0"
      />
      <g opacity="0.1">
        <path
          opacity="0.1"
          d="M459.136 757.41L497.609 779.967C497.609 779.967 548.483 787.838 513.877 797.49C479.272 807.143 400.629 792.385 400.629 792.385C400.629 792.385 406.604 759.689 412.965 755.356C419.326 751.023 459.136 757.41 459.136 757.41Z"
          fill="black"
        />
        <path
          opacity="0.1"
          d="M316.499 515.443C316.499 515.443 335.684 525.736 370.187 535.353C390.413 540.992 415.856 545.349 433.435 547.996C442.454 549.283 450.854 553.017 457.57 558.724C464.285 564.432 469.012 571.856 471.151 580.051C472.531 584.87 472.446 589.948 470.906 594.725C464.199 613.27 465.561 766.243 465.561 766.243L405.371 768.914C405.371 768.914 414.893 741.121 403.16 726.447C391.428 711.773 411.076 604.484 411.076 604.484C411.076 604.484 389.758 595.295 324.865 592.102C264.045 603.974 242.187 542.06 252.287 525.392C262.387 508.723 316.499 515.443 316.499 515.443Z"
          fill="black"
        />
      </g>
      <path
        d="M439.963 769.413L478.437 791.97C478.437 791.97 529.31 799.841 494.705 809.493C460.099 819.145 381.457 804.388 381.457 804.388C381.457 804.388 387.432 771.692 393.793 767.359C400.153 763.026 439.963 769.413 439.963 769.413Z"
        fill="#FA595F"
      />
      <path
        d="M305.756 604.093C370.65 607.286 391.968 616.475 391.968 616.475C391.968 616.475 385.813 720.737 394.538 735.909C403.854 752.008 386.211 780.905 386.211 780.905L446.401 778.234C446.401 778.234 446.401 776.429 446.401 773.2C446.221 746.63 445.784 623.254 451.76 606.716C453.299 601.939 453.384 596.861 452.004 592.042C449.864 583.847 445.136 576.425 438.421 570.717C431.706 565.01 423.306 561.275 414.289 559.987C396.697 557.352 371.266 552.995 351.04 547.355L350.051 547.07C316.165 537.573 297.365 527.446 297.365 527.446C297.365 527.446 257.286 524.881 247.25 541.55C245.965 543.711 240.426 547.961 240.195 551.392C238.691 574.353 252.839 614.386 305.756 604.093Z"
        fill="#96A2D0"
      />
      <path
        d="M401.066 506.776L402.21 528.811C402.21 528.811 407.504 528.68 415.394 528.241C442.315 526.757 499.498 521.842 480.068 507.109C463.363 494.441 433.936 498.478 416.113 502.597C409.573 504.117 404.548 505.636 402.364 506.361C401.516 506.622 401.066 506.776 401.066 506.776Z"
        fill="#F8B9BF"
      />
      <path
        d="M248.393 356.819C248.393 356.819 256.103 362.957 265.664 369.747C276.33 372.431 288.794 374.817 297.699 376.396C294.937 366.72 297.391 356.213 301.464 346.965C305.885 337.344 311.751 328.348 318.889 320.24L265.304 302.349C269.095 312.5 266.589 323.838 262.516 333.537C258.92 341.83 254.173 349.656 248.393 356.819V356.819Z"
        fill="#F8B9BF"
      />
      <path
        opacity="0.1"
        d="M401.387 512.985L402.21 528.811C402.21 528.811 407.504 528.68 415.394 528.241L416.113 502.585C409.573 504.105 404.548 505.625 402.364 506.349L401.387 512.985Z"
        fill="black"
      />
      <path
        d="M397.866 529.559L414.276 528.835L415.047 501.434L401.914 502.015L397.866 529.559Z"
        fill="#D9DFE8"
      />
      <path
        d="M241.364 557.803C276.06 591.128 340.76 551.522 358.159 539.793C360.986 537.881 362.567 536.706 362.567 536.706C356.142 530.663 345.862 525.071 341.917 509.934C338.153 494.485 335.602 478.804 334.284 463.015C333.217 450.49 347.224 426.639 343.176 414.743C339.128 402.847 322.462 398.941 315.458 388.173C313.621 385.371 311.796 382.736 309.997 380.432C297.07 363.811 274.543 352.616 274.543 352.616C226.548 337.479 222.783 400.805 223.978 402.776C225.173 404.747 219.686 474.555 241.364 557.803Z"
        fill="#00ab6b"
      />
      <path
        opacity="0.1"
        d="M241.004 466.601C241.004 466.601 268.876 538.333 281.174 542.856C288.216 545.444 326.625 542.654 358.159 539.793C360.986 537.881 362.567 536.706 362.567 536.706C356.142 530.663 350.912 518.209 346.98 503.084L306.514 503.215C306.514 503.215 309.791 481.845 306.168 433.299C302.544 384.754 269.095 395.427 269.095 395.427C213.929 410.042 241.004 466.601 241.004 466.601Z"
        fill="black"
      />
      <path
        opacity="0.1"
        d="M397.866 529.559L404.947 529.25L408.146 501.742L401.914 502.015L397.866 529.559Z"
        fill="black"
      />
      <path
        d="M270.046 392.34C270.046 392.34 303.456 381.738 307.118 430.212C310.781 478.687 307.504 500.128 307.504 500.128L406.219 499.795L402.428 532.396C402.428 532.396 294.487 544.269 282.151 539.769C269.814 535.27 241.968 463.526 241.968 463.526C241.968 463.526 214.867 406.955 270.046 392.34Z"
        fill="#00ab6b"
      />
      <path
        opacity="0.1"
        d="M271.267 320.858C273.053 313.734 264.841 313.509 262.271 306.611L315.882 324.419C311.889 328.943 308.288 333.75 305.114 338.797C302.259 339.454 299.34 339.852 296.401 339.984C283.371 340.577 279.889 328.67 271.267 320.858Z"
        fill="black"
      />
      <path
        d="M299.459 335.825C324.241 334.725 343.366 315.273 342.176 292.377C340.986 269.48 319.931 251.811 295.148 252.911C270.366 254.01 251.241 273.463 252.431 296.359C253.622 319.256 274.677 336.925 299.459 335.825Z"
        fill="#F8B9BF"
      />
      <path
        opacity="0.1"
        d="M274.094 423.125C274.094 423.125 288.306 485.323 305.088 491.675C321.87 498.026 314.263 499.38 314.263 499.38"
        fill="black"
      />
      <path
        opacity="0.1"
        d="M332.665 458.255C332.665 458.255 320.791 461.686 306.964 445.29Z"
        fill="black"
      />
      <path
        d="M243.253 255.561C254.608 255.561 263.813 247.056 263.813 236.565C263.813 226.074 254.608 217.57 243.253 217.57C231.898 217.57 222.693 226.074 222.693 236.565C222.693 247.056 231.898 255.561 243.253 255.561Z"
        fill="#FA595F"
      />
      <path
        d="M228.81 246.597C225.236 243.076 223.247 238.43 223.247 233.603C223.247 228.776 225.236 224.13 228.81 220.609C228.476 220.858 228.141 221.108 227.833 221.381C223.859 224.832 221.532 229.6 221.363 234.636C221.195 239.672 223.198 244.564 226.934 248.236C230.669 251.907 235.83 254.057 241.281 254.213C246.732 254.369 252.027 252.518 256.001 249.067C256.322 248.794 256.604 248.497 256.887 248.212C252.861 251.29 247.718 252.836 242.503 252.536C237.287 252.236 232.391 250.112 228.81 246.597Z"
        fill="#FA595F"
      />
      <path
        d="M240.555 253.768C235.337 254.058 230.195 252.501 226.175 249.414C222.155 246.326 219.559 241.94 218.915 237.147C218.915 237.539 218.915 237.931 218.915 238.334C219.256 243.363 221.745 248.06 225.834 251.393C227.859 253.043 230.216 254.309 232.771 255.118C235.325 255.927 238.027 256.263 240.722 256.107C243.417 255.951 246.052 255.306 248.477 254.209C250.902 253.112 253.07 251.585 254.856 249.714C256.643 247.843 258.013 245.666 258.888 243.306C259.763 240.946 260.127 238.45 259.958 235.96C259.958 235.556 259.868 235.176 259.817 234.773C259.827 239.609 257.84 244.268 254.261 247.798C250.682 251.327 245.78 253.463 240.555 253.768V253.768Z"
        fill="#FA595F"
      />
      <path
        opacity="0.1"
        d="M313.865 253.079C318.658 255.264 324.145 255.869 329.285 257.247C334.425 258.624 339.668 261.141 341.929 265.628C343.587 268.929 343.394 272.835 345.129 276.1C347.622 280.848 353.379 283.033 358.673 284.897C354.124 290.536 344.358 289.005 337.984 285.17C331.611 281.335 326.124 275.672 318.709 274.188C315.051 273.522 311.259 273.916 307.853 275.316C304.446 276.716 301.591 279.055 299.678 282.012C297.648 285.301 296.928 289.135 295.926 292.792C293.356 302.432 288.216 312.025 279.221 317.498C270.226 322.971 256.823 322.935 249.768 315.444C245.656 311.075 244.281 305.127 243.06 299.452C242.365 296.806 242.033 294.09 242.071 291.367C242.482 284.553 247.391 278.747 252.351 273.69C258.198 267.753 264.417 262.055 270.637 256.392C276.008 251.5 282.202 243.214 290.298 242.632C299.627 241.943 306.219 249.625 313.865 253.079Z"
        fill="black"
      />
      <path
        d="M312.58 251.892C317.373 254.077 322.86 254.682 328 256.059C333.14 257.437 338.383 259.953 340.644 264.441C342.302 267.742 342.109 271.648 343.844 274.912C346.337 279.661 352.094 281.846 357.388 283.71C352.839 289.349 343.073 287.817 336.699 283.983C330.326 280.148 324.839 274.485 317.424 273.001C313.766 272.334 309.974 272.728 306.568 274.129C303.161 275.529 300.306 277.868 298.393 280.825C296.363 284.113 295.643 287.948 294.641 291.605C292.071 301.245 286.931 310.838 277.936 316.311C268.941 321.784 255.538 321.748 248.483 314.257C244.371 309.888 242.996 303.94 241.775 298.265C241.08 295.619 240.748 292.903 240.786 290.18C241.197 283.365 246.106 277.56 251.066 272.502C256.913 266.566 263.132 260.868 269.352 255.205C274.723 250.313 280.917 242.026 289.013 241.445C298.342 240.756 304.934 248.437 312.58 251.892Z"
        fill="#FA595F"
      />
      <path
        d="M317.54 515.562H192.855C186.823 515.562 181.932 520.08 181.932 525.653V526.389C181.932 531.962 186.823 536.48 192.855 536.48H317.54C323.572 536.48 328.463 531.962 328.463 526.389V525.653C328.463 520.08 323.572 515.562 317.54 515.562Z"
        fill="#D6D6E3"
      />
      <path
        opacity="0.1"
        d="M181.932 526.247V527.897C181.932 530.18 182.914 532.369 184.661 533.983C186.408 535.597 188.778 536.504 191.249 536.504H319.146C321.617 536.504 323.987 535.597 325.734 533.983C327.481 532.369 328.463 530.18 328.463 527.897V526.247H181.932Z"
        fill="black"
      />
      <path
        d="M465.175 537.371H439.976V833.974H465.175V537.371Z"
        fill="#D6D6E3"
      />
      <path
        opacity="0.1"
        d="M465.175 537.371H439.976V556.604H465.175V537.371Z"
        fill="black"
      />
      <path
        d="M1094.1 516.108H427.923V554.574H1094.1V516.108Z"
        fill="#D6D6E3"
      />
    </g>
    <defs>
      <linearGradient
        id="paint0_linear"
        x1="1110.37"
        y1="823.912"
        x2="1161.26"
        y2="212.001"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#808080" stop-opacity="0.25" />
        <stop offset="0.54" stop-color="#808080" stop-opacity="0.12" />
        <stop offset="1" stop-color="#808080" stop-opacity="0.1" />
      </linearGradient>
      <linearGradient
        id="paint1_linear"
        x1="103388"
        y1="430406"
        x2="103388"
        y2="119848"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#808080" stop-opacity="0.25" />
        <stop offset="0.54" stop-color="#808080" stop-opacity="0.12" />
        <stop offset="1" stop-color="#808080" stop-opacity="0.1" />
      </linearGradient>
      <clipPath id="clip0">
        <rect width="1440" height="1024" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>

<style>
@keyframes appear {
  0% {
    opacity: 0;
  }
}
</style>
