<template>
  <div>
    <Breadcrumb :items="breadcrumb" />
    <b-card :class="this.$store.state.darkMode ? 'bg-dark' : ''">
      <div v-if="roles.includes('create-employees')">
        <div class="d-none d-md-block">
          <b-button
            class="mb-3"
            @click="info(form, $event.target)"
            variant="success shadow"
            size="sm"
            ><b-icon-plus scale="1.5"></b-icon-plus> {{ $t("New") }}</b-button
          >
        </div>
        <b-row
          style="font-size: 3rem"
          class="fab d-block d-md-none d-lg-none d-xl-none"
        >
          <b-icon
            icon="plus"
            @click="info(form, $event.target)"
            class="rounded-circle bg-success shadow p-2"
            variant="light"
          ></b-icon>
        </b-row>
      </div>

      <div v-if="roles.includes('read-employees')">
        <b-row>
          <b-col align-self="start">
            <label class="mr-sm-2 str" for="inline-form-custom-select-pref"
              >{{ $t("Show") }}&nbsp;
            </label>
            <b-form-select
              id="inline-form-custom-select-pref"
              v-model="limitData"
              size="sm"
              class="mr-sm-2 mb-sm-0 col-5 col-sm-6 col-md-3"
              :options="[50, 100, 500]"
              :value="50"
              @change="getEmployees"
            ></b-form-select>
          </b-col>
          <b-col class="d-flex justify-content-end">
            <b-input-group size="sm" class="col-12 col-md-8">
              <b-form-input
                v-model="searchData"
                :placeholder="$t('Search') + '...'"
                @input="getEmployees"
              ></b-form-input>
              <span class="input-group-append">
                <div
                  class="input-group-text bg-transparent"
                  type="button"
                  @click="getEmployees"
                >
                  <b-icon-search class="icon"></b-icon-search>
                </div>
              </span>
            </b-input-group>
          </b-col>
        </b-row>
        <b-row class="mt-3 list-row block">
          <b-col>
            <b-table
              responsive
              hover
              outlined
              small
              :dark="this.$store.state.darkMode"
              :items="employees"
              :fields="fields"
              :busy="isBusy"
            >
              <template #table-busy>
                <div class="text-center text-success my-2">
                  <b-spinner class="align-middle"></b-spinner>
                  <strong>{{ $t("Loading") }}...</strong>
                </div>
              </template>
              <template #cell(index)="data">
                {{ data.index + 1 }}
              </template>
              <template #cell(actions)="row">
                <b-button
                  size="sm"
                  @click="row.toggleDetails"
                  variant="warning"
                >
                  <div class="d-none d-md-block">
                    {{ row.detailsShowing ? "Hide" : "Show" }}
                    <b-icon-chevron-down></b-icon-chevron-down>
                  </div>
                  <b-icon-chevron-down
                    class="d-block d-md-none"
                  ></b-icon-chevron-down>
                </b-button>
              </template>
              <template #row-details="row">
                <b-col class="text-center mb-3">
                  <b-button
                    size="sm"
                    v-if="roles.includes('update-employees')"
                    @click="info(row.item, $event.target)"
                    class="mr-1"
                    variant="success"
                  >
                    <b-icon-pencil-square></b-icon-pencil-square>
                    {{ $t("Update") }}
                  </b-button>
                  <b-button size="sm" class="mr-1" variant="danger">
                    <b-icon-trash></b-icon-trash>
                    {{ $t("Delete") }}
                  </b-button>
                </b-col>
                <div>
                  <table>
                    <tr v-for="(value, key) in row.item" :key="key">
                      <td>{{ key }}</td>
                      <td>{{ value }}</td>
                    </tr>
                  </table>
                </div>
              </template>
              <b-col v-if="!recordShow" class="text-center str">
                <span> {{ $t("NoAvailable") }}</span>
              </b-col>
            </b-table>
          </b-col>
        </b-row>
        <b-row>
          <b-col align-self="start">
            <label
              v-if="recordShow"
              class="mr-sm-2 str"
              for="inline-form-custom-select-pref"
              >{{ $t("Showing") }}
              {{ recordShow + " " + $t("of") + " " + recordsTotal }} data.
            </label>
          </b-col>
          <b-col class="d-flex justify-content-end">
            <b-pagination
              v-model="pagination"
              :total-rows="recordsTotal"
              :per-page="limitData"
              align="fill"
              size="sm"
              class="my-0"
            ></b-pagination>
          </b-col>
        </b-row>
      </div>
    </b-card>
    <b-row class="mb-5"></b-row>
    <b-modal
      size="lg"
      :id="infoModal.id"
      :title="infoModal.title"
      @ok="handleOk"
      @hidden="resetForm"
      ok-title="Save"
      ok-variant="success"
    >
      <b-container>
        <form ref="form" @submit.stop.prevent="handleSubmit">
          <b-row>
            <b-col class="col-12 col-md-5"
              ><b-form-group :label="$t('Code')"
                ><b-form-input
                  v-model="form.employee_code"
                  required
                ></b-form-input></b-form-group
            ></b-col>
            <b-col class="col-12 col-md-7"
              ><b-form-group :label="$t('Fullname')"
                ><b-form-input
                  v-model="form.fullname"
                  required
                ></b-form-input></b-form-group
            ></b-col>
          </b-row>
          <b-row>
            <b-col class="col-12 col-md-5"
              ><b-form-group :label="$t('Place_birth')"
                ><b-form-input
                  v-model="form.place_birth"
                  required
                ></b-form-input></b-form-group
            ></b-col>
            <b-col class="col-12 col-md-7"
              ><b-form-group :label="$t('Date_birth')"
                ><b-form-datepicker
                  v-model="form.date_birth"
                  :locale="$i18n.locale"
                  required
                ></b-form-datepicker></b-form-group
            ></b-col>
          </b-row>
          <b-form-group :label="$t('Gender')">
            <b-form-radio-group
              v-model="form.gender"
              :options="[
                { text: this.$t('Male'), value: 'L' },
                { text: this.$t('Feemale'), value: 'P' }
              ]"
              name="radio-options"
            ></b-form-radio-group>
          </b-form-group>

          <b-row>
            <b-col class="col-12 col-md-4"
              ><b-form-group :label="$t('Position')"
                ><b-form-input
                  v-model="form.position"
                  required
                ></b-form-input></b-form-group
            ></b-col>
            <b-col class="col-12 col-md-4"
              ><b-form-group :label="$t('Gaji_pokok')"
                ><b-input-group prepend="Rp.">
                  <b-form-input
                    :placeholder="$t('Value')"
                    type="number"
                    min="0"
                    v-model="form.gaji_pokok"
                  ></b-form-input> </b-input-group></b-form-group
            ></b-col>
            <b-col class="col-12 col-md-4"
              ><b-form-group :label="$t('Tunjangan')"
                ><b-input-group prepend="Rp.">
                  <b-form-input
                    :placeholder="$t('Value')"
                    type="number"
                    min="0"
                    v-model="form.tunjangan"
                  ></b-form-input> </b-input-group></b-form-group
            ></b-col>
          </b-row>

          <b-form-group :label="$t('Employee_status')">
            <b-form-checkbox switch v-model="form.activated">{{
              form.activated ? $t("Active") : $t("Inactive")
            }}</b-form-checkbox>
          </b-form-group>

          <b-card>
            <b-card-header class="text-center">
              <strong>{{ $t("Additional_components") }}</strong></b-card-header
            >
            <b-card-body>
              <div
                v-for="(item, index) in form.fixedComponents"
                v-bind:key="index"
              >
                <b-form-group>
                  <b-row>
                    <b-col cols="4">
                      <b-form-input
                        :placeholder="$t('Component_name')"
                        v-model="form.fixedComponents[index].name"
                      ></b-form-input>
                    </b-col>
                    <b-col cols="3">
                      <b-form-select
                        v-model="form.fixedComponents[index].type"
                        :options="type_komponen"
                      ></b-form-select>
                    </b-col>
                    <b-col cols="4">
                      <b-input-group prepend="Rp.">
                        <b-form-input
                          :placeholder="$t('Value')"
                          type="number"
                          min="0"
                          v-model="form.fixedComponents[index].value"
                        ></b-form-input>
                      </b-input-group>
                    </b-col>
                    <b-col cols="1">
                      <b-button variant="danger" @click="removeComponent(index)"
                        ><b-icon-trash></b-icon-trash
                      ></b-button>
                    </b-col>
                  </b-row>
                </b-form-group>
              </div>
              <b-form-group>
                <hr />
                <b-row>
                  <b-col cols="4">
                    <b-form-input
                      :placeholder="$t('Component_name')"
                      v-model="newComponent.name"
                    ></b-form-input>
                  </b-col>
                  <b-col cols="3">
                    <b-form-select
                      v-model="newComponent.type"
                      :options="type_komponen"
                    ></b-form-select>
                  </b-col>
                  <b-col cols="4">
                    <b-input-group prepend="Rp.">
                      <b-form-input
                        :placeholder="$t('Value')"
                        type="number"
                        min="0"
                        v-model="newComponent.value"
                      ></b-form-input>
                    </b-input-group>
                  </b-col>
                  <b-col cols="1">
                    <b-button variant="primary" @click="addNewComponent()"
                      ><b-icon-plus scale="1.5"></b-icon-plus
                    ></b-button>
                  </b-col>
                </b-row>
              </b-form-group>
            </b-card-body>
          </b-card>
        </form>
      </b-container>
    </b-modal>
  </div>
</template>

<script>
import demoAccount from "~/plugins/alert-demo-account";
import Breadcrumb from "~/components/Breadcrumb";
export default {
  name: "Employee",
  auth: true,
  components: {
    Breadcrumb
  },
  middleware: ["role"],
  data() {
    return {
      id_user_login: this.$auth.$state.user._id,
      roles: this.$store.state.roles,
      fields: [
        {
          key: "index",
          label: "#"
        },
        {
          key: "employee_code",
          label: this.$t("Code"),
          sortable: true
        },
        {
          key: "fullname",
          label: this.$t("Fullname"),
          sortable: true
        },
        {
          key: "position",
          label: this.$t("Position"),
          sortable: true
        },
        { key: "actions", label: this.$t("Actions"), class: "text-center" }
      ],
      employees: [],
      recordsTotal: 0,
      recordShow: 0,
      limitData: 50,
      pagination: 1,
      searchData: "",
      isBusy: false,
      isBusySubmit: false,
      breadcrumb: [
        {
          text: this.$t("Home"),
          to: "home"
        },
        {
          text: this.$t("Employee"),
          active: true
        }
      ],
      form: {
        _id: null,
        employee_code: null,
        fullname: null,
        place_birth: null,
        date_birth: null,
        gender: null,
        position: null,
        gaji_pokok: 0,
        tunjangan: 0,
        fixedComponents: [],
        activated: true
      },
      type_komponen: [
        { value: 1, text: "Penambah" },
        { value: -1, text: "Pengurang" }
      ],
      newComponent: {
        name: null,
        type: 1,
        value: null
      },
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      }
    };
  },
  head() {
    return {
      title: this.$t("Employee")
    };
  },

  computed: {},
  created() {
    this.getEmployees();
  },

  methods: {
    async userAction(id, fullname) {
      if (this.$auth.$state.user.demo_account) {
        demoAccount.alert(
          this.$t("AlertDemoTitle"),
          this.$t("AlertDemoContent")
        );
      } else {
        await this.$confirm({
          title: "⛔ " + fullname,
          message: this.$t("AlertDeleteContent"),
          button: {
            no: this.$t("Back"),
            yes: this.$t("Continue")
          },
          callback: confirm => {
            if (confirm) {
              alert("OK");
            }
          }
        });
      }
    },
    async getEmployees() {
      this.isBusy = true;
      this.pagination = 1;
      const employees = await this.$axios.$get("/employees", {
        params: {
          pagination: this.pagination,
          limit: this.limitData,
          search: this.searchData
        }
      });
      this.recordsTotal = employees.recordsTotal;
      this.employees = employees.data;
      this.recordShow = this.employees.length;
      this.isBusy = false;
    },

    async info(item, button) {
      this.infoModal.title = item.fullname;
      this.form._id = item._id;
      this.form.employee_code = item.employee_code;
      this.form.fullname = item.fullname;
      this.form.gender = item.gender;
      this.form.place_birth = item.place_birth;
      this.form.date_birth = item.date_birth;
      this.form.position = item.position;
      this.form.gaji_pokok = item.gaji_pokok;
      this.form.tunjangan = item.tunjangan;
      this.form.fixedComponents = item.fixedComponents;
      this.form.activated = item.activated == 1 ? true : false;
      this.$root.$emit("bv::show::modal", this.infoModal.id, button);
    },
    async addNewComponent() {
      if (!this.newComponent.name) {
        this.$confirm({
          title: "⚠ Warning",
          message: `${this.$t("Component_name")} kosong`,
          button: {
            yes: this.$t("Ok")
          }
        });
      } else if (!this.newComponent.value) {
        this.$confirm({
          title: "⚠ Warning",
          message: `${this.$t("Value")} kosong`,
          button: {
            yes: this.$t("Ok")
          }
        });
      } else {
        this.form.fixedComponents.push(this.newComponent);
        this.newComponent = { name: null, type: 1, value: null };
      }
    },
    async removeComponent(index) {
      this.form.fixedComponents.splice(index, 1);
    },
    async resetForm() {
      this.form = {
        _id: null,
        employee_code: null,
        fullname: null,
        place_birth: null,
        date_birth: null,
        gender: null,
        position: null,
        gaji_pokok: 0,
        tunjangan: 0,
        fixedComponents: [],
        activated: true
      };
    },

    async handleOk(bvModalEvt) {
      bvModalEvt.preventDefault();
      const _id = this.form._id;
      if (_id) {
        this.putData();
      } else {
        this.postData();
      }
    },

    async postData() {
      let form = this.form;
      await this.$axios
        .post(`employees`, form)
        .then(({ data }) => {
          this.isBusySubmit = false;
          this.resetForm();
          this.$root.$emit("bv::hide::modal", this.infoModal.id);
          this.getEmployees();
          console.log(data);
          // this.$toast.success("Data agenda berhasil ditambahkan");
        })
        .catch(error => {
          if (error.response) {
            const { message } = error.response.data;
            this.isBusySubmit = false;
            this.$confirm({
              title: "⛔ Error",
              message: message[this.$i18n.locale],
              button: {
                yes: this.$t("Ok")
              }
            });
          }
        });
    },
    async putData() {
      let form = this.form;
      await this.$axios
        .put(`employees/${form._id}`, form)
        .then(({ data }) => {
          this.isBusySubmit = false;
          this.resetForm();
          this.$root.$emit("bv::hide::modal", this.infoModal.id);
          this.getEmployees();
          console.log(data);
          // this.$toast.success("Data agenda berhasil ditambahkan");
        })
        .catch(error => {
          if (error.response) {
            const { message } = error.response.data;
            this.isBusySubmit = false;
            this.$confirm({
              title: "⛔ Error",
              message: message[this.$i18n.locale],
              button: {
                yes: this.$t("Ok")
              }
            });
          }
        });
    },
    bgAvatar() {
      return this.colorAvatar[
        Math.floor(Math.random() * this.colorAvatar.length)
      ];
    }
  }
};
</script>

<style scoped></style>
