<template>
  <div>
    <Breadcrumb :items="breadcrumb" />
    <b-card :class="this.$store.state.darkMode ? 'bg-dark' : ''">
      <div v-if="roles.includes('read-my-payroll')">
        <b-row align-h="center">
          <b-col cols="12" class="col-md-4 mb-4">
            <b-input-group class="mb-2" size="sm">
              <b-input-group-append is-text>
                <span class="str">Periode</span>
              </b-input-group-append>
              <VueMonthlyPicker
                :inputClass="{ input: isDisplayInput }"
                :disabled="isDisable"
                :monthLabels="locale"
                :clearOption="clearOption"
                :min="min"
                :max="max"
                @selected="handleSelect"
                v-model="selectedMonth"
                :alignment="alignment"
                :selectedBackgroundColor="selectedBackgroundColor"
              ></VueMonthlyPicker>
              <span class="input-group-append">
                <div class="input-group-text bg-transparent">
                  <b-icon-calendar-month
                    scale="0.9"
                    class="icon"
                  ></b-icon-calendar-month>
                </div>
              </span>
            </b-input-group>
          </b-col>
        </b-row>
        <b-row align-h="center">
          <b-col cols="12" class="col-md-8 mb-4">
            <div
              class="slip-preview"
              ref="previewSlip"
              v-if="templateParams.composition.info.employee_code"
            >
              <center style="width: 100%; table-layout: fixed;">
                <div
                  style="max-width: 400px; border-style: double; padding:10px;"
                >
                  <table style="border-collapse: collapse; width: 100%">
                    <tbody>
                      <tr>
                        <td style="width: 50%">
                          <strong>PT. Mekar Jaya</strong>
                        </td>
                        <td style="width: 50%; text-align: right">
                          <strong>SLIP GAJI</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <p style="text-align: right; margin: 0;">
                    {{ templateParams.composition.info.month_text }}
                    {{ templateParams.year }}
                  </p>
                  <hr style="background-color: gray;margin: 0;" />
                  <table style="border-collapse: collapse; width: 100%">
                    <tbody>
                      <tr>
                        <td style="width: 30.7563%">Kode Karyawan</td>
                        <td style="width: 2.53408%">:</td>
                        <td style="width: 66.7095%">
                          {{ templateParams.composition.info.employee_code }}
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 30.7563%">Nama Lengkap</td>
                        <td style="width: 2.53408%">:</td>
                        <td style="width: 66.7095%">
                          {{ templateParams.composition.info.fullname }}
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 30.7563%">Jabatan</td>
                        <td style="width: 2.53408%">:</td>
                        <td style="width: 66.7095%">
                          {{ templateParams.composition.info.position }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <hr style="background-color: gray;margin: 0;" />
                  <table
                    style="border-collapse: collapse; width: 100%; margin-top: 15px;"
                  >
                    <thead>
                      <tr>
                        <td style="width: 43.7485%">
                          <strong>A. Upah tetap</strong>
                        </td>
                        <td style="width: 4.4834%; text-align: center;">
                          &nbsp;
                        </td>
                        <td style="width: 51.7679%">&nbsp;</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(item, index) in templateParams.composition
                          .upah_tetap"
                        v-bind:key="index"
                      >
                        <td style="width: 43.7485%">
                          &nbsp;&nbsp;&nbsp;- {{ item.name }}
                        </td>
                        <td style="width: 4.4834%; text-align: center;">:</td>
                        <td style="width: 51.7679%; text-align: right;">
                          {{ item.value_text }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table
                    style="
                          border-collapse: collapse;
                          width: 100%;
                          height: 18px;
                          margin-top: 10px;
                        "
                  >
                    <thead>
                      <tr>
                        <td style="width: 43.7485%">
                          <strong>B. Upah tidak tetap</strong>
                        </td>
                        <td style="width: 4.4834%; text-align: center;">
                          &nbsp;
                        </td>
                        <td style="width: 51.7679%">&nbsp;</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(item, index) in templateParams.composition
                          .upah_tidak_tetap"
                        v-bind:key="index"
                      >
                        <td style="width: 43.7485%">
                          &nbsp;&nbsp;&nbsp;- {{ item.name }}
                        </td>
                        <td style="width: 4.4834%; text-align: center;">:</td>
                        <td style="width: 51.7679%; text-align: right;">
                          {{ item.value_text }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table
                    style="
                          border-collapse: collapse;
                          width: 100%;
                          margin-top: 10px;
                        "
                  >
                    <thead>
                      <tr>
                        <td style="width: 43.7485%">
                          <strong>C. Potongan</strong>
                        </td>
                        <td style="width: 4.4834%; text-align: center;">
                          &nbsp;
                        </td>
                        <td style="width: 51.7679%">&nbsp;</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(item, index) in templateParams.composition
                          .potongan"
                        v-bind:key="index"
                      >
                        <td style="width: 43.7485%">
                          &nbsp;&nbsp;&nbsp;- {{ item.name }}
                        </td>
                        <td style="width: 4.4834%; text-align: center;">:</td>
                        <td style="width: 51.7679%; text-align: right;">
                          {{ item.value_text }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <p>&nbsp;</p>
                  <table
                    style="border-collapse: collapse; width: 100%"
                    border="1"
                  >
                    <tbody>
                      <tr>
                        <td style="width: 43.7485%">
                          &nbsp;
                          <strong>Total Penerimaan</strong>
                        </td>
                        <td style="width: 4.4834%; text-align: center;">:</td>
                        <td style="width: 51.7679%">
                          &nbsp;<strong>{{
                            templateParams.composition.info.net_salary_text
                          }}</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </center>
            </div>
          </b-col>
        </b-row>
      </div>
    </b-card>
    <b-row class="mb-5"></b-row>
  </div>
</template>

<script>
import moment from "moment";
import Breadcrumb from "~/components/Breadcrumb";
import VueMonthlyPicker from "~/components/VueMonthlyPicker";
export default {
  name: "Payroll",
  auth: true,
  components: {
    Breadcrumb,
    VueMonthlyPicker
  },
  middleware: ["role"],
  data() {
    return {
      id_user_login: this.$auth.$state.user._id,
      roles: this.$store.state.roles,
      selectedMonth: moment(),
      isDisable: false,
      isDisplayInput: true,
      locale: [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec"
      ],
      monthName: [
        "Januari",
        "Februari",
        "Maret",
        "April",
        "Mei",
        "Juni",
        "Juli",
        "Agustus",
        "September",
        "Oktober",
        "November",
        "Desember"
      ],
      alignment: "center",
      selectedBackgroundColor: "#00ab6b",
      alignments: ["left", "center", "right"],
      colorExamples: ["blue", "red", "black"],
      min: null,
      max: null,
      isLimitRange: false,
      clearOption: false,
      period: [],
      breadcrumb: [
        {
          text: this.$t("Home"),
          to: "home"
        },
        {
          text: this.$t("Gajiku"),
          active: true
        }
      ],
      form: {
        year: moment().format("Y"),
        month: moment().format("MM")
      },
      templateParams: {
        month_text: null,
        month: null,
        year: null,
        employee_id: null,
        employee_code: null,
        fullname: null,
        position: null,
        not_work: null,
        overtime: null,
        approved: null,
        note: null,
        composition: {
          upah_tetap: [],
          upah_tidak_tetap: [],
          potongan: [],
          info: {
            month_text: null,
            employee_code: null,
            fullname: null,
            position: null,
            net_salary_text: null
          }
        },
        gaji_pokok: 0,
        tunjangan: 0,
        net_salary: 0
      }
    };
  },
  head() {
    return {
      title: this.$t("Gajiku")
    };
  },

  computed: {
    rangeDisplay() {
      if (!this.min || !this.max) {
        return "Disabled";
      }
      return this.min.format("YYYY/MM") + "-" + this.max.format("YYYY/MM");
    }
  },
  watch: {
    isLimitRange(newValue) {
      if (newValue) {
        this.setSelectRange(
          moment().subtract(6, "months"),
          moment().add(6, "months")
        );
      } else {
        this.setSelectRange(null, null);
      }
    }
  },
  created() {
    this.getEmployees();
  },
  methods: {
    async getEmployees() {
      const gajiku = await this.$axios
        .$get("/payroll/my", {
          params: {
            year: this.form.year,
            month: this.form.month
          }
        })
        .catch(error => {
          if (error.response) {
            const { message } = error.response.data;
            this.isBusySubmit = false;
            this.$confirm({
              title: "⚠ Info",
              message: message[this.$i18n.locale],
              button: {
                yes: this.$t("Ok")
              }
            });
          }
        });
      console.log(gajiku.data);
      this.templateParams = gajiku.data;
    },
    async downloadSlipGaji() {
      this.isBusySubmit = true;
      const formParams = this.templateParams;

      var fileName = `${formParams.employee_code}_${formParams.fullname}_${formParams.month}${formParams.year}.pdf`;
      await this.$axios({
        url: "payroll/download",
        method: "POST",
        data: formParams,
        responseType: "blob" // important
      })
        .then(response => {
          const url = window.URL.createObjectURL(new Blob([response.data]));
          const link = document.createElement("a");
          link.href = url;
          link.setAttribute("download", fileName);
          document.body.appendChild(link);
          link.click();
          this.isBusySubmit = false;
          this.$root.$emit("bv::hide::modal", this.infoModal.id);
        })
        .catch(error => {
          if (error.response) {
            const { message } = error.response.data;
            this.isBusySubmit = false;
            this.$confirm({
              title: "⛔ Error",
              message: message[this.$i18n.locale],
              button: {
                yes: this.$t("Ok")
              }
            });
          }
        });
    },
    handleSelect(value) {
      this.form.year = value.format("Y");
      this.form.month = value.format("MM");
      this.getEmployees();
    },
    setSelectRange(min, max) {
      this.min = min;
      this.max = max;
    }
  }
};
</script>

<style scoped></style>
